<div class="c-footer__actions l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-medium-4">
            <div class="c-footer__action-holder">
                <h6 class="c-heading c-heading--subsection-xsmall c-footer__action-headline">Call us</h6>
                <p class="c-copy c-copy--secondary c-footer__action-description">We are open, call us now</p>
                <button class="c-button c-footer__action-button">Call {{> roi-tel-number}}</button>
                <p class="c-copy c-footer__action-footer">Available today from 8am to 6pm</p>
            </div>
        </div>
        <div class="l-grid__column-medium-4">
            <div class="c-footer__action-holder">
                <h6 class="c-heading c-heading--subsection-xsmall c-footer__action-headline">Email us</h6>
                <p class="c-copy c-copy--secondary c-footer__action-description">Click below to email us now</p>
                <button class="c-button c-footer__action-button">Email</button>
                <p class="c-copy c-footer__action-footer">Get in touch by email anytime</p>
            </div>
        </div>
        <div class="l-grid__column-medium-4">
            <div class="c-footer__action-holder">
                <h6 class="c-heading c-heading--subsection-xsmall c-footer__action-headline c-footer__action-headline--last">Arrange callback</h6>
                <p class="c-copy c-copy--secondary c-footer__action-description">Let us know when suits</p>
                <button class="c-button c-footer__action-button c-footer__action-button--last">Call me Back</button>
                <p class="c-copy c-footer__action-footer">We’ll call when it suits you</p>
            </div>
        </div>
    </div>
</div>