<div class="c-footer__navigation">
    <div class="l-grid l-grid--max-width u-background-inherit">
        <div class="l-grid__row">
            <div class="l-grid__column-medium-3">
                <h6 class="c-heading c-footer__navigation-headline c-heading--subsection-xsmall c-icon c-icon--chevron-down">Our products</h6>
                <ul class="c-footer__navigation-list" role="navigation" aria-label="Our Products">
                    <li class="c-footer__navigation-item">
                        <a href="#" class="c-footer__navigation-link">Car Insurance</a>
                    </li>
                    <li class="c-footer__navigation-item">
                        <a href="#" class="c-footer__navigation-link">Home Insurance</a>
                    </li>
                    <li class="c-footer__navigation-item">
                        <a href="#" class="c-footer__navigation-link">Pet Insurance</a>
                    </li>
                    <li class="c-footer__navigation-item">
                        <a href="#" class="c-footer__navigation-link">Boat Insurance</a>
                    </li>
                    <li class="c-footer__navigation-item">
                        <a href="#" class="c-footer__navigation-link">Travel Insurance</a>
                    </li>
                </ul>
            </div>
            <div class="l-grid__column-medium-3">
                <h6 class="c-heading c-footer__navigation-headline c-heading--subsection-xsmall c-icon c-icon--chevron-down">Why choose Allianz?</h6>
                <ul class="c-footer__navigation-list" role="navigation" aria-label="Why choose Allianz?">
                    <li class="c-footer__navigation-item">
                        <a href="#" class="c-footer__navigation-link">Our Company</a>
                    </li>
                    <li class="c-footer__navigation-item">
                        <a href="#" class="c-footer__navigation-link">Social Responsibility</a>
                    </li>
                    <li class="c-footer__navigation-item">
                        <a href="#" class="c-footer__navigation-link">In the Community</a>
                    </li>
                </ul>
            </div>
            <div class="l-grid__column-medium-3">
                <h6 class="c-heading c-footer__navigation-headline c-heading--subsection-xsmall c-icon c-icon--chevron-down">Contact &amp; careers</h6>
                <ul class="c-footer__navigation-list" role="navigation" aria-label="Why choose?">
                    <li class="c-footer__navigation-item">
                        <a href="#" class="c-footer__navigation-link">Contact Us</a>
                    </li>
                    <li class="c-footer__navigation-item">
                        <a href="#" class="c-footer__navigation-link">Careers</a>
                    </li>
                    <li class="c-footer__navigation-item">
                        <a href="#" class="c-footer__navigation-link">Life at Allianz</a>
                    </li>
                </ul>
            </div>
            <div class="l-grid__column-medium-3">
                <h6 class="c-heading c-footer__navigation-headline c-heading--subsection-xsmall c-icon c-icon--chevron-down">Social &amp; competitions</h6>
                <ul class="c-footer__navigation-list" role="navigation" aria-label="Get advice on your topics">
                    <li class="c-footer__navigation-item">
                        <a href="#" class="c-footer__navigation-link">Monthly prize draw</a>
                    </li>
                    <li class="c-footer__navigation-item">
                        <a href="#" class="c-footer__navigation-link">Competition winners</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="l-grid__row c-footer__navigation__illustrator-container">
            <picture class="c-image  ">
                <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="{{root}}assets/img/illustration/ill-renters.png" />
            </picture>
        </div>
    </div>
</div>