<a class="c-footer__social-link" href="https://www.facebook.com/AllianzIreland" target="_blank" title="Allianz Ireland Facebook">
    <i class="c-social-icon c-social-icon--fb c-icon c-icon--facebook-circle" aria-hidden="true"></i>
</a>
<a class="c-footer__social-link" href="https://twitter.com/AllianzIreland" target="_blank" title="Allianz Ireland Twitter">
    <i class="c-social-icon c-social-icon--twitter c-icon c-icon--twitter-circle" aria-hidden="true"></i>
</a>
<a class="c-footer__social-link" href="https://www.linkedin.com/company/allianz-ireland" target="_blank" title="Allianz Ireland LinkedIn">
    <i class="c-social-icon c-social-icon--linkedin c-icon c-icon--linkedin-circle" aria-hidden="true"></i>
</a>
<a class="c-footer__social-link" href="https://www.youtube.com/user/AllianzIreland" target="_blank" title="Allianz Ireland YouTube">
    <i class="c-social-icon c-social-icon--youtube c-icon c-icon--youtube-circle" aria-hidden="true"></i>
</a>
<a class="c-footer__social-link" href="https://www.instagram.com/allianzireland" target="_blank" title="Allianz Ireland Instagram">
    <i class="c-social-icon c-social-icon--instagram c-icon c-icon--instagram-circle" aria-hidden="true"></i>
</a>