<div class="c-footer__super-ordinated-button l-grid l-grid--max-width js-footer-show-options">
    <div class="l-grid__row">
        <div class="l-grid__column-12">
            <p class="c-copy c--footer__super-ordinated-button__label u-text-center">Need help?</p>
        </div>
        <div class="l-grid__column-12">
            <h1 class="c-heading c--footer__super-ordinated-button__header c-heading--section u-text-center"> Get support and service </h1>
        </div>
        <div class="l-grid__column-12">
            <div class="c--footer__super-ordinated-button__icon-section">
                <i class="c--footer__super-ordinated-button__icon c-icon c-icon--product-headset-support"></i>
            </div>
        </div>
        <div class="l-grid__column-12">
            <p class="c-copy c--footer__super-ordinated-button__label c--footer__super-ordinated-button__phone-label u-text-center">Available today from 8am to 6pm</p>
        </div>
        <div class="l-grid__column-12">
            <div class="c--footer__super-ordinated-button__phone-section">
                <i class="c--footer__super-ordinated-button__phone-icon c-icon c-icon--phone-o"></i>
                <p class="c-copy c--footer__super-ordinated-button__telephone-label u-text-center">{{> roi-tel-number}}</p>
            </div>
        </div>
        <div class="l-grid__column-12">
            <button class="c-button c--footer__super-ordinated-button__telephone-button js-super-ordinated-show-option-button"> Show all options </button>
        </div>
    </div>
</div>