<hr class="c-divider c-divider--compact" />
<div class="c-footer__service--ai">
    <nav class="c-footer__legal" role="navigation" aria-label="Service Links">
        <a class="c-footer__legal-link" href="{{root}}{{country}}/terms-and-conditions/">Terms &amp; Conditions</a>
        <a class="c-footer__legal-link" href="#">Data Protection</a>
        <a class="c-footer__legal-link" href="#">Privacy &amp; Security</a>
    </nav>
    <div class="c-phone-link c-footer__phone">
        <a class="c-link " href='#' aria-label=" "><span aria-hidden="true" class="c-link__icon c-icon c-icon--phone-o"></span><!-- Fix White Space issue --><span class="c-link__text"> </span><em class='u-text-weight-semibold'>{{> roi-tel-number}}</em></a>
    </div>
</div>
<hr class="c-divider c-divider--compact" />
<div class="c-footer__signoff l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12">
            <span class="c-copy--medium t-grey-tone-3">Allianz p.l.c. is regulated by the Central Bank of Ireland. Registered in Ireland, No. 143108. Standard acceptance criteria, terms & conditions apply. Calls may be recorded or monitored for regulatory, training and quality purposes. Allianz Ireland, Allianz House, Elm Park, Merrion Road, Dublin 4, D04 Y6Y6.</span>
        </div>
    </div>
    
</div>