<a class="c-footer__social-link" href="#" title="Find us on Google+">
    <i class="c-icon c-icon--google-plus" aria-hidden="true"></i>
</a>
<a class="c-footer__social-link" href="#" title="Follow us on Facebook">
    <i class="c-icon c-icon--facebook" aria-hidden="true"></i>
</a>
<a class="c-footer__social-link" href="#" title="Subscribe to our twitter">
    <i class="c-icon c-icon--twitter" aria-hidden="true"></i>
</a>
<a class="c-footer__social-link" href="#" title="Follow us on instagram">
    <i class="c-icon c-icon--instagram" aria-hidden="true"></i>
</a>