$sizes : (
  5xs : 0px,
  4xs : 2px,
  3xs : 4px,
  2xs : 8px,
  xs  : 12px,
  s   : 16px,

  m   : 24px,
  2m  : 32px,
  3m  : 40px,
  4m  : 48px,

  l   : 56px,
  xl  : 64px,
  2xl : 72px,
  3xl : 80px,
  4xl : 88px,
  5xl : 96px
);