// Press release teaser article list
.c-teaser-press-release-articles {

}

.c-teaser-press-release-articles__c-heading {
  margin-bottom: 5px;
}

.c-teaser-press-release-articles__date {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.c-teaser-press-release-articles__c-breadcrumb {
  .c-icon {
    color: map-get($color-primary-action, primary-action-dark);
  }

  .c-breadcrumb__link {
    color: map-get($color-primary-action, primary-action-dark);

    &:hover {
      color: map-get($color-primary-action, primary-action-medium);
    }

    &:active,
    &:visited {
      color: map-get($color-basic, primary-brand);
    }

  }
  @include media-breakpoint-response(mobile) {
    display: block !important;
  }
}
