<div class="c-agent-card">
    <div class="c-agent-card__main-block">
        <h3 class="c-heading c-heading--section c-agent-card__name"> Georg Mustermann </h3>
        <p class="c-copy c-agent-card__position">General agent</p>
        <div class="c-agent-card__image-block">
            <picture class="c-image c-image--rounded c-agent-card__image">
                <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;agents&#x2F;agent-6.png" />
            </picture>
        </div>
        <p class="c-copy c-agent-card__info"> Mon - Fri, 9am - 5pm<br />Leopoldstr. 100<br />80802 München</p>
        <a class="c-link c-link--block" href='#' aria-label="Get directions"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Get directions</span></a>
    </div>
    <div class="c-agent-card__footer">
        <div class="c-agent-card__footer-links">
            <a class="c-link c-link--block c-link--negative c-agent-card__footer-link" href='#' aria-label="Call +49 89 336 412"><span aria-hidden="true" class="c-link__icon c-agent-card__footer-link-icon c-icon c-icon--phone-o"></span><!-- Fix White Space issue --><span class="c-link__text">Call +49 89 336 412</span></a>
            <a class="c-link c-link--block c-link--negative c-agent-card__footer-link" href='#' aria-label="Send a message"><span aria-hidden="true" class="c-link__icon c-agent-card__footer-link-icon c-icon c-icon--mail-o"></span><!-- Fix White Space issue --><span class="c-link__text">Send a message</span></a>
            <a class="c-link c-link--block c-link--negative c-agent-card__footer-link" href='#' aria-label="Arrange a meeting"><span aria-hidden="true" class="c-link__icon c-agent-card__footer-link-icon c-icon c-icon--user-o"></span><!-- Fix White Space issue --><span class="c-link__text">Arrange a meeting</span></a>
        </div>
    </div>
</div>