
<div class="l-container l-container--full-width t-bg-soft-beige-light">
  <div class="l-grid l-grid--max-width c-benefit-communication-tile ">
    <div class="l-grid__row justify-content-center">
      <div class="l-grid__column-medium-12 l-grid__column-large-10 ">
        <h2 class="c-heading c-benefit-communication-tile__heading u-text-center"> Why others choose our car insurance? <br />Your unique benefits </h2>
      </div>
      <div class="l-grid__column-small-12 l-grid__column-medium-6  l-grid__column-large-4 u-text-center">
        <div class="c-tile c-tile--benefit ">
          <picture class="c-image c-tile__image ">
            <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;product-page&#x2F;Car.png" />
          </picture>
          <h5 class="c-heading c-tile__heading-sub-section"> Special solutions on the road </h5>
          <span class="c-link c-link--block c-tile__info-link" href='#' aria-label="Read More"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read More</span></span>
        </div>
      </div>
      <div class="l-grid__column-small-12 l-grid__column-medium-6  l-grid__column-large-4 u-text-center">
        <div class="c-tile c-tile--benefit ">
          <picture class="c-image c-tile__image ">
            <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;product-page&#x2F;Checklist.png" />
          </picture>
          <h5 class="c-heading c-tile__heading-sub-section"> Receive car to do’s regularly to be prepared </h5>
          <span class="c-link c-link--block c-tile__info-link" href='#' aria-label="Read More"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read More</span></span>
        </div>
      </div>
      <div class="l-grid__column-small-12 l-grid__column-medium-6  l-grid__column-large-4 u-text-center">
        <div class="c-tile c-tile--benefit ">
          <picture class="c-image c-tile__image ">
            <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;product-page&#x2F;Phone.png" />
          </picture>
          <h5 class="c-heading c-tile__heading-sub-section"> Your insurance options hand everywhere </h5>
          <span class="c-link c-link--block c-tile__info-link" href='#' aria-label="Read More"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read More</span></span>
        </div>
      </div>
      <div class="l-grid__column-small-12 l-grid__column-medium-6  l-grid__column-large-4 u-text-center">
        <div class="c-tile c-tile--benefit ">
          <picture class="c-image c-tile__image ">
            <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;product-page&#x2F;Shield.png" />
          </picture>
          <h5 class="c-heading c-tile__heading-sub-section"> Car+ benefits when going abroad </h5>
          <span class="c-link c-link--block c-tile__info-link" href='#' aria-label="Read More"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read More</span></span>
        </div>
      </div>
      <div class="l-grid__column-small-12 l-grid__column-medium-6  l-grid__column-large-4 u-text-center">
        <div class="c-tile c-tile--benefit ">
          <picture class="c-image c-tile__image ">
            <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;product-page&#x2F;World.png" />
          </picture>
          <h5 class="c-heading c-tile__heading-sub-section"> Close cooperation with service garages globally </h5>
          <span class="c-link c-link--block c-tile__info-link" href='#' aria-label="Read More"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read More</span></span>
        </div>
      </div>
      <div class="l-grid__column-small-12 l-grid__column-medium-6  l-grid__column-large-4 u-text-center">
        <div class="c-tile c-tile--benefit ">
          <picture class="c-image c-tile__image ">
            <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;product-page&#x2F;Headset.png" />
          </picture>
          <h5 class="c-heading c-tile__heading-sub-section"> Instant help in case of a car accident </h5>
          <span class="c-link c-link--block c-tile__info-link" href='#' aria-label="Read More"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read More</span></span>
        </div>
      </div>
    </div>
    <div class="l-grid__row justify-content-center">
      <div class="l-grid__column-small-12 l-grid__column-medium-fit">
        <button class="c-button c-tile__button"> VIEW ALL BENEFITS IN DETAIL </button>
      </div>
    </div>
    <div class="l-grid__row justify-content-center">
      <div class="l-grid__column-fit">
        <p class="c-copy u-margin-bottom-none u-hidden-medium-up">15 other Reasons to trust our service</p>
      </div>
    </div>
  </div>
</div>