<div class="l-grid l-grid--max-width u-padding-left-none u-padding-right-none">
    <div class="l-container l-container--full-width l-grid__row u-margin-bottom-md">
        <div class="l-grid__column-12">
            <h3 class="c-heading u-text-weight-light u-text-center">Carousel Three Columns <span style="opacity:0.5">(default)</span></h3>
        </div>
    </div>
    <div class="l-container l-container--full-width ">
        <div class="l-grid l-grid--max-width u-padding-left-none u-padding-right-none">
            <div class="c-carousel__three-column-container">
                <div class="c-carousel__three-column__header--center">
                    <h2 class="c-heading c-carousel__header--teaser-header u-text-weight-light"> Let&#39;s join force and help each other. </h2>
                    <h2 class="c-heading u-text-weight-light u-margin-bottom-0"> Join our global network now. </h2>
                </div>
                <div class="js-carousel-three-column swiper-container c-carousel__three-column c-carousel-column__slide--dummy">
                    <div class="swiper-wrapper c-carousel__three-column-wrapper">
                        <div class="swiper-slide c-carousel__three-column__slide">
                            <div class="c-teaser c-teaser--vertical-66-33">
                                <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                    <div class="c-teaser__image-container">
                                        <picture class="c-image c-teaser__image ">
                                            <img class="c-image__img c-teaser__image-img swiper-lazy" alt="useful description of image if informative and not decoration only." data-src="..&#x2F;..&#x2F;images&#x2F;slider-square-02.png" />
                                            <div class="c-teaser__image--preloader"></div>
                                        </picture>
                                    </div>
                                    <div class="c-carousel__content--teaser">
                                        <span class="c-link c-heading--subsection-medium c-carousel__header--teaser u-margin-bottom-10" # aria-label="Susan, England">
                                            <!-- Fix White Space issue
--><span class="c-link__text">Susan, England</span></span>
                                        <p class="c-copy c-carousel__text--teaser u-margin-bottom-md">Media Expert</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide c-carousel__three-column__slide">
                            <div class="c-teaser c-teaser--vertical-66-33">
                                <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                    <div class="c-teaser__image-container">
                                        <picture class="c-image c-teaser__image ">
                                            <img class="c-image__img c-teaser__image-img swiper-lazy" alt="useful description of image if informative and not decoration only." data-src="..&#x2F;..&#x2F;images&#x2F;slider-square-01.png" />
                                            <div class="c-teaser__image--preloader"></div>
                                        </picture>
                                    </div>
                                    <div class="c-carousel__content--teaser">
                                        <span class="c-link c-heading--subsection-medium c-carousel__header--teaser u-margin-bottom-10" # aria-label="Rachel, México">
                                            <!-- Fix White Space issue
--><span class="c-link__text">Rachel, México</span></span>
                                        <p class="c-copy c-carousel__text--teaser u-margin-bottom-md">Consultant personal developement</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide c-carousel__three-column__slide">
                            <div class="c-teaser c-teaser--vertical-66-33">
                                <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                    <div class="c-teaser__image-container">
                                        <picture class="c-image c-teaser__image ">
                                            <img class="c-image__img c-teaser__image-img swiper-lazy" alt="useful description of image if informative and not decoration only." data-src="..&#x2F;..&#x2F;images&#x2F;slider-square-03.png" />
                                            <div class="c-teaser__image--preloader"></div>
                                        </picture>
                                    </div>
                                    <div class="c-carousel__content--teaser">
                                        <span class="c-link c-heading--subsection-medium c-carousel__header--teaser u-margin-bottom-10" # aria-label="Tom, Singapore">
                                            <!-- Fix White Space issue
--><span class="c-link__text">Tom, Singapore</span></span>
                                        <p class="c-copy c-carousel__text--teaser u-margin-bottom-md">Carpenter</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide c-carousel__three-column__slide">
                            <div class="c-teaser c-teaser--vertical-66-33">
                                <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                    <div class="c-teaser__image-container">
                                        <picture class="c-image c-teaser__image ">
                                            <img class="c-image__img c-teaser__image-img swiper-lazy" alt="useful description of image if informative and not decoration only." data-src="https:&#x2F;&#x2F;via.placeholder.com&#x2F;300x300?text&#x3D;4" />
                                            <div class="c-teaser__image--preloader"></div>
                                        </picture>
                                    </div>
                                    <div class="c-carousel__content--teaser">
                                        <span class="c-link c-heading--subsection-medium c-carousel__header--teaser u-margin-bottom-10" # aria-label="Tom, Singapore">
                                            <!-- Fix White Space issue
--><span class="c-link__text">Tom, Singapore</span></span>
                                        <p class="c-copy c-carousel__text--teaser u-margin-bottom-md">Carpenter</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide c-carousel__three-column__slide">
                            <div class="c-teaser c-teaser--vertical-66-33">
                                <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                    <div class="c-teaser__image-container">
                                        <picture class="c-image c-teaser__image ">
                                            <img class="c-image__img c-teaser__image-img swiper-lazy" alt="useful description of image if informative and not decoration only." data-src="https:&#x2F;&#x2F;via.placeholder.com&#x2F;300x300?text&#x3D;5" />
                                            <div class="c-teaser__image--preloader"></div>
                                        </picture>
                                    </div>
                                    <div class="c-carousel__content--teaser">
                                        <span class="c-link c-heading--subsection-medium c-carousel__header--teaser u-margin-bottom-10" # aria-label="Susan, England">
                                            <!-- Fix White Space issue
--><span class="c-link__text">Susan, England</span></span>
                                        <p class="c-copy c-carousel__text--teaser u-margin-bottom-md">Media Expert</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__pagination-row l-grid l-grid--no-gutters u-text-center">
                    <div class="c-carousel-one-line-pagination l-grid__row">
                        <div class="c-carousel__three-column__prev u-text-center u-hidden-small-down">
                            <span class="c-icon c-icon--arrow-left-slim u-hidden-small-down"></span>
                            <span class="c-icon c-icon--arrow-left u-hidden-medium-up"></span>
                        </div>
                        <div class="c-carousel__three-column-wrapper__pagination"></div>
                        <div class="c-carousel__three-column__next u-text-center u-hidden-small-down">
                            <span class="c-icon c-icon--arrow-right-slim u-hidden-small-down"></span>
                            <span class="c-icon c-icon--arrow-right u-hidden-medium-up"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="c-divider " aria-hidden="true" />
<div class="l-grid l-grid--max-width u-padding-left-none u-padding-right-none">
    <div class="l-container l-container--full-width l-grid__row u-margin-bottom-md">
        <div class="l-grid__column-12">
            <h3 class="c-heading u-text-weight-light u-text-center">Carousel Three Columns <span style="opacity:0.5">(more than 6 items)</span></h3>
        </div>
    </div>
    <div class="l-container l-container--full-width ">
        <div class="l-grid l-grid--max-width u-padding-left-none u-padding-right-none">
            <div class="c-carousel__three-column-container">
                <div class="c-carousel__three-column__header--center">
                    <h2 class="c-heading c-carousel__header--teaser-header u-text-weight-light"> Let&#39;s join force and help each other. </h2>
                    <h2 class="c-heading u-text-weight-light u-margin-bottom-0"> Join our global network now. </h2>
                </div>
                <div class="js-carousel-three-column swiper-container c-carousel__three-column c-carousel-column__slide--dummy">
                    <div class="swiper-wrapper c-carousel__three-column-wrapper">
                        <div class="swiper-slide c-carousel__three-column__slide">
                            <div class="c-teaser c-teaser--vertical-66-33">
                                <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                    <div class="c-teaser__image-container">
                                        <picture class="c-image c-teaser__image ">
                                            <img class="c-image__img c-teaser__image-img swiper-lazy" alt="useful description of image if informative and not decoration only." data-src="..&#x2F;..&#x2F;images&#x2F;slider-square-02.png" />
                                            <div class="c-teaser__image--preloader"></div>
                                        </picture>
                                    </div>
                                    <div class="c-carousel__content--teaser">
                                        <span class="c-link c-heading--subsection-medium c-carousel__header--teaser u-margin-bottom-10" # aria-label="Susan, England">
                                            <!-- Fix White Space issue
--><span class="c-link__text">Susan, England</span></span>
                                        <p class="c-copy c-carousel__text--teaser u-margin-bottom-md">Media Expert</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide c-carousel__three-column__slide">
                            <div class="c-teaser c-teaser--vertical-66-33">
                                <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                    <div class="c-teaser__image-container">
                                        <picture class="c-image c-teaser__image ">
                                            <img class="c-image__img c-teaser__image-img swiper-lazy" alt="useful description of image if informative and not decoration only." data-src="..&#x2F;..&#x2F;images&#x2F;slider-square-01.png" />
                                            <div class="c-teaser__image--preloader"></div>
                                        </picture>
                                    </div>
                                    <div class="c-carousel__content--teaser">
                                        <span class="c-link c-heading--subsection-medium c-carousel__header--teaser u-margin-bottom-10" # aria-label="Rachel, México">
                                            <!-- Fix White Space issue
--><span class="c-link__text">Rachel, México</span></span>
                                        <p class="c-copy c-carousel__text--teaser u-margin-bottom-md">Consultant personal developement</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide c-carousel__three-column__slide">
                            <div class="c-teaser c-teaser--vertical-66-33">
                                <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                    <div class="c-teaser__image-container">
                                        <picture class="c-image c-teaser__image ">
                                            <img class="c-image__img c-teaser__image-img swiper-lazy" alt="useful description of image if informative and not decoration only." data-src="..&#x2F;..&#x2F;images&#x2F;slider-square-03.png" />
                                            <div class="c-teaser__image--preloader"></div>
                                        </picture>
                                    </div>
                                    <div class="c-carousel__content--teaser">
                                        <span class="c-link c-heading--subsection-medium c-carousel__header--teaser u-margin-bottom-10" # aria-label="Tom, Singapore">
                                            <!-- Fix White Space issue
--><span class="c-link__text">Tom, Singapore</span></span>
                                        <p class="c-copy c-carousel__text--teaser u-margin-bottom-md">Carpenter</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide c-carousel__three-column__slide">
                            <div class="c-teaser c-teaser--vertical-66-33">
                                <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                    <div class="c-teaser__image-container">
                                        <picture class="c-image c-teaser__image ">
                                            <img class="c-image__img c-teaser__image-img swiper-lazy" alt="useful description of image if informative and not decoration only." data-src="https:&#x2F;&#x2F;via.placeholder.com&#x2F;300x300?text&#x3D;4" />
                                            <div class="c-teaser__image--preloader"></div>
                                        </picture>
                                    </div>
                                    <div class="c-carousel__content--teaser">
                                        <span class="c-link c-heading--subsection-medium c-carousel__header--teaser u-margin-bottom-10" # aria-label="Tom, Singapore">
                                            <!-- Fix White Space issue
--><span class="c-link__text">Tom, Singapore</span></span>
                                        <p class="c-copy c-carousel__text--teaser u-margin-bottom-md">Carpenter</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide c-carousel__three-column__slide">
                            <div class="c-teaser c-teaser--vertical-66-33">
                                <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                    <div class="c-teaser__image-container">
                                        <picture class="c-image c-teaser__image ">
                                            <img class="c-image__img c-teaser__image-img swiper-lazy" alt="useful description of image if informative and not decoration only." data-src="https:&#x2F;&#x2F;via.placeholder.com&#x2F;300x300?text&#x3D;5" />
                                            <div class="c-teaser__image--preloader"></div>
                                        </picture>
                                    </div>
                                    <div class="c-carousel__content--teaser">
                                        <span class="c-link c-heading--subsection-medium c-carousel__header--teaser u-margin-bottom-10" # aria-label="Susan, England">
                                            <!-- Fix White Space issue
--><span class="c-link__text">Susan, England</span></span>
                                        <p class="c-copy c-carousel__text--teaser u-margin-bottom-md">Media Expert</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide c-carousel__three-column__slide">
                            <div class="c-teaser c-teaser--vertical-66-33">
                                <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                    <div class="c-teaser__image-container">
                                        <picture class="c-image c-teaser__image ">
                                            <img class="c-image__img c-teaser__image-img swiper-lazy" alt="useful description of image if informative and not decoration only." data-src="https:&#x2F;&#x2F;via.placeholder.com&#x2F;300x300?text&#x3D;4" />
                                            <div class="c-teaser__image--preloader"></div>
                                        </picture>
                                    </div>
                                    <div class="c-carousel__content--teaser">
                                        <span class="c-link c-heading--subsection-medium c-carousel__header--teaser u-margin-bottom-10" # aria-label="Tom, Singapore">
                                            <!-- Fix White Space issue
--><span class="c-link__text">Tom, Singapore</span></span>
                                        <p class="c-copy c-carousel__text--teaser u-margin-bottom-md">Carpenter</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide c-carousel__three-column__slide">
                            <div class="c-teaser c-teaser--vertical-66-33">
                                <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                    <div class="c-teaser__image-container">
                                        <picture class="c-image c-teaser__image ">
                                            <img class="c-image__img c-teaser__image-img swiper-lazy" alt="useful description of image if informative and not decoration only." data-src="https:&#x2F;&#x2F;via.placeholder.com&#x2F;300x300?text&#x3D;5" />
                                            <div class="c-teaser__image--preloader"></div>
                                        </picture>
                                    </div>
                                    <div class="c-carousel__content--teaser">
                                        <span class="c-link c-heading--subsection-medium c-carousel__header--teaser u-margin-bottom-10" # aria-label="Susan, England">
                                            <!-- Fix White Space issue
--><span class="c-link__text">Susan, England</span></span>
                                        <p class="c-copy c-carousel__text--teaser u-margin-bottom-md">Media Expert</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__pagination-row l-grid l-grid--no-gutters u-text-center">
                    <div class="c-carousel-one-line-pagination l-grid__row">
                        <div class="c-carousel__three-column__prev u-text-center u-hidden-small-down">
                            <span class="c-icon c-icon--arrow-left-slim u-hidden-small-down"></span>
                            <span class="c-icon c-icon--arrow-left u-hidden-medium-up"></span>
                        </div>
                        <div class="c-carousel__three-column-wrapper__pagination"></div>
                        <div class="c-carousel__three-column__next u-text-center u-hidden-small-down">
                            <span class="c-icon c-icon--arrow-right-slim u-hidden-small-down"></span>
                            <span class="c-icon c-icon--arrow-right u-hidden-medium-up"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="c-divider " aria-hidden="true" />
<div class="l-grid l-grid--max-width u-padding-left-none u-padding-right-none">
    <div class="l-container l-container--full-width l-grid__row u-margin-bottom-md">
        <div class="l-grid__column-12">
            <h3 class="c-heading u-text-weight-light u-text-center">Carousel Three Columns <span style="opacity:0.5">(3 items)</span></h3>
        </div>
    </div>
    <div class="l-container l-container--full-width ">
        <div class="l-grid l-grid--max-width u-padding-left-none u-padding-right-none">
            <div class="c-carousel__three-column-container">
                <div class="c-carousel__three-column__header--center">
                    <h2 class="c-heading c-carousel__header--teaser-header u-text-weight-light"> Let&#39;s join force and help each other. </h2>
                    <h2 class="c-heading u-text-weight-light u-margin-bottom-0"> Join our global network now. </h2>
                </div>
                <div class="js-carousel-three-column swiper-container c-carousel__three-column c-carousel-column__slide--dummy">
                    <div class="swiper-wrapper c-carousel__three-column-wrapper">
                        <div class="swiper-slide c-carousel__three-column__slide">
                            <div class="c-teaser c-teaser--vertical-66-33">
                                <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                    <div class="c-teaser__image-container">
                                        <picture class="c-image c-teaser__image ">
                                            <img class="c-image__img c-teaser__image-img swiper-lazy" alt="useful description of image if informative and not decoration only." data-src="..&#x2F;..&#x2F;images&#x2F;slider-square-02.png" />
                                            <div class="c-teaser__image--preloader"></div>
                                        </picture>
                                    </div>
                                    <div class="c-carousel__content--teaser">
                                        <span class="c-link c-heading--subsection-medium c-carousel__header--teaser u-margin-bottom-10" # aria-label="Susan, England">
                                            <!-- Fix White Space issue
--><span class="c-link__text">Susan, England</span></span>
                                        <p class="c-copy c-carousel__text--teaser u-margin-bottom-md">Media Expert</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide c-carousel__three-column__slide">
                            <div class="c-teaser c-teaser--vertical-66-33">
                                <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                    <div class="c-teaser__image-container">
                                        <picture class="c-image c-teaser__image ">
                                            <img class="c-image__img c-teaser__image-img swiper-lazy" alt="useful description of image if informative and not decoration only." data-src="..&#x2F;..&#x2F;images&#x2F;slider-square-01.png" />
                                            <div class="c-teaser__image--preloader"></div>
                                        </picture>
                                    </div>
                                    <div class="c-carousel__content--teaser">
                                        <span class="c-link c-heading--subsection-medium c-carousel__header--teaser u-margin-bottom-10" # aria-label="Rachel, México">
                                            <!-- Fix White Space issue
--><span class="c-link__text">Rachel, México</span></span>
                                        <p class="c-copy c-carousel__text--teaser u-margin-bottom-md">Consultant personal developement</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide c-carousel__three-column__slide">
                            <div class="c-teaser c-teaser--vertical-66-33">
                                <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                    <div class="c-teaser__image-container">
                                        <picture class="c-image c-teaser__image ">
                                            <img class="c-image__img c-teaser__image-img swiper-lazy" alt="useful description of image if informative and not decoration only." data-src="https:&#x2F;&#x2F;via.placeholder.com&#x2F;300x300?text&#x3D;5" />
                                            <div class="c-teaser__image--preloader"></div>
                                        </picture>
                                    </div>
                                    <div class="c-carousel__content--teaser">
                                        <span class="c-link c-heading--subsection-medium c-carousel__header--teaser u-margin-bottom-10" # aria-label="Susan, England">
                                            <!-- Fix White Space issue
--><span class="c-link__text">Susan, England</span></span>
                                        <p class="c-copy c-carousel__text--teaser u-margin-bottom-md">Media Expert</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-carousel__pagination-row l-grid l-grid--no-gutters u-text-center">
                    <div class="c-carousel-one-line-pagination l-grid__row">
                        <div class="c-carousel__three-column__prev u-text-center u-hidden-small-down">
                            <span class="c-icon c-icon--arrow-left-slim u-hidden-small-down"></span>
                            <span class="c-icon c-icon--arrow-left u-hidden-medium-up"></span>
                        </div>
                        <div class="c-carousel__three-column-wrapper__pagination"></div>
                        <div class="c-carousel__three-column__next u-text-center u-hidden-small-down">
                            <span class="c-icon c-icon--arrow-right-slim u-hidden-small-down"></span>
                            <span class="c-icon c-icon--arrow-right u-hidden-medium-up"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="c-divider " aria-hidden="true" />