<div id="accordionWrapper1" role="presentation" class="c-accordion js-accordion ">
                <div class="c-accordion__item-wrapper">
                    <button role="heading" aria-expanded="false" class="js-accordion__trigger c-accordion__trigger safari_only" aria-controls="content1" id="accordion1" type="button">
                        <span class="c-accordion__item-title"> Tab 1 </span>
                        <i class="c-accordion__chevron c-icon c-icon--chevron-down" aria-hidden="true"></i>
                    </button>
                    <div id="content1" role="region" aria-labelledby="accordion1" class="js-accordion__item-content c-accordion__item-content">
                        <p class="c-copy c-accordion__item-text">Die Inhalte dieser Allianz Webseiten werden stets sorgfältig erarbeitet. Dabei wird insbesondere darauf Wert gelegt, zutreffende und aktuelle Informationen bereitzustellen. Gleichwohl können Fehler auftreten. Gewähr für Aktualität, Richtigkeit und Vollständigkeit der Informationen wird nicht übernommen. Für die Nutzung der Allianz Webseiten gelten im Übrigen die folgenden Bedingungen.</p>
                    </div>
                </div>
                <div class="c-accordion__item-wrapper">
                    <button role="heading" aria-expanded="false" class="js-accordion__trigger c-accordion__trigger safari_only" aria-controls="content2" id="accordion2" type="button">
                        <span class="c-accordion__item-title"> Tab 2 </span>
                        <i class="c-accordion__chevron c-icon c-icon--chevron-down" aria-hidden="true"></i>
                    </button>
                    <div id="content2" role="region" aria-labelledby="accordion2" class="js-accordion__item-content c-accordion__item-content">
                        <p class="c-copy c-accordion__item-text">Die Inhalte dieser Allianz Webseiten werden stets sorgfältig erarbeitet. Dabei wird insbesondere darauf Wert gelegt, zutreffende und aktuelle Informationen bereitzustellen. Gleichwohl können Fehler auftreten. Gewähr für Aktualität, Richtigkeit und Vollständigkeit der Informationen wird nicht übernommen. Für die Nutzung der Allianz Webseiten gelten im Übrigen die folgenden Bedingungen.</p>
                    </div>
                </div>
                <div class="c-accordion__item-wrapper">
                    <button role="heading" aria-expanded="false" class="js-accordion__trigger c-accordion__trigger safari_only" aria-controls="content3" id="accordion3" type="button">
                        <span class="c-accordion__item-title"> Tab 3 </span>
                        <i class="c-accordion__chevron c-icon c-icon--chevron-down" aria-hidden="true"></i>
                    </button>
                    <div id="content3" role="region" aria-labelledby="accordion3" class="js-accordion__item-content c-accordion__item-content">
                        <p class="c-copy c-accordion__item-text">Die Inhalte dieser Allianz Webseiten werden stets sorgfältig erarbeitet. Dabei wird insbesondere darauf Wert gelegt, zutreffende und aktuelle Informationen bereitzustellen. Gleichwohl können Fehler auftreten. Gewähr für Aktualität, Richtigkeit und Vollständigkeit der Informationen wird nicht übernommen. Für die Nutzung der Allianz Webseiten gelten im Übrigen die folgenden Bedingungen.</p>
                    </div>
                </div>
            </div>