<div class="js-comparison">
    <div class="c-comparison-columns__header c-comparison-columns__header--3cols l-container--full-width t-bg-soft-blue-light">
        <div class="l-grid l-grid--max-width">
            <div class="l-grid__row justify-content-center u-text-center">
                <div class="l-grid__column-medium-10 u-margin-bottom-md">
                    <h1 class="c-heading u-text-weight-light"> Choose Your ideal Protection for you and your car </h1>
                </div>
                <div class="l-grid__column-medium-10 l-grid__column-large-6">
                    <p class="c-copy c-copy--large">We offer tailored solutions for individual needs to provide you with the best possible insurance for your situation.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="c-comparison-columns__body l-container--full-width t-bg-soft-beige-light">
        <div class="l-grid l-grid--max-width u-padding-none">
            <div class="c-comparison-table-container">
                <div class="c-comparison-table__scrollbar__feature c-comparison-table--3-cols  u-hidden-medium-up">
                    <div class="c-comparison-table__scrollbar__feature--wrapper">
                        <p class="c-copy c-copy--medium u-hidden-medium-up">Swipe to view more</p>
                    </div>
                </div>
                <div class="js-sticky-placeholder c-comparison-table--3-cols c-comparison-table--highlight-at-3"></div>
                <div class="c-comparison-table-container__scroll-wrapper c-comparison-table-container__scroll-wrapper--3cols js-table-scrollable-x">
                    <div class="c-comparison-table js-comparison-table c-comparison-table--3-cols c-comparison-table--highlight-at-3">
                        <div class="c-comparison-table__section c-comparison-table__section--header js-sticky-header">
                            <div class="c-comparison-table__row c-comparison-table__row--header js-sticky-header-row">
                                <div class="c-comparison-table__col c-comparison-table__col--header u-invisible u-hidden-medium-down"></div>
                                <div class="c-comparison-table__col c-comparison-table__col--header">
                                    <div class="c-comparison-table__col--inner">
                                        <h2 class="c-heading c-heading--comparison-table-col-headline"> Digital + </h2>
                                        <p class="c-copy c-copy--no-margin">From<span class="u-highlighted">680 €/year</span></p>
                                    </div>
                                </div>
                                <div class="c-comparison-table__col c-comparison-table__col--header">
                                    <div class="c-comparison-table__col--inner">
                                        <h2 class="c-heading c-heading--comparison-table-col-headline"> Comfort </h2>
                                        <p class="c-copy c-copy--no-margin">From<span class="u-highlighted">720 €/year</span></p>
                                    </div>
                                </div>
                                <div class="c-comparison-table__col c-comparison-table__col--header">
                                    <div class="c-comparison-table__col--inner">
                                        <h2 class="c-heading c-heading--comparison-table-col-headline"> Top Package </h2>
                                        <p class="c-copy c-copy--no-margin">From<span class="u-highlighted">940 €/year</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-comparison-table__section">
                            <div class="c-comparison-table__section-body">
                                <div class="c-comparison-table__row">
                                    <div class="c-comparison-table__col">
                                        <div class="js-sticky-column">
                                            <p class="c-copy c-copy--no-margin c-copy--inline c-copy--auto-width">MyCar</p>
                                            <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-comparison-table__c-tooltip">
                                                <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link c-comparison-table__tooltip-icon" aria-describedby="">
                                                    <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
                                                </a>
                                                <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
                                                    <div class="c-tooltip__arrow"></div>
                                                    <p class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                                                    <a class="c-link c-link--block js-tooltip-close">
                                                        <i class="c-icon c-icon--close font-size-xlg t-grey-tone-3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <p class="c-copy c-copy--no-margin">Günstige Beiträge durch Online-Vertragsverwaltung</p>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <p class="c-copy c-copy--no-margin">Leistungsfähiger Rundum-Schutz mit Top-Service</p>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <p class="c-copy c-copy--no-margin">Premium-Schutz mit Top-Service</p>
                                    </div>
                                </div>
                                <div class="c-comparison-table__row">
                                    <div class="c-comparison-table__col">
                                        <div class="js-sticky-column">
                                            <p class="c-copy c-copy--no-margin c-copy--inline c-copy--auto-width">Persönlicher Ansprechpartner</p>
                                            <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-comparison-table__c-tooltip">
                                                <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link c-comparison-table__tooltip-icon" aria-describedby="">
                                                    <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
                                                </a>
                                                <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
                                                    <div class="c-tooltip__arrow"></div>
                                                    <p class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                                                    <a class="c-link c-link--block js-tooltip-close">
                                                        <i class="c-icon c-icon--close font-size-xlg t-grey-tone-3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--grey c-icon--minus c-icon--functional u-text-weight-bold"></span>
                                        <p class="c-copy c-copy--no-margin">Jederzeit Hilfe durch unser Service Center</p>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                        <p class="c-copy c-copy--no-margin">Jederzeit Hilfe durch unser Service Center</p>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                        <p class="c-copy c-copy--no-margin">Jederzeit Hilfe durch unser Service Center</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-comparison-table__section c-comparison-table__section--collapsible js-collapsible">
                            <div class="c-comparison-table__section-header c-comparison-table__section--collapsible__header js-collapsible-header">
                                <div class="js-sticky-column">
                                    <h2 class="c-heading c-heading--comparison-table-section-headline"> Kfz-Haftpflichtversicherung </h2>
                                    <i class="c-icon c-icon--chevron-down c-icon--functional t-primary-action-dark"></i>
                                    <i class="c-icon c-icon--chevron-up c-icon--functional t-primary-action-dark"></i>
                                </div>
                            </div>
                            <div class="c-comparison-table__section-body c-comparison-table__section--collapsible__body js-collapsible-body">
                                <div class="c-comparison-table__row">
                                    <div class="c-comparison-table__col">
                                        <div class="js-sticky-column">
                                            <p class="c-copy c-copy--no-margin c-copy--inline c-copy--auto-width">Versicherungssumme</p>
                                            <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-comparison-table__c-tooltip">
                                                <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link c-comparison-table__tooltip-icon" aria-describedby="">
                                                    <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
                                                </a>
                                                <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
                                                    <div class="c-tooltip__arrow"></div>
                                                    <p class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                        <p class="c-copy c-copy--no-margin">100 Mio. Euro</p>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                        <p class="c-copy c-copy--no-margin">100 Mio. Euro</p>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                        <p class="c-copy c-copy--no-margin">100 Mio. Euro</p>
                                    </div>
                                </div>
                                <div class="c-comparison-table__row">
                                    <div class="c-comparison-table__col">
                                        <div class="js-sticky-column">
                                            <p class="c-copy c-copy--no-margin c-copy--inline c-copy--auto-width">Versicherungssumme bei Personenschäden</p>
                                            <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-comparison-table__c-tooltip">
                                                <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link c-comparison-table__tooltip-icon" aria-describedby="">
                                                    <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
                                                </a>
                                                <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
                                                    <div class="c-tooltip__arrow"></div>
                                                    <p class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                        <p class="c-copy c-copy--no-margin">12 Mio. Euro</p>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                        <p class="c-copy c-copy--no-margin">15 Mio. Euro</p>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                        <p class="c-copy c-copy--no-margin">15 Mio. Euro</p>
                                    </div>
                                </div>
                                <div class="c-comparison-table__row">
                                    <div class="c-comparison-table__col">
                                        <div class="js-sticky-column">
                                            <p class="c-copy c-copy--no-margin c-copy--inline c-copy--auto-width">Versicherungssumme bei Personenschäden</p>
                                            <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-comparison-table__c-tooltip">
                                                <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link c-comparison-table__tooltip-icon" aria-describedby="">
                                                    <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
                                                </a>
                                                <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
                                                    <div class="c-tooltip__arrow"></div>
                                                    <p class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--minus c-icon--functional u-text-weight-bold t-grey-tone-6"></span>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-comparison-table__section c-comparison-table__section--collapsible js-collapsible">
                            <div class="c-comparison-table__section-header c-comparison-table__section--collapsible__header js-collapsible-header">
                                <div class="js-sticky-column">
                                    <h2 class="c-heading c-heading--comparison-table-section-headline"> Teilkasko </h2>
                                    <i class="c-icon c-icon--chevron-down c-icon--functional t-primary-action-dark"></i>
                                    <i class="c-icon c-icon--chevron-up c-icon--functional t-primary-action-dark"></i>
                                </div>
                            </div>
                            <div class="c-comparison-table__section-body c-comparison-table__section--collapsible__body js-collapsible-body">
                                <div class="c-comparison-table__row">
                                    <div class="c-comparison-table__col">
                                        <div class="js-sticky-column">
                                            <p class="c-copy c-copy--no-margin c-copy--inline c-copy--auto-width">Diebstahl, Entwendung</p>
                                            <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-comparison-table__c-tooltip">
                                                <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link c-comparison-table__tooltip-icon" aria-describedby="">
                                                    <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
                                                </a>
                                                <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
                                                    <div class="c-tooltip__arrow"></div>
                                                    <p class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                    </div>
                                </div>
                                <div class="c-comparison-table__row">
                                    <div class="c-comparison-table__col">
                                        <div class="js-sticky-column">
                                            <p class="c-copy c-copy--no-margin c-copy--inline c-copy--auto-width">Elementarereignisse &#40;etwa Sturm oder Hagel&#41;</p>
                                            <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-comparison-table__c-tooltip">
                                                <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link c-comparison-table__tooltip-icon" aria-describedby="">
                                                    <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
                                                </a>
                                                <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
                                                    <div class="c-tooltip__arrow"></div>
                                                    <p class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                    </div>
                                </div>
                                <div class="c-comparison-table__row">
                                    <div class="c-comparison-table__col">
                                        <div class="js-sticky-column">
                                            <p class="c-copy c-copy--no-margin c-copy--inline c-copy--auto-width">Diebstahl, Entwendung</p>
                                            <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-comparison-table__c-tooltip">
                                                <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link c-comparison-table__tooltip-icon" aria-describedby="">
                                                    <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
                                                </a>
                                                <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
                                                    <div class="c-tooltip__arrow"></div>
                                                    <p class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                    </div>
                                    <div class="c-comparison-table__col">
                                        <span class="c-icon c-icon--check c-icon--functional u-text-weight-bold t-rich-green"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-comparison-table__section c-comparison-table__section--footer">
                            <div class="c-comparison-table__row c-comparison-table__row--footer">
                                <div class="c-comparison-table__col c-comparison-table__col--footer u-invisible u-hidden-medium-down"></div>
                                <div class="c-comparison-table__col c-comparison-table__col--footer">
                                    <h2 class="c-heading c-heading--comparison-table-col-headline"> Digital + </h2>
                                    <p class="c-copy c-copy--comparison-table-footer-text">From<span class="u-highlighted">680 Euro</span></p>
                                    <button class="c-button c-button--small c-product-comparison__content-button"> Get a Quote </button>
                                </div>
                                <div class="c-comparison-table__col c-comparison-table__col--footer">
                                    <h2 class="c-heading c-heading--comparison-table-col-headline"> Comfort </h2>
                                    <p class="c-copy c-copy--comparison-table-footer-text">From<span class="u-highlighted">720 Euro</span></p>
                                    <button class="c-button c-button--small c-product-comparison__content-button"> Get a Quote </button>
                                </div>
                                <div class="c-comparison-table__col c-comparison-table__col--footer">
                                    <h2 class="c-heading c-heading--comparison-table-col-headline"> Top Package </h2>
                                    <p class="c-copy c-copy--comparison-table-footer-text">From<span class="u-highlighted">940 Euro</span></p>
                                    <button class="c-button c-button--small c-product-comparison__content-button"> Get a Quote </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-comparison-columns__body__bottom-link">
            <a class="c-link c-link--block" href='#' aria-label="Compare Products In Details"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Compare Products In Details</span></a>
        </div>
    </div>
</div>