<div class="l-grid l-grid--max-width">
    <div class="l-grid__row ">
        <div class="l-grid__column-12">
            <h3 class="c-heading u-margin-md u-text-center"> Content page stage (mobile non-cover image) </h3>
        </div>
    </div>
</div>
<div class="c-stage c-stage--content-page   ">
    <div class="c-stage__wrapper">
        <div class="l-grid l-grid--max-width c-stage__breadcrumb u-hidden-small-down">
            <div class="l-grid__row">
                <div class="l-grid__column-12">
                    <nav aria-label="Breadcrumbs" class="c-breadcrumb u-hidden-small-down u-text-left">
                        <span class="u-aria-only">You are here:</span>
                        <ul class="c-breadcrumb__list">
                            <li class="c-breadcrumb__item">
                                <a class="c-breadcrumb__link " href="#">Home</a>
                            </li>
                            <li class="c-breadcrumb__item">
                                <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                <a class="c-breadcrumb__link " href="#">Products</a>
                            </li>
                            <li class="c-breadcrumb__item">
                                <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                <a class="c-breadcrumb__link is-active" href="#">Car Insurance</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="c-stage__image-container">
            <picture class="c-image c-stage__image ">
                <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;slider-img-04.png" />
            </picture>
        </div>
        <div class="l-grid l-grid--max-width c-stage__content">
            <div class="l-grid__row c-stage__content__grid">
                <div class="l-grid__column-large-8 offset-large-2">
                    <h4 class="c-heading c-stage__topline"> Newsroom </h4>
                </div>
                <div class="l-grid__column-large-10 offset-large-1">
                    <h1 class="c-heading c-stage__headline c-stage__headline--non-cover"> Encouraging tomorrow - many sustainable views of risk </h1>
                </div>
                <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                    <p class="c-copy c-copy--large u-margin-bottom-none"> May 02, 2016</p>
                    <p class="c-copy c-copy--large"> In its 15th sustainability report, we outline the relevance of climate change, social inclusion and ESG for customers.</p>
                </div>
                <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                    <button class="c-button "> Read more </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="l-grid l-grid--max-width">
    <div class="l-grid__row ">
        <div class="l-grid__column-12">
            <h3 class="c-heading u-margin-md u-text-center"> Content page stage </h3>
        </div>
    </div>
</div>
<div class="c-stage c-stage--content-page c-stage--1by1dot4-ratio  ">
    <div class="c-stage__wrapper">
        <div class="l-grid l-grid--max-width c-stage__breadcrumb u-hidden-small-down">
            <div class="l-grid__row">
                <div class="l-grid__column-12">
                    <nav aria-label="Breadcrumbs" class="c-breadcrumb u-hidden-small-down u-text-left">
                        <span class="u-aria-only">You are here:</span>
                        <ul class="c-breadcrumb__list">
                            <li class="c-breadcrumb__item">
                                <a class="c-breadcrumb__link " href="#">Home</a>
                            </li>
                            <li class="c-breadcrumb__item">
                                <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                <a class="c-breadcrumb__link " href="#">Products</a>
                            </li>
                            <li class="c-breadcrumb__item">
                                <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                <a class="c-breadcrumb__link is-active" href="#">Car Insurance</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="c-stage__image-container">
            <picture class="c-image c-stage__image c-stage__image--cover ">
                <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;slider-img-04.png" />
            </picture>
        </div>
        <div class="l-grid l-grid--max-width c-stage__content">
            <div class="l-grid__row c-stage__content__grid">
                <div class="l-grid__column-large-8 offset-large-2">
                    <h4 class="c-heading c-stage__topline"> Newsroom </h4>
                </div>
                <div class="l-grid__column-large-10 offset-large-1">
                    <h1 class="c-heading c-heading--page c-stage__headline"> Encouraging tomorrow - many sustainable views of risk </h1>
                </div>
                <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                    <p class="c-copy c-copy--large u-margin-bottom-none"> May 02, 2016</p>
                    <p class="c-copy c-copy--large"> In its 15th sustainability report, We outline the relevance of climate change, social inclusion and ESG for customers.</p>
                </div>
                <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                    <button class="c-button "> Read more </button>
                </div>
            </div>
        </div>
    </div>
</div>