<div class="c-stage c-stage--reduced-height">
    <div class="c-stage__wrapper">
        <div class="l-grid l-grid--max-width u-hidden-small-down">
            <div class="l-grid__row">
                <div class="l-grid__column-12">
                    <div class="c-stage__breadcrumb">
                        <nav aria-label="Breadcrumbs" class="c-breadcrumb u-hidden-small-down u-text-left">
                            <span class="u-aria-only">You are here:</span>
                            <ul class="c-breadcrumb__list">
                                <li class="c-breadcrumb__item">
                                    <a class="c-breadcrumb__link " href="#">Home</a>
                                </li>
                                <li class="c-breadcrumb__item">
                                    <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                    <a class="c-breadcrumb__link " href="#">Products</a>
                                </li>
                                <li class="c-breadcrumb__item">
                                    <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                    <a class="c-breadcrumb__link is-active" href="#">Car Insurance</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-stage__image-container">
            <picture class="c-image c-stage__image ">
                <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;slider-img-05.png" />
            </picture>
        </div>
        <div class="l-grid l-grid--max-width c-stage__content">
            <div class="l-grid__row c-stage__content__grid">
                <div class="l-grid__column-large-8 offset-large-2">
                    <h4 class="c-heading c-stage__topline"> Choosing us makes a difference </h4>
                </div>
                <div class="l-grid__column-large-10 offset-large-1">
                    <h1 class="c-heading c-heading--page u-text-weight-light c-stage__headline"> Our commitment, your benefits </h1>
                </div>
                <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                    <p class="c-copy c-stage__additional-info u-margin-none">The most competitive price are only one of our assets. Confidence is being built through flxible product and fares handling, unconditional and international 24&#x2F;7 support and reliable and quick help in case of damage.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="l-grid l-grid--max-width">
    <div class="l-grid__row ">
        <div class="l-grid__column-12">
            <h3 class="c-heading u-margin-md u-text-center"> Stage on detail page - example 2 </h3>
        </div>
    </div>
</div>
<div class="c-stage c-stage--reduced-height   c-stage--negative">
    <div class="c-stage__wrapper">
        <div class="l-grid l-grid--max-width u-hidden-small-down">
            <div class="l-grid__row">
                <div class="l-grid__column-12">
                    <div class="c-stage__breadcrumb">
                        <nav aria-label="Breadcrumbs" class="c-breadcrumb u-hidden-small-down u-text-left">
                            <span class="u-aria-only">You are here:</span>
                            <ul class="c-breadcrumb__list">
                                <li class="c-breadcrumb__item">
                                    <a class="c-breadcrumb__link " href="#">Home</a>
                                </li>
                                <li class="c-breadcrumb__item">
                                    <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                    <a class="c-breadcrumb__link " href="#">Products</a>
                                </li>
                                <li class="c-breadcrumb__item">
                                    <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                    <a class="c-breadcrumb__link is-active" href="#">Car Insurance</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-stage__image-container">
            <picture class="c-image c-stage__image ">
                <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;slider-img-06.png" />
            </picture>
        </div>
        <div class="l-grid l-grid--max-width c-stage__content">
            <div class="l-grid__row c-stage__content__grid">
                <div class="l-grid__column-large-8 offset-large-2">
                    <h4 class="c-heading c-stage__topline"> Choosing us makes a difference </h4>
                </div>
                <div class="l-grid__column-large-10 offset-large-1">
                    <h1 class="c-heading c-heading--page u-text-weight-light c-stage__headline"> Our commitment, your benefits </h1>
                </div>
                <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                    <p class="c-copy c-stage__additional-info u-margin-none">The most competitive price are only one of our assets. Confidence is being built through flxible product and fares handling, unconditional and international 24&#x2F;7 support and reliable and quick help in case of damage.</p>
                </div>
            </div>
        </div>
    </div>
</div>