<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-padding-top-lg">
            <h4 class="c-heading u-margin-bottom-10 ">

                Filter Dropdown


            </h4>

        </div>
    </div>

    <div class="l-grid__row">
        <div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
            <div class="c-filter-dropdown " data-toggle="dropdown">
                <a class="c-filter-dropdown__toggle" href="#" aria-haspopup="true" aria-expanded="false"
                    aria-describedby="dropdownID1" data-trigger="dropdown">
                    <span class="c-filter-dropdown__text">All</span>
                    <span class="c-icon c-icon--chevron-down c-filter-dropdown__icon c-icon--functional"></span>
                </a>
                <div class="c-filter-dropdown__menu" role="menu" aria-hidden="true" data-items="dropdown">
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">All</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Help &amp; Care (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Life &amp; Property (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Car &amp; Mobility (44)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Company (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Travel &amp; Leisure (2)</a>
                </div>
            </div>
        </div>

        <div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
            <div class="c-filter-dropdown c-filter-dropdown--is-error" data-toggle="dropdown">
                <a class="c-filter-dropdown__toggle" href="#" aria-haspopup="true" aria-expanded="false"
                    aria-describedby="dropdownID1" data-trigger="dropdown">
                    <span class="c-filter-dropdown__text">All</span>
                    <span class="c-icon c-icon--chevron-down c-filter-dropdown__icon c-icon--functional"></span>
                </a>
                <div class="c-filter-dropdown__menu" role="menu" aria-hidden="true" data-items="dropdown">
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">All</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Help &amp; Care (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Life &amp; Property (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Car &amp; Mobility (44)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Company (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Travel &amp; Leisure (2)</a>
                </div>
            </div>
            <div class="c-message c-message--error ">
                <div class="c-message__content">
                    <p class="c-copy c-message--error"> <b>Meaningful helptext</b></p>

                </div>
            </div>

        </div>

        <div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
            <div class="c-filter-dropdown " data-toggle="dropdown" disabled>
                <a class="c-filter-dropdown__toggle" href="#" aria-haspopup="true" aria-expanded="false"
                    aria-describedby="dropdownID1" data-trigger="dropdown">
                    <span class="c-filter-dropdown__text">All</span>
                    <span class="c-icon c-icon--chevron-down c-filter-dropdown__icon c-icon--functional"></span>
                </a>
                <div class="c-filter-dropdown__menu" role="menu" aria-hidden="true" data-items="dropdown">
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">All</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Help &amp; Care (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Life &amp; Property (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Car &amp; Mobility (44)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Company (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Travel &amp; Leisure (2)</a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="c-divider " aria-hidden="true" />


<div class="l-grid l-grid--max-width t-bg-rich-petrol">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-padding-top-lg">
            <h4 class="c-heading c-heading--negative u-margin-bottom-10 ">

                Negative Filter Dropdown


            </h4>

        </div>
    </div>

    <div class="l-grid__row u-padding-bottom-lg">
        <div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
            <div class="c-filter-dropdown c-filter-dropdown--negative" data-toggle="dropdown">
                <a class="c-filter-dropdown__toggle" href="#" aria-haspopup="true" aria-expanded="false"
                    aria-describedby="dropdownID1" data-trigger="dropdown">
                    <span class="c-filter-dropdown__text">All</span>
                    <span class="c-icon c-icon--chevron-down c-filter-dropdown__icon c-icon--functional"></span>
                </a>
                <div class="c-filter-dropdown__menu" role="menu" aria-hidden="true" data-items="dropdown">
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">All</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Help &amp; Care (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Life &amp; Property (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Car &amp; Mobility (44)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Company (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Travel &amp; Leisure (2)</a>
                </div>
            </div>
        </div>

        <div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
            <div class="c-filter-dropdown c-filter-dropdown--negative c-filter-dropdown--is-error"
                data-toggle="dropdown">
                <a class="c-filter-dropdown__toggle" href="#" aria-haspopup="true" aria-expanded="false"
                    aria-describedby="dropdownID1" data-trigger="dropdown">
                    <span class="c-filter-dropdown__text">All</span>
                    <span class="c-icon c-icon--chevron-down c-filter-dropdown__icon c-icon--functional"></span>
                </a>
                <div class="c-filter-dropdown__menu" role="menu" aria-hidden="true" data-items="dropdown">
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">All</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Help &amp; Care (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Life &amp; Property (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Car &amp; Mobility (44)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Company (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Travel &amp; Leisure (2)</a>
                </div>
            </div>
            <div class="c-message c-message--error ">
                <div class="c-message__content">
                    <p class="c-copy c-message--error"> <b>Meaningful helptext</b></p>

                </div>
            </div>

        </div>

        <div class="l-grid__column-12 l-grid__column-medium-4 offset-medium-1 u-padding-top-lg">
            <div class="c-filter-dropdown c-filter-dropdown--negative" data-toggle="dropdown" disabled>
                <a class="c-filter-dropdown__toggle" href="#" aria-haspopup="true" aria-expanded="false"
                    aria-describedby="dropdownID1" data-trigger="dropdown">
                    <span class="c-filter-dropdown__text">All</span>
                    <span class="c-icon c-icon--chevron-down c-filter-dropdown__icon c-icon--functional"></span>
                </a>
                <div class="c-filter-dropdown__menu" role="menu" aria-hidden="true" data-items="dropdown">
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">All</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Help &amp; Care (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Life &amp; Property (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Car &amp; Mobility (44)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Company (13)</a>
                    <a class="c-filter-dropdown__item" href="#" role="menuitem">Travel &amp; Leisure (2)</a>
                </div>
            </div>
        </div>
    </div>
</div>