<div class="l-grid l-grid--max-width">
    <div class="l-grid__row u-margin-top-lg">
        <div class="l-grid__column-12 u-margin-bottom-sm">
            <h4 class="c-heading 4">Headline sizes (Desktop &amp; Tablet &#x2F; Mobile):</h4>
       </div>
        <div class="l-grid__column-12">
            <h1 class="c-heading c-heading--bold-cap u-margin-bottom-sm">CAPS BOLD: Font Size: 54&#x2F;35, Line Height: 60&#x2F;40, Letter Sp: 0.3</h1>
            <h1 class="c-heading c-heading--page u-margin-bottom-0">H1: Font Size: 54&#x2F;40, Line Height: 60&#x2F;48, Letter Sp: 0.3</h1>
            <h2 class="c-heading c-heading--section u-margin-bottom-0">H2: Font Size: 40&#x2F;35, Line Height: 48&#x2F;40, Letter Sp: 0.3</h2>
            <h3 class="c-heading c-heading--subsection-large u-margin-bottom-0">H3: Font Size: 30&#x2F;26, Line Height: 36&#x2F;32, Letter Sp: 0.3</h3>
            <h4 class="c-heading c-heading--subsection-medium u-margin-bottom-0">H4: Font Size: 26&#x2F;24, Line Height: 32, Letter Sp: 0.3&#x2F;0.2</h4>
            <h5 class="c-heading c-heading--subsection-small u-margin-bottom-0">H5: Font Size: 24&#x2F;20, Line Height: 32&#x2F;28, Letter Sp: 0.2</h5>
            <h6 class="c-heading c-heading--subsection-xsmall u-margin-bottom-0">H6: Font Size: 20&#x2F;18, Line Height: 28, Letter Sp: 0.2</h6>
       </div>
   </div>
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-md">
            <h4 class="c-heading 4">Negative headline (Desktop &amp; Tablet &#x2F; Mobile):</h4>
       </div>
        <div class="l-grid__column-12 t-bg-rich-petrol">
            <h1 class="c-heading c-heading--bold-cap c-heading--negative u-margin-bottom-sm">CAPS BOLD: Font Size: 54&#x2F;35, Line Height: 60&#x2F;40, Letter Sp: 0.3</h1>
            <h1 class="c-heading c-heading--page c-heading--negative u-margin-bottom-0">H1: Font Size: 54&#x2F;40, Line Height: 60&#x2F;48, Letter Sp: 0.3</h1>
            <h2 class="c-heading c-heading--section c-heading--negative u-margin-bottom-0">H2: Font Size: 40&#x2F;35, Line Height: 48&#x2F;40, Letter Sp: 0.3</h2>
            <h3 class="c-heading c-heading--subsection-large c-heading--negative u-margin-bottom-0">H3: Font Size: 30&#x2F;26, Line Height: 36&#x2F;32, Letter Sp: 0.3</h3>
            <h4 class="c-heading c-heading--subsection-medium c-heading--negative u-margin-bottom-0">H4: Font Size: 26&#x2F;24, Line Height: 32, Letter Sp: 0.3&#x2F;0.2</h4>
            <h5 class="c-heading c-heading--subsection-small c-heading--negative u-margin-bottom-0">H5: Font Size: 24&#x2F;20, Line Height: 32&#x2F;28, Letter Sp: 0.2</h5>
            <h6 class="c-heading c-heading--subsection-xsmall c-heading--negative u-margin-bottom-0">H6: Font Size: 20&#x2F;18, Line Height: 28, Letter Sp: 0.2</h6>
       </div>
   </div>
    <div class="l-grid__row u-margin-top-lg">
        <div class="l-grid__column-12">
            <h4 class="c-heading u-margin-bottom-sm">Headline weights:</h4>
       </div>
        <div class="l-grid__column-12">
            <h3 class="c-heading u-text-weight-light">Headline Light: weight - 300</h3>
            <h3 class="c-heading u-text-weight-regular">Headline Regular: weight - 400</h3>
            <h3 class="c-heading u-text-weight-semibold">Headline Semibold: weight - 600</h3>
            <h3 class="c-heading u-text-weight-bold">Headline Bold : weight - 700</h3>
       </div>
   </div>
    <div class="l-grid__row u-margin-top-lg">
        <div class="l-grid__column-12">
            <h4 class="c-heading u-margin-bottom-sm">Headline link:</h4>
       </div>
        <div class="l-grid__column-12">
            <h5 class="c-heading c-heading--subsection-small u-text-weight-semibold u-margin-bottom-0">
                <a href="#" class="c-heading__link">An example headline</a>
           </h5>
       </div>
        <div class="l-grid__column-12 t-bg-rich-petrol">
            <h5 class="c-heading c-heading--subsection-small c-heading--negative u-text-weight-semibold u-margin-bottom-0">
                <a href="#" class="c-heading__link">An example negative headline</a>
           </h5>
       </div>
   </div>
</div>