<div class="l-grid l-grid--max-width">
    <div class="l-grid__row ">
        <div class="l-grid__column-12">
            <h3 class="c-heading u-margin-md u-text-center"> Full width - 100% Image Teaser </h3>
        </div>
    </div>
</div>
<div class="c-teaser-with-bg ">
    <div class="c-teaser-with-bg__wrapper">
        <div class="c-teaser-with-bg__image-container">
            <picture class="c-image c-teaser-with-bg__image ">
                <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;slider-img-05.png" />
            </picture>
        </div>
        <div class="l-grid l-grid--max-width c-teaser-with-bg__content">
            <div class="l-grid__row justify-content-center">
                <div class="l-grid__column-large-8">
                    <h4 class="c-heading c-teaser-with-bg__topline"> Choosing us makes a difference </h4>
                </div>
                <div class="l-grid__column-large-10">
                    <h2 class="c-heading c-teaser-with-bg__headline u-text-weight-light"> Car insurance "MyCar" </h2>
                </div>
                <div class="l-grid__column-large-8 l-grid__column-medium-10">
                    <p class="c-copy c-teaser-with-bg__detail">Configure your car insurance just like your car: According to your wishes and only what you really need. Order &quot;Mycar&quot; right here.</p>
                </div>
            </div>
            <div class="l-grid__row justify-content-center c-teaser-with-bg__button-row">
                <div class="l-grid__column-12 c-teaser-with-bg__button-col">
                    <button class="c-button c-teaser-with-bg__button u-margin-none"> CUSTOMIZE YOUR PROTECTION </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="l-grid l-grid--max-width">
    <div class="l-grid__row ">
        <div class="l-grid__column-12">
            <h3 class="c-heading u-margin-md u-text-center"> Full width - 100% Image Teaser with transparent layer </h3>
        </div>
    </div>
</div>
<div class="c-teaser-with-bg c-teaser-with-bg--negative">
    <div class="c-teaser-with-bg__wrapper">
        <div class="c-teaser-with-bg__image-container">
            <picture class="c-image c-teaser-with-bg__image ">
                <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;slider-img-05.png" />
            </picture>
        </div>
        <div class="l-grid l-grid--max-width c-teaser-with-bg__content">
            <div class="l-grid__row justify-content-center">
                <div class="l-grid__column-large-8">
                    <h4 class="c-heading c-teaser-with-bg__topline"> Choosing us makes a difference </h4>
                </div>
                <div class="l-grid__column-large-10">
                    <h2 class="c-heading c-teaser-with-bg__headline u-text-weight-light"> Car insurance "MyCar" </h2>
                </div>
                <div class="l-grid__column-large-8 l-grid__column-medium-10">
                    <p class="c-copy c-teaser-with-bg__detail">Configure your car insurance just like your car: According to your wishes and only what you really need. Order &quot;Mycar&quot; right here.</p>
                </div>
            </div>
            <div class="l-grid__row justify-content-center c-teaser-with-bg__button-row">
                <div class="l-grid__column-12 c-teaser-with-bg__button-col">
                    <button class="c-button c-teaser-with-bg__button u-margin-none"> CUSTOMIZE YOUR PROTECTION </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="l-grid l-grid--max-width">
    <div class="l-grid__row ">
        <div class="l-grid__column-12">
            <h3 class="c-heading u-margin-md u-text-center"> Full width - 100% Image Teaser XL </h3>
        </div>
    </div>
</div>
<div class="c-teaser-with-bg c-teaser-with-bg--xl">
    <div class="c-teaser-with-bg__wrapper">
        <div class="c-teaser-with-bg__image-container">
            <picture class="c-image c-teaser-with-bg__image ">
                <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;slider-img-05.png" />
            </picture>
        </div>
        <div class="l-grid l-grid--max-width c-teaser-with-bg__content">
            <div class="l-grid__row justify-content-center">
                <div class="l-grid__column-large-8">
                    <h4 class="c-heading c-teaser-with-bg__topline"> Choosing us makes a difference </h4>
                </div>
                <div class="l-grid__column-large-10">
                    <h2 class="c-heading c-teaser-with-bg__headline u-text-weight-light"> Car insurance "MyCar" </h2>
                </div>
                <div class="l-grid__column-large-8 l-grid__column-medium-10">
                    <p class="c-copy c-teaser-with-bg__detail">Configure your car insurance just like your car: According to your wishes and only what you really need. Order &quot;Mycar&quot; right here.</p>
                </div>
            </div>
            <div class="l-grid__row justify-content-center c-teaser-with-bg__button-row">
                <div class="l-grid__column-12 c-teaser-with-bg__button-col">
                    <button class="c-button c-teaser-with-bg__button u-margin-none"> CUSTOMIZE YOUR PROTECTION </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="l-grid l-grid--max-width">
    <div class="l-grid__row ">
        <div class="l-grid__column-12">
            <h3 class="c-heading u-margin-md u-text-center"> Full width - 100% Image Teaser XL with transparent layer </h3>
        </div>
    </div>
</div>
<div class="c-teaser-with-bg c-teaser-with-bg--xl c-teaser-with-bg--negative">
    <div class="c-teaser-with-bg__wrapper">
        <div class="c-teaser-with-bg__image-container">
            <picture class="c-image c-teaser-with-bg__image ">
                <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;slider-img-05.png" />
            </picture>
        </div>
        <div class="l-grid l-grid--max-width c-teaser-with-bg__content">
            <div class="l-grid__row justify-content-center">
                <div class="l-grid__column-large-8">
                    <h4 class="c-heading c-teaser-with-bg__topline"> Choosing us makes a difference </h4>
                </div>
                <div class="l-grid__column-large-10">
                    <h2 class="c-heading c-teaser-with-bg__headline u-text-weight-light"> Car insurance "MyCar" </h2>
                </div>
                <div class="l-grid__column-large-8 l-grid__column-medium-10">
                    <p class="c-copy c-teaser-with-bg__detail">Configure your car insurance just like your car: According to your wishes and only what you really need. Order &quot;Mycar&quot; right here.</p>
                </div>
            </div>
            <div class="l-grid__row justify-content-center c-teaser-with-bg__button-row">
                <div class="l-grid__column-12 c-teaser-with-bg__button-col">
                    <button class="c-button c-teaser-with-bg__button u-margin-none"> CUSTOMIZE YOUR PROTECTION </button>
                </div>
            </div>
        </div>
    </div>
</div>