<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-padding-bottom-md">
            <h4 class="c-heading "> Unordered list </h4>
        </div>
        <div class="l-grid__column-12">
            <ul class="c-list ">
                <li class="c-list__item c-list__item--icon "> Select your individual options </li>
                <li class="c-list__item c-list__item--icon "> Come back to us to change at any time </li>
                <li class="c-list__item c-list__item--icon "> All changes and upgrades are immediately effective </li>
                <li class="c-list__item c-list__item--icon "> Mei et eruditi dolorem oportere,sonet admodum tacimates nec ei. </li>
            </ul>
        </div>
        <div class="l-grid__column-12 u-padding-bottom-md u-padding-top-md">
            <h4 class="c-heading "> List with small text and icons </h4>
        </div>
        <div class="l-grid__column-12">
            <ul class="c-list c-list--small">
                <li class="c-list__item c-list__item--icon "> Select your individual options </li>
                <li class="c-list__item c-list__item--icon "> Come back to us to change at any time </li>
                <li class="c-list__item c-list__item--icon "> All changes and upgrades are immediately effective </li>
                <li class="c-list__item c-list__item--icon "> Mei et eruditi dolorem oportere,sonet admodum tacimates nec ei. </li>
            </ul>
        </div>
        <div class="l-grid__column-12 u-padding-bottom-md u-padding-top-md">
            <h4 class="c-heading "> Negative List </h4>
        </div>
        <div class="l-grid__column-12 pl-invert-background">
            <ul class="c-list c-list--negative">
                <li class="c-list__item c-list__item--icon "> Select your individual options </li>
                <li class="c-list__item c-list__item--icon "> Come back to us to change at any time </li>
                <li class="c-list__item c-list__item--icon "> All changes and upgrades are immediately effective </li>
                <li class="c-list__item c-list__item--icon "> Mei et eruditi dolorem oportere,sonet admodum tacimates nec ei. </li>
            </ul>
        </div>
        <div class="l-grid__column-12 u-padding-bottom-md u-padding-top-md">
            <h4 class="c-heading "> List with check icons </h4>
        </div>
        <div class="l-grid__column-12">
            <ul class="c-list c-list--icon">
                <li class="c-list__item  ">
                    <span aria-hidden="true" class="c-icon c-icon--check c-list__icon"></span> Select your individual options </li>
                <li class="c-list__item  ">
                    <span aria-hidden="true" class="c-icon c-icon--check c-list__icon"></span> Come back to us to change at any time </li>
                <li class="c-list__item  ">
                    <span aria-hidden="true" class="c-icon c-icon--check c-list__icon"></span> All changes and upgrades are immediately effective </li>
                <li class="c-list__item  ">
                    <span aria-hidden="true" class="c-icon c-icon--check c-list__icon"></span> Mei et eruditi dolorem oportere,sonet admodum tacimates nec ei. </li>
            </ul>
        </div>
        <div class="l-grid__column-12 u-padding-bottom-md u-padding-top-md">
            <h4 class="c-heading "> List with pointing icons </h4>
        </div>
        <div class="l-grid__column-12">
            <ul class="c-list c-list--icon c-list--small">
                <li class="c-list__item  ">
                    <span aria-hidden="true" class="c-icon c-icon--product-hand-finger-pointing c-list__icon"></span> Select your individual options </li>
                <li class="c-list__item  ">
                    <span aria-hidden="true" class="c-icon c-icon--product-hand-finger-pointing c-list__icon"></span> Come back to us to change at any time </li>
                <li class="c-list__item  ">
                    <span aria-hidden="true" class="c-icon c-icon--product-hand-finger-pointing c-list__icon"></span> All changes and upgrades are immediately effective </li>
                <li class="c-list__item  ">
                    <span aria-hidden="true" class="c-icon c-icon--product-hand-finger-pointing c-list__icon"></span> Mei et eruditi dolorem oportere,sonet admodum tacimates nec ei. </li>
            </ul>
        </div>
        <div class="l-grid__column-12 u-padding-bottom-md u-padding-top-md">
            <h4 class="c-heading "> Ordered List </h4>
        </div>
        <div class="l-grid__column-12">
            <ol class="c-list ">
                <li class="c-list__item">
                    <span aria-hidden="true" class="c-list__icon t-grey-tone-1 "></span> Select your individual options </li>
                <li class="c-list__item">
                    <span aria-hidden="true" class="c-list__icon t-grey-tone-1 "></span> Come back to us to change at any time </li>
                <li class="c-list__item">
                    <span aria-hidden="true" class="c-list__icon t-grey-tone-1 "></span> All changes and upgrades are immediately effective </li>
                <li class="c-list__item">
                    <span aria-hidden="true" class="c-list__icon t-grey-tone-1 "></span> Mei et eruditi dolorem oportere,sonet admodum tacimates nec ei. </li>
            </ol>
        </div>
        <div class="l-grid__column-12 u-padding-bottom-md u-padding-top-md">
            <h4 class="c-heading "> Ordered List with circles </h4>
        </div>
        <div class="l-grid__column-12">
            <ol class="c-list c-list--ordered-circle">
                <li class="c-list__item">
                    <span aria-hidden="true" class="c-list__icon  t-grey-tone-1"></span> Select your individual options </li>
                <li class="c-list__item">
                    <span aria-hidden="true" class="c-list__icon  t-grey-tone-1"></span> Come back to us to change at any time </li>
                <li class="c-list__item">
                    <span aria-hidden="true" class="c-list__icon  t-grey-tone-1"></span> All changes and upgrades are immediately effective </li>
                <li class="c-list__item">
                    <span aria-hidden="true" class="c-list__icon  t-grey-tone-1"></span> Mei et eruditi dolorem oportere,sonet admodum tacimates nec ei. </li>
            </ol>
        </div>
        <div class="l-grid__column-12 u-padding-bottom-md u-padding-top-md">
            <h4 class="c-heading "> Link list </h4>
        </div>
        <div class="l-grid__column-12">
            <div class="c-link-list ">
                <div class="l-grid l-grid--max-width">
                    <div class="l-grid__row">
                        <div class="l-grid__column-medium-4">
                            <div class="c-link-list__link-row"><a class="c-link c-link--block" href='#' aria-label="Online service AGM"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                                    <!-- Fix White Space issue
--><span class="c-link__text">Online service AGM</span></a>
                            </div>
                            <div class="c-link-list__link-row"><a class="c-link c-link--block" href='#' aria-label="FAQ"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                                    <!-- Fix White Space issue
--><span class="c-link__text">FAQ</span></a>
                            </div>
                            <div class="c-link-list__link-row"><a class="c-link c-link--block" href='#' aria-label="Relevant links"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                                    <!-- Fix White Space issue
--><span class="c-link__text">Relevant links</span></a>
                            </div>
                        </div>
                        <div class="l-grid__column-medium-8">
                            <div class="c-link-list__link-row"><a class="c-link c-link--block" href='#' aria-label="Our vision"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                                    <!-- Fix White Space issue
--><span class="c-link__text">Our vision</span></a>
                            </div>
                            <div class="c-link-list__link-row"><a class="c-link c-link--block" href='#' aria-label="Online service AGM"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                                    <!-- Fix White Space issue
--><span class="c-link__text">Online service AGM</span></a>
                            </div>
                            <div class="c-link-list__link-row"><a class="c-link c-link--block" href='#' aria-label="Relevant links"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                                    <!-- Fix White Space issue
--><span class="c-link__text">Relevant links</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>