<div class="u-margin-bottom-md u-margin-top-md">
    <h2 class="c-heading u-text-center u-text-weight-light u-hidden-small-down"> Mobile Sticky Message </h2>
    <div class="c-message c-message--mobile-float c-message--info js-close">
        <div class="c-message__content">
            <em aria-hidden="true" class="c-message__item-icon c-icon c-icon--info-circle"></em>
            <p class="c-copy c-message--error"> <span class="u-highlighted">Please note:</span> This website uses cookies to optimize your experience. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
            <em aria-hidden="true" class="c-message__icon-close c-icon c-icon--close js-close-button">
            </em>
        </div>
    </div>
</div>
<div class="u-margin-bottom-md u-margin-top-md">
    <div class="l-grid">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-6">
                <h2 class="c-heading u-text-center u-text-weight-light"> Form Message </h2>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-12">
                <div class="c-message c-message--success js-close">
                    <div class="c-message__content">
                        <em aria-hidden="true" class="c-message__item-icon c-icon c-icon--info-circle"></em>
                        <p class="c-copy c-message--error"> <b>Success</b> Your action have been success!</p>
                        <em aria-hidden="true" class="c-message__icon-close c-icon c-icon--close js-close-button">
                        </em>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-12">
                <div class="c-message c-message--info">
                    <div class="c-message__content">
                        <em aria-hidden="true" class="c-message__item-icon c-icon c-icon--info-circle"></em>
                        <p class="c-copy c-message--error"> <b>Disclaimer</b> If you require any more information or have any questions about our site"s disclaimer, please feel free to contact us!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-12">
                <div class="c-message c-message--error js-close">
                    <div class="c-message__content">
                        <em aria-hidden="true" class="c-message__item-icon c-icon c-icon--info-circle"></em>
                        <p class="c-copy c-message--error"> <b>Hold on partner.</b> There are some problems with your form. Please check all the fields marked in with this icon</p>
                        <em aria-hidden="true" class="c-message__icon-close c-icon c-icon--close js-close-button">
                        </em>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-12">
                <div class="c-message c-message--warning js-close">
                    <div class="c-message__content">
                        <em aria-hidden="true" class="c-message__item-icon c-icon c-icon--info-circle"></em>
                        <p class="c-copy c-message--error"> <b>Warning</b> Something is wrong</p>
                        <em aria-hidden="true" class="c-message__icon-close c-icon c-icon--close js-close-button">
                        </em>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-12">
                <div class="c-message c-message--password-dialog c-message--info">
                    <div class="c-message__content">
                        <em aria-hidden="true" class="c-message__item-icon c-icon c-icon--info-circle"></em>
                        <p class="c-copy c-message--error"> <b>Creating a safe password</b></p>
                        <ul class="c-message__list">
                            <li aria-disabled="true" class="c-message__list-item c-message__list-item--disabled">
                                <span class="c-message__password-validate-icon c-icon  c-icon--close"></span>At least 8 characters </li>
                            <li aria-disabled="true" class="c-message__list-item">
                                <span class="c-message__password-validate-icon c-icon c-icon--check"></span>Upper- and lowercase letters </li>
                            <li aria-disabled="true" class="c-message__list-item c-message__list-item--disabled">
                                <span class="c-message__password-validate-icon c-icon  c-icon--close"></span>At least 1 special character </li>
                            <li aria-disabled="true" class="c-message__list-item c-message__list-item--disabled">
                                <span class="c-message__password-validate-icon c-icon  c-icon--close"></span>At least 1 number </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-12">
                <div class="c-message c-message--password-dialog c-message--success">
                    <div class="c-message__content">
                        <em aria-hidden="true" class="c-message__item-icon c-icon c-icon--info-circle"></em>
                        <p class="c-copy c-message--error"> <b>Your password is secure!</b></p>
                        <ul class="c-message__list">
                            <li aria-disabled="true" class="c-message__list-item">
                                <span class="c-message__password-validate-icon c-icon c-icon--check"></span>At least 8 characters </li>
                            <li aria-disabled="true" class="c-message__list-item">
                                <span class="c-message__password-validate-icon c-icon c-icon--check"></span>Upper- and lowercase letters </li>
                            <li aria-disabled="true" class="c-message__list-item">
                                <span class="c-message__password-validate-icon c-icon c-icon--check"></span>At least 1 special character </li>
                            <li aria-disabled="true" class="c-message__list-item">
                                <span class="c-message__password-validate-icon c-icon c-icon--check"></span>At least 1 number </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="c-message c-message--success js-close">
    <div class="c-message__content">
        <em aria-hidden="true" class="c-message__item-icon c-icon c-icon--info-circle"></em>
        <p class="c-copy c-message--error"> <b>Success</b> Your action have been success!</p>
        <em aria-hidden="true" class="c-message__icon-close c-icon c-icon--close js-close-button"></em>
    </div>
</div>
<div class="c-message c-message--info">
    <div class="c-message__content">
        <em aria-hidden="true" class="c-message__item-icon c-icon c-icon--info-circle"></em>
        <p class="c-copy c-message--error"> <b>Disclaimer</b> If you require any more information or have any questions about our site"s disclaimer, please feel free to contact us!</p>
    </div>
</div>
<div class="c-message c-message--error js-close">
    <div class="c-message__content">
        <em aria-hidden="true" class="c-message__item-icon c-icon c-icon--info-circle"></em>
        <p class="c-copy c-message--error"> <b>Hold on partner.</b> There are some problems with your form. Please check all the fields marked in with this icon</p>
        <em aria-hidden="true" class="c-message__icon-close c-icon c-icon--close js-close-button"></em>
    </div>
</div>
<div class="c-message c-message--warning js-close">
    <div class="c-message__content">
        <em aria-hidden="true" class="c-message__item-icon c-icon c-icon--info-circle"></em>
        <p class="c-copy c-message--error"> <b>Warning</b> Something is wrong</p>
        <em aria-hidden="true" class="c-message__icon-close c-icon c-icon--close js-close-button"></em>
    </div>
</div>