<button class="c-button" data-toggle="modal" data-trigger="basic-popup">Basic Modal</button>
<div id="basic-popup" class="c-popup js-popup" tabindex="-1" role="dialog">
    <!--<div class="c-popup__backdrop"></div>-->
    <div class="c-popup__dialog " role="document">
        <div class="c-popup__header">
            <span class="c-popup__close c-icon c-icon--close" data-dismiss="modal" aria-label="Close"></span>
        </div>
        <div class="c-popup__body">
            <div class="l-grid l-grid--no-gutters">
                <div class="l-grid__row">
                    <div class="l-grid__column-12 u-padding-none">
                        <h3 class="c-heading u-text-center">Some kind of short notification</h3>
                        <p class="c-copy u-text-center">Copy text that decribes what this overlay is all about. This text provides the user with additional information.</p>
                        <div class="c-popup__button-wrapper">
                            <button class="c-button c-popup__c-button">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="c-button " data-toggle="modal" data-trigger="basic-popup-two-buttons"> Modal with 2 Buttons </button>
<div id="basic-popup-two-buttons" class="c-popup js-popup " tabindex="-1" role="dialog">
    <!--<div class="c-popup__backdrop"></div>-->
    <div class="c-popup__dialog " role="document">
        <div class="c-popup__header">
            <span class="c-popup__close c-icon c-icon--close" data-dismiss="modal" aria-label="Close"></span>
        </div>
        <div class="c-popup__body">
            <div class="l-grid l-grid--no-gutters">
                <div class="l-grid__row">
                    <div class="l-grid__column-12 u-padding-none">
                        <h3 class="c-heading u-text-center u-text-weight-light"> A headline describing what this overlay is all about or what just happened </h3>
                        <p class="c-copy u-text-center">Copy text that decribes what this overlay is all about. This text provides the user with additional information.</p>
                    </div>
                </div>
                <div class="l-grid__row">
                    <div class="l-grid__column-12 u-text-center">
                        <button class="c-button c-button--secondary"> ich möchte abbrechen </button>
                        <button class="c-button "> ich möchte fortfahren </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="c-button" data-toggle="modal" data-trigger="basic-popup-two-buttons-movable"> Movable Popup </button>
<div id="basic-popup-two-buttons-movable" class="c-popup js-popup js-popup--movable" tabindex="-1" role="dialog">
    <!--<div class="c-popup__backdrop"></div>-->
    <div class="c-popup__dialog " role="document">
        <div class="c-popup__header">
            <span class="c-icon c-icon--plus c-popup__move u-hidden-medium-down" aria-label="Move"></span>
            <span class="c-popup__close c-icon c-icon--close" data-dismiss="modal" aria-label="Close"></span>
        </div>
        <div class="c-popup__body">
            <div class="l-grid l-grid--no-gutters">
                <div class="l-grid__row">
                    <div class="l-grid__column-12 u-padding-none">
                        <h3 class="c-heading u-text-center u-text-weight-light"> A headline describing what this overlay is all about or what just happened </h3>
                        <p class="c-copy u-text-center">Copy text that decribes what this overlay is all about. This text provides the user with additional information.</p>
                    </div>
                </div>
                <div class="l-grid__row">
                    <div class="l-grid__column-12 u-text-center">
                        <button class="c-button c-button--secondary"> ich möchte abbrechen </button>
                        <button class="c-button "> ich möchte fortfahren </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="c-button " data-toggle="modal" data-trigger="disclaimer-popup"> Modal with Disclaimer </button>
<div id="disclaimer-popup" class="c-popup js-popup " tabindex="-1" role="dialog">
    <!--<div class="c-popup__backdrop"></div>-->
    <div class="c-popup__dialog c-popup__dialog--disclaimer" role="document">
        <div class="c-popup__header">
            <span class="c-popup__close c-icon c-icon--close" data-dismiss="modal" aria-label="Close"></span>
        </div>
        <div class="c-popup__body">
            <div class="l-grid l-grid--no-gutters">
                <div class="l-grid__row">
                    <div class="l-grid__column-12">
                        <div class="c-popup--disclaimer__illustration-frame">
                            <picture class="c-image c-popup--disclaimer__illustration ">
                                <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;contact.png" />
                            </picture>
                        </div>
                    </div>
                </div>
                <div class="l-grid__row">
                    <div class="l-grid__column-12 u-padding-none">
                        <h3 class="c-heading u-text-center"> A headline describing what this overlay is all about or what just happened </h3>
                        <p class="c-copy c-popup--disclaimer__copytext-headline u-text-weight-semibold">Disclaimer and conditions</p>
                        <p class="c-copy c-popup--disclaimer__copytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus venenatis ex, sit amet egestas nulla rutrum a. Curabitur iaculis volutpat gravida.</p>
                        <p class="c-copy c-popup--disclaimer__copytext c-popup--disclaimer__copytext-subheadline u-text-weight-semibold">Some other headline of lenght</p>
                        <p class="c-copy c-popup--disclaimer__copytext">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                        <picture class="c-image c-popup--disclaimer__image ">
                            <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;testimages&#x2F;clem-2x.jpg" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-popup__footer">
            <a class="c-link c-link--block c-popup__link-pull-right" href='#' aria-label="Agree" data-draggable='modal'><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                <!-- Fix White Space issue
  --><span class="c-link__text">Agree</span></a>
            <a class="c-link c-link--block c-popup__link-pull-right" href='#' aria-label="Disagree" data-dismiss='modal'><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                <!-- Fix White Space issue
  --><span class="c-link__text">Disagree</span></a>
        </div>
    </div>
</div>