<div class="pl-navigation-overview">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12">
                <h2>Pagination</h2>
            </div>
            <div class="l-grid__column-12">
                <nav aria-label="Page navigation" class="c-pagination">
                    <h2 class="u-aria-only">You are here:</h2>
                    <ul class="c-pagination__container">
                        <li class="c-pagination__item c-pagination__item--expanded-view">
                            <a class="c-link c-pagination__link" href="#"> <i class="c-pagination__arrow c-pagination__arrow-first-page c-icon c-icon--arrow-first" aria-hidden="true"></i></a>
                        </li>
                        <li class="c-pagination__item">
                            <a class="c-link c-pagination__link" href="#"> <i class="c-pagination__arrow c-pagination__arrow-previous c-icon c-icon--arrow-left" aria-hidden="true"></i></a>
                        </li>
                        <li class="c-pagination__item c-pagination__item--expanded-view">
                            <a href="#" class="c-link c-pagination__link">1</a>
                        </li>
                        <li class="c-pagination__item c-pagination__item--expanded-view">
                            <a href="#" class="c-link c-pagination__link">2</a>
                        </li>
                        <li class="c-pagination__item c-pagination__item--expanded-view">
                            <span class="c-pagination__link c-pagination__ellipsis">...</span>
                        </li>
                        <li class="c-pagination__item">
                            <a href="#" class="c-link c-pagination__link">15</a>
                        </li>
                        <li class="c-pagination__item">
                            <a class="c-link c-pagination__link is-active">16</a>
                        </li>
                        <li class="c-pagination__item">
                            <a href="#" class="c-link c-pagination__link">17</a>
                        </li>
                        <li class="c-pagination__item c-pagination__item--expanded-view">
                            <span class="c-pagination__link c-pagination__ellipsis">...</span>
                        </li>
                        <li class="c-pagination__item c-pagination__item--expanded-view">
                            <a href="#" class="c-link c-pagination__link">20</a>
                        </li>
                        <li class="c-pagination__item c-pagination__item--expanded-view">
                            <a href="#" class="c-link c-pagination__link">21</a>
                        </li>
                        <li class="c-pagination__item">
                            <a class="c-link c-pagination__link" href="#"><i class="c-pagination__arrow c-pagination__arrow-next c-icon c-icon--arrow-right" aria-hidden="true"></i></a>
                        </li>
                        <li class="c-pagination__item c-pagination__item--expanded-view">
                            <a class="c-link c-pagination__link" href="#"> <i class="c-pagination__arrow c-pagination__arrow-last c-icon c-icon--arrow-last" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="l-grid__row">
            <div class="l-grid__column-12">
                <h2> Compact Pagination</h2>
            </div>
            <div class="l-grid__column-12">
                <nav aria-label="Page navigation" class="c-pagination-compact ">
                    <h2 class="u-aria-only">You are here:</h2>
                    <a class="c-link c-pagination-compact__previous" href="#" disabled>
                        <i class="c-icon c-icon--arrow-left c-pagination-compact__c-icon" aria-hidden="true"></i>
                        <span class="c-pagination-compact__direction-label"> Back</span>
                    </a>
                    <div class="c-pagination-compact__display">
                        <span class="c-pagination-compact__current-page">1</span> of <span class="c-pagination-compact__total-pages">9</span>
                    </div>
                    <a class="c-link c-pagination-compact__next" href="#">
                        <span class="c-pagination-compact__direction-label"> Next </span>
                        <i class="c-icon c-icon--arrow-right c-pagination-compact__c-icon" aria-hidden="true"></i>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</div>