<div class="c-process-rating l-grid u-text-center">
    <div class="l-grid__row">
        <div class="l-grid__column-10 offset-1">
            <h6 class="c-heading t-primary-grey"> Please help us to improve our service </h6>
            <h4 class="c-heading t-primary-grey c-process-rating__title"> How did you like our policy process? </h4>
            <div class="c-process-rating__container js-process-star-rating">
                <button class="c-icon c-icon--star-o t-primary-action c-process-rating__icon js-process-star-rating-item" aria-describedby="first-star-tip" aria-label="Rate one star out of five stars"></button>
                <button class="c-icon c-icon--star-o t-primary-action c-process-rating__icon js-process-star-rating-item" aria-describedby="second-star-tip" aria-label="Rate two star out of five stars"></button>
                <button class="c-icon c-icon--star-o t-primary-action c-process-rating__icon js-process-star-rating-item" aria-describedby="third-star-tip" aria-label="Rate three star out of five stars"></button>
                <button class="c-icon c-icon--star-o t-primary-action c-process-rating__icon js-process-star-rating-item" aria-describedby="fourth-star-tip" aria-label="Rate four star out of five stars"></button>
                <button class="c-icon c-icon--star-o t-primary-action c-process-rating__icon js-process-star-rating-item" aria-describedby="fifth-star-tip" aria-label="Rate five star out of five stars"></button>
            </div>
            <div class="c-process-rating__label" aria-hidden="true">
                <p class="c-copy c-copy--large c-process-rating__label__text t-primary-grey u-text-left">poor</p>
                <p class="c-copy c-copy--large c-process-rating__label__text t-primary-grey u-text-right">great</p>
            </div>
            <picture class="c-image c-process-rating__image u-hidden-small-down ">
                <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;cat-illustration.png" />
            </picture>
        </div>
    </div>
    <div class="c-process-rating__hidden--tips">
        <div id="first-star-tip">Hated it</div>
        <div id="second-star-tip">Didn&#39;t like it</div>
        <div id="third-star-tip">Just OK</div>
        <div id="fourth-star-tip">Liked it</div>
        <div id="fifth-star-tip">Loved it</div>
    </div>
</div>