<div class="l-container l-container--full-width c-product-comparison-bg-with-image">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row ">
            <div class="l-grid__column-small-12 c-product-comparison--margin-top">
                <div class="l-grid__column-medium-10 offset-medium-1 u-margin-bottom-lg">
                    <h2 class="c-heading u-text-weight-light u-text-center"> Choose Your ideal Protection for you and your car </h2>
                </div>
                <div class="l-grid__column-medium-6 offset-medium-3">
                    <p class="c-copy c-copy--large u-text-center">Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis.Donec id elit non mi porta gravida at eget metus.</p>
                </div>
            </div>
        </div>
        <div class="l-grid__row">
            <div class="l-grid__column-12 c-product-comparison__wrapper">
                <div class="c-product-tile c-product-tile--with-top-image">
                    <picture class="c-image c-product-comparison__col__img u-hidden-small-down ">
                        <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;cat-table.png" />
                    </picture>
                    <div class="c-product-comparison__col">
                        <div class="c-product-comparison__col-body">
                            <div class="c-product-comparison__col-content">
                                <h2 class="c-heading c-heading--subsection-large c-product-comparison__heading u-text-weight-semibold"> Digital+ </h2>
                                <p class="c-copy c-product-comparison__sub-heading">From<span class="u-text-weight-semibold">680 €/year</span></p>
                                <p class="c-copy c-product-comparison__text c-copy--large">Base protection at reasonable prices through online self service</p>
                            </div>
                            <button class="c-button c-button--secondary c-product-comparison__content-button"> Get Quote Now </button>
                        </div>
                    </div>
                </div>
                <div class="c-product-tile c-product-tile--with-top-image c-product-tile--highlight">
                    <picture class="c-image c-product-comparison__col__img--small c-product-comparison__col__img-small--with-top u-hidden-medium-up ">
                        <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;cat-table.png" />
                    </picture>
                    <picture class="c-image c-product-comparison__col__img--small c-product-comparison__col__img-small--with-top u-hidden-medium-up ">
                        <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;lamp.png" />
                    </picture>
                    <div class="c-product-comparison__col c-product-comparison__col-highlight">
                        <div class="c-product-comparison__col-recommanded t-bg-rich-green">
                            <p class="c-copy c-copy--large u-margin-bottom-0 u-text-weight-bold">Our recommandation</p>
                        </div>
                        <div class="c-product-comparison__col-body">
                            <div class="c-product-comparison__col-content">
                                <h2 class="c-heading c-heading--subsection-large c-product-comparison__heading u-text-weight-semibold"> Comfort Package </h2>
                                <p class="c-copy c-product-comparison__sub-heading">From<span class="u-text-weight-semibold">720 €/year</span></p>
                                <p class="c-copy c-product-comparison__text c-copy--large">Extensive protection with personal support and service</p>
                            </div>
                            <button class="c-button c-product-comparison__content-button"> Get Quote Now </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-grid__row c-stage c-stage--text c-product-comparison">
            <div class="l-grid__column-12 c-stage__content u-padding-top-none u-padding-bottom-none">
                <a class="c-link c-link--block" href='#' aria-label="Compare Products In Details"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                    <!-- Fix White Space issue
  --><span class="c-link__text">Compare Products In Details</span></a>
            </div>
        </div>
    </div>
</div>