<div class="c-tile__product--container u-margin-none t-bg-vibrant-purple t-white">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-small-12 l-grid__column-medium-6 offset-medium-3">
                <h4 class="c-heading u-text-center c-tile__product-heading"> Find out how we can help you </h4>
            </div>
            <div class="l-grid__column-small-12 l-grid__column-medium-10 offset-medium-1">
                <h2 class="c-heading u-text-center u-text-weight-light"> What would you like to secured? </h2>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-medium-9 l-grid__column-large-6 js-carousel--product-tile u-margin-top-sm">
                <div class="c-tile__product-tile--wrapper l-grid__row u-margin-top-lg">
                    <div class="c-tile__product-tile--slide l-grid__column-medium-4">
                        <div class="c-tile--product-teaser">
                            <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
                                <i class="t-bg-white c-tile--product-teaser__icon t-primary-action-dark c-icon custom-svg">{{> icon-glasses-sun-circle}}</i>
                                <p class="c-copy c-tile__product--title u-padding-top-md">Protect your family</p>
                            </a>
                        </div>
                    </div>
                    <div class="c-tile__product-tile--slide l-grid__column-medium-4">
                        <div class="c-tile--product-teaser">
                            <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
                                <i class="t-bg-white c-tile--product-teaser__icon t-primary-action-dark c-icon c-icon--product-caravan"></i>
                                <p class="c-copy c-tile__product--title u-padding-top-md">Protect your car</p>
                            </a>
                        </div>
                    </div>
                    <div class="c-tile__product-tile--slide l-grid__column-medium-4">
                        <div class="c-tile--product-teaser">
                            <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
                                <i class="t-bg-white c-tile--product-teaser__icon t-primary-action-dark c-icon c-icon--product-electric-plug"></i>
                                <p class="c-copy c-tile__product--title u-padding-top-md">Protect your home and belonings</p>
                            </a>
                        </div>
                    </div>
                    <div class="c-tile__product-tile--slide l-grid__column-medium-4">
                        <div class="c-tile--product-teaser">
                            <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
                                <i class="t-bg-white c-tile--product-teaser__icon t-primary-action-dark c-icon c-icon--product-lock"></i>
                                <p class="c-copy c-tile__product--title u-padding-top-md">Secure your finances and wealth</p>
                            </a>
                        </div>
                    </div>
                    <div class="c-tile__product-tile--slide l-grid__column-medium-4">
                        <div class="c-tile--product-teaser">
                            <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
                                <i class="t-bg-white c-tile--product-teaser__icon t-primary-action-dark c-icon c-icon--product-light-bulb-idea"></i>
                                <p class="c-copy c-tile__product--title u-padding-top-md">Be covered in case of accidents</p>
                            </a>
                        </div>
                    </div>
                    <div class="c-tile__product-tile--slide l-grid__column-medium-4">
                        <div class="c-tile--product-teaser">
                            <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
                                <i class="t-bg-white c-tile--product-teaser__icon t-primary-action-dark c-icon c-icon--product-umbrella-protection"></i>
                                <p class="c-copy c-tile__product--title u-padding-top-md">Be prepared for your retirement</p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="c-tile__product-tile--pagination"></div>
            </div>
            <div class="l-grid__column-large-12 u-text-center c-tile__product__icon">
                <button class="c-button  t-primary-action-dark c-button--negative u-margin-none"> Discover All Insurances </button>
            </div>
        </div>
    </div>
</div>