div class="l-grid l-grid--max-width"> <div class="l-grid__row ">
    <div class="l-grid__column-12">
        <h3 class="c-heading u-margin-md u-text-center"> Stage with promotional elements </h3>
    </div>
</div>
</div>
<div class="c-stage c-stage--landing c-stage--1by1dot4-ratio  ">
    <div class="c-stage__wrapper">
        <div class="l-grid l-grid--max-width u-hidden-small-down">
            <div class="c-promotional-element c-promotional-element--style-1b">
                <div class="c-promotional-element__inner">
                    <span class="c-promotional-element__headline">14 <span class="c-heading--promo-large__small-text">%</span></span>
                    <p class="c-promotional-element__text-small">off new <br /> policies online</p>
                </div>
            </div>
        </div>
        <div class="l-grid l-grid--max-width c-stage__breadcrumb u-hidden-small-down">
            <div class="l-grid__row">
                <div class="l-grid__column-12">
                </div>
            </div>
        </div>
        <div class="c-stage__image-container">
            <picture class="c-image c-stage__image c-stage__image--cover ">
                <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;slider-img-01.png" />
            </picture>
        </div>
        <div class="l-grid l-grid--max-width c-stage__content">
            <div class="l-grid__row c-stage__content__grid">
                <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                    <h4 class="c-heading c-stage__topline"> How can we help you? </h4>
                </div>
                <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-10 offset-medium-1">
                    <h1 class="c-heading c-heading--bold-cap c-stage__headline"> Travel safe <em class="t-rich-red">with confident</em>
                    </h1>
                </div>
                <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                    <h3 class="c-heading c-stage__highlight-text">
                        <span class="t-rich-red u-text-weight-bold">From 98 EUR / year</span>
                    </h3>
                    <ul class="c-list c-stage__list">
                        <li class="c-list__item  ">
                            <span aria-hidden="true" class="c-icon c-icon--check"></span> Expensive protection from 2,37 EUR /month </li>
                        <li class="c-list__item  ">
                            <span aria-hidden="true" class="c-icon c-icon--check"></span> 24h help service - in case of emergency locally </li>
                        <li class="c-list__item  ">
                            <span aria-hidden="true" class="c-icon c-icon--check"></span> Customize your personal insurance </li>
                    </ul>
                </div>
                <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                    <button class="c-button "> Get your quote now </button>
                </div>
            </div>
        </div>
    </div>
</div>