<div class="l-grid l-grid--max-width">
    <div class="l-grid__row ">
        <div class="l-grid__column-12">
            <h3 class="c-heading u-margin-md u-text-center">

                Stage with Navigation - Option 1


            </h3>

        </div>
    </div>
</div>

<div class="c-stage c-stage--with-navigation   ">
    <div class="c-carousel js-stage-with-navigation-carousel">
        <div class="c-carousel__wrapper">
            <div class="c-carousel__slide c-carousel__stage__slide u-flexible-ratio-small-down--1by1dot4 js-data-stage--with-navigation"
                data-label="Life Risk Insurance" data-icon="c-icon c-icon--product-heart">
                <div class="c-stage__image-container">
                    <picture class="c-image c-stage__image c-stage__image--cover c-image--top-center">
                        <img class="c-image__img"
                            alt=""
                            src="{{root}}assets/img/stage-home-01.jpg" />
                    </picture>

                </div>

                <div class="c-stage__content l-grid l-grid--max-width">
                    <div class="c-stage__content__grid l-grid__row">
                        <div class="l-grid__column-large-8 offset-large-2">
                            <h4 class="c-heading c-stage__topline">

                                life insurance


                            </h4>

                        </div>
                        <div class="l-grid__column-large-10 offset-large-1">
                            <h1 class="c-heading c-heading--bold-cap c-stage__headline js-extra-height-headline">


                                <em class='t-rich-purple'>Live safely</em>, we're with you

                            </h1>

                        </div>
                        <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                            <ul class="c-list c-stage__list js-extra-height-list">
                                <li class="c-list__item c-list__item--icon ">

                                    Expensive protection from 2,37 EUR /month
                                </li>
                                <li class="c-list__item c-list__item--icon ">

                                    Award winning product, Customize your personal insurance
                                </li>
                            </ul>

                        </div>
                        <div class="c-stage__button__grid l-grid__column-medium-8 offset-medium-2">
                            <button class="c-button c-stage__button--nav">
                                Get your quote now
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="c-carousel__slide c-carousel__stage__slide u-flexible-ratio-small-down--1by1dot4 js-data-stage--with-navigation"
                data-label="Car Insurance" data-icon="c-icon c-icon--product-car-front">
                <div class="c-stage__image-container">
                    <picture class="c-image c-stage__image c-stage__image--cover ">
                        <img class="c-image__img"
                            alt=""
                            src="{{root}}assets/img/slider-img-02.png" />
                    </picture>

                </div>

                <div class="c-stage__content l-grid l-grid--max-width">
                    <div class="c-stage__content__grid l-grid__row">
                        <div class="l-grid__column-large-8 offset-large-2">
                            <h4 class="c-heading c-stage__topline">

                                Car insurance


                            </h4>

                        </div>
                        <div class="l-grid__column-large-10 offset-large-1">
                            <h1 class="c-heading c-heading--bold-cap c-stage__headline js-extra-height-headline">


                                <em class='t-rich-purple'>Drive safely</em>, we're with you

                            </h1>

                        </div>
                        <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                            <ul class="c-list c-stage__list js-extra-height-list">
                                <li class="c-list__item c-list__item--icon ">

                                    Expensive protection from 2,37 EUR /month
                                </li>
                                <li class="c-list__item c-list__item--icon ">

                                    Award winning product, Customize your personal insurance
                                </li>
                            </ul>

                        </div>
                        <div class="c-stage__button__grid l-grid__column-medium-8 offset-medium-2">
                            <button class="c-button c-stage__button--nav">
                                Get your quote now
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="c-carousel__slide c-carousel__stage__slide u-flexible-ratio-small-down--1by1dot4 js-data-stage--with-navigation"
                data-label="Home Security" data-icon="c-icon c-icon--product-house">
                <div class="c-stage__image-container">
                    <picture class="c-image c-stage__image c-stage__image--cover ">
                        <img class="c-image__img"
                            alt=""
                            src="{{root}}assets/img/slider-img-03.png" />
                    </picture>

                </div>

                <div class="c-stage__content l-grid l-grid--max-width">
                    <div class="c-stage__content__grid l-grid__row">
                        <div class="l-grid__column-large-8 offset-large-2">
                            <h4 class="c-heading c-stage__topline">

                                Home insurance


                            </h4>

                        </div>
                        <div class="l-grid__column-large-10 offset-large-1">
                            <h1 class="c-heading c-heading--bold-cap c-stage__headline js-extra-height-headline">


                                <em class='t-rich-purple'>Live safely</em>, we're with you

                            </h1>

                        </div>
                        <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                            <ul class="c-list c-stage__list js-extra-height-list">
                                <li class="c-list__item c-list__item--icon ">

                                    Expensive protection from 2,37 EUR /month
                                </li>
                                <li class="c-list__item c-list__item--icon ">

                                    Award winning product, Customize your personal insurance
                                </li>
                            </ul>

                        </div>
                        <div class="c-stage__button__grid l-grid__column-medium-8 offset-medium-2">
                            <button class="c-button c-stage__button--nav">
                                Get your quote now
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="c-carousel__slide c-carousel__stage__slide u-flexible-ratio-small-down--1by1dot4 js-data-stage--with-navigation"
                data-label="Disability Insurance" data-icon="c-icon c-icon--product-health-bag-doctor">
                <div class="c-stage__image-container">
                    <picture class="c-image c-stage__image c-stage__image--cover ">
                        <img class="c-image__img"
                            alt=""
                            src="{{root}}assets/img/slider-img-04.png" />
                    </picture>

                </div>

                <div class="c-stage__content l-grid l-grid--max-width">
                    <div class="c-stage__content__grid l-grid__row">
                        <div class="l-grid__column-large-8 offset-large-2">
                            <h4 class="c-heading c-stage__topline">

                                Disability insurance


                            </h4>

                        </div>
                        <div class="l-grid__column-large-10 offset-large-1">
                            <h1 class="c-heading c-heading--bold-cap c-stage__headline js-extra-height-headline">


                                <em class='t-rich-purple'>Live safely</em>, we're with you

                            </h1>

                        </div>
                        <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                            <ul class="c-list c-stage__list js-extra-height-list">
                                <li class="c-list__item c-list__item--icon ">

                                    Expensive protection from 2,37 EUR /month
                                </li>
                                <li class="c-list__item c-list__item--icon ">

                                    Award winning product, Customize your personal insurance
                                </li>
                            </ul>

                        </div>
                        <div class="c-stage__button__grid l-grid__column-medium-8 offset-medium-2">
                            <button class="c-button c-stage__button--nav">
                                Get your quote now
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="c-carousel__slide c-carousel__stage__slide u-flexible-ratio-small-down--1by1dot4 js-data-stage--with-navigation"
                data-label="Animal Health Insurance" data-icon="c-icon c-icon--product-health-bag-doctor">
                <div class="c-stage__image-container">
                    <picture class="c-image c-stage__image c-stage__image--cover ">
                        <img class="c-image__img"
                            alt=""
                            src="{{root}}assets/img/slider-img-05.png" />
                    </picture>

                </div>

                <div class="c-stage__content l-grid l-grid--max-width">
                    <div class="c-stage__content__grid l-grid__row">
                        <div class="l-grid__column-large-8 offset-large-2">
                            <h4 class="c-heading c-stage__topline">

                                Pet insurance


                            </h4>

                        </div>
                        <div class="l-grid__column-large-10 offset-large-1">
                            <h1 class="c-heading c-heading--bold-cap c-stage__headline js-extra-height-headline">


                                <em class='t-rich-purple'>Live safely</em>, we're with your pet

                            </h1>

                        </div>
                        <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                            <ul class="c-list c-stage__list js-extra-height-list">
                                <li class="c-list__item c-list__item--icon ">

                                    Expensive protection from 2,37 EUR /month
                                </li>
                                <li class="c-list__item c-list__item--icon ">

                                    Award winning product, Customize your personal insurance
                                </li>
                            </ul>

                        </div>
                        <div class="c-stage__button__grid l-grid__column-medium-8 offset-medium-2">
                            <button class="c-button c-stage__button--nav">
                                Get your quote now
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="l-grid l-grid--max-width">
            <div class="l-grid__row">
                <div
                    class="c-stage__navigation__grid c-stage__navigation__grid--rectangle l-grid__column-large-10 offset-large-1">
                    <div class="c-icon-navigation c-stage__navigation--rectangle justify-content-center"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="l-grid l-grid--max-width">
    <div class="l-grid__row ">
        <div class="l-grid__column-12">
            <h3 class="c-heading u-margin-md u-text-center">

                Stage with Navigation - Option 2


            </h3>

        </div>
    </div>
</div>

<div class="c-stage c-stage--with-navigation   ">
    <div class="c-carousel js-stage-with-navigation-carousel">
        <div class="c-carousel__wrapper">
            <div class="c-carousel__slide c-carousel__stage__slide u-flexible-ratio-small-down--1by1dot4 js-data-stage--with-navigation"
                data-label="Life Risk Insurance" data-icon="c-icon c-icon--product-heart">
                <div class="c-stage__image-container">
                    <picture class="c-image c-stage__image c-stage__image--cover ">
                        <img class="c-image__img"
                            alt=""
                            src="{{root}}assets/img/slider-img-01.png" />
                    </picture>

                </div>

                <div class="c-stage__content l-grid l-grid--max-width">
                    <div class="c-stage__content__grid l-grid__row">
                        <div class="l-grid__column-large-8 offset-large-2">
                            <h4 class="c-heading c-stage__topline">

                                life insurance


                            </h4>

                        </div>
                        <div class="l-grid__column-large-10 offset-large-1">
                            <h1 class="c-heading c-heading--bold-cap c-stage__headline js-extra-height-headline">


                                <em class='t-rich-purple'>Live safely</em>, we're with you

                            </h1>

                        </div>
                        <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                            <ul class="c-list c-stage__list js-extra-height-list">
                                <li class="c-list__item c-list__item--icon ">

                                    Expensive protection from 2,37 EUR /month
                                </li>
                                <li class="c-list__item c-list__item--icon ">

                                    Award winning product, Customize your personal insurance
                                </li>
                            </ul>

                        </div>
                        <div class="c-stage__button__grid l-grid__column-medium-8 offset-medium-2">
                            <button class="c-button c-stage__button--nav">
                                Get your quote now
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="c-carousel__slide c-carousel__stage__slide u-flexible-ratio-small-down--1by1dot4 js-data-stage--with-navigation"
                data-label="Car Insurance" data-icon="c-icon c-icon--product-car-front">
                <div class="c-stage__image-container">
                    <picture class="c-image c-stage__image c-stage__image--cover ">
                        <img class="c-image__img"
                            alt=""
                            src="{{root}}assets/img/slider-img-02.png" />
                    </picture>

                </div>

                <div class="c-stage__content l-grid l-grid--max-width">
                    <div class="c-stage__content__grid l-grid__row">
                        <div class="l-grid__column-large-8 offset-large-2">
                            <h4 class="c-heading c-stage__topline">

                                Car insurance


                            </h4>

                        </div>
                        <div class="l-grid__column-large-10 offset-large-1">
                            <h1 class="c-heading c-heading--bold-cap c-stage__headline js-extra-height-headline">


                                <em class='t-rich-purple'>Drive safely</em>, we're with you

                            </h1>

                        </div>
                        <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                            <ul class="c-list c-stage__list js-extra-height-list">
                                <li class="c-list__item c-list__item--icon ">

                                    Expensive protection from 2,37 EUR /month
                                </li>
                                <li class="c-list__item c-list__item--icon ">

                                    Award winning product, Customize your personal insurance
                                </li>
                            </ul>

                        </div>
                        <div class="c-stage__button__grid l-grid__column-medium-8 offset-medium-2">
                            <button class="c-button c-stage__button--nav">
                                Get your quote now
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="c-carousel__slide c-carousel__stage__slide u-flexible-ratio-small-down--1by1dot4 js-data-stage--with-navigation"
                data-label="Home Security" data-icon="c-icon c-icon--product-house">
                <div class="c-stage__image-container">
                    <picture class="c-image c-stage__image c-stage__image--cover ">
                        <img class="c-image__img"
                            alt=""
                            src="{{root}}assets/img/slider-img-03.png" />
                    </picture>

                </div>

                <div class="c-stage__content l-grid l-grid--max-width">
                    <div class="c-stage__content__grid l-grid__row">
                        <div class="l-grid__column-large-8 offset-large-2">
                            <h4 class="c-heading c-stage__topline">

                                Home insurance


                            </h4>

                        </div>
                        <div class="l-grid__column-large-10 offset-large-1">
                            <h1 class="c-heading c-heading--bold-cap c-stage__headline js-extra-height-headline">


                                <em class='t-rich-purple'>Home safely</em>, we're with you

                            </h1>

                        </div>
                        <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                            <ul class="c-list c-stage__list js-extra-height-list">
                                <li class="c-list__item c-list__item--icon ">

                                    Expensive protection from 2,37 EUR /month
                                </li>
                                <li class="c-list__item c-list__item--icon ">

                                    Award winning product, Customize your personal insurance
                                </li>
                            </ul>

                        </div>
                        <div class="c-stage__button__grid l-grid__column-medium-8 offset-medium-2">
                            <button class="c-button c-stage__button--nav">
                                Get your quote now
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="c-carousel__slide c-carousel__stage__slide u-flexible-ratio-small-down--1by1dot4 js-data-stage--with-navigation"
                data-label="Disability Insurance" data-icon="c-icon c-icon--product-health-bag-doctor">
                <div class="c-stage__image-container">
                    <picture class="c-image c-stage__image c-stage__image--cover ">
                        <img class="c-image__img"
                            alt=""
                            src="{{root}}assets/img/slider-img-04.png" />
                    </picture>

                </div>

                <div class="c-stage__content l-grid l-grid--max-width">
                    <div class="c-stage__content__grid l-grid__row">
                        <div class="l-grid__column-large-8 offset-large-2">
                            <h4 class="c-heading c-stage__topline">

                                Disability insurance


                            </h4>

                        </div>
                        <div class="l-grid__column-large-10 offset-large-1">
                            <h1 class="c-heading c-heading--bold-cap c-stage__headline js-extra-height-headline">


                                <em class='t-rich-purple'>Live safely</em>, we're with you

                            </h1>

                        </div>
                        <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                            <ul class="c-list c-stage__list js-extra-height-list">
                                <li class="c-list__item c-list__item--icon ">

                                    Expensive protection from 2,37 EUR /month
                                </li>
                                <li class="c-list__item c-list__item--icon ">

                                    Award winning product, Customize your personal insurance
                                </li>
                            </ul>

                        </div>
                        <div class="c-stage__button__grid l-grid__column-medium-8 offset-medium-2">
                            <button class="c-button c-stage__button--nav">
                                Get your quote now
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="c-carousel__slide c-carousel__stage__slide u-flexible-ratio-small-down--1by1dot4 js-data-stage--with-navigation"
                data-label="Animal Health Insurance" data-icon="c-icon c-icon--product-health-bag-doctor">
                <div class="c-stage__image-container">
                    <picture class="c-image c-stage__image c-stage__image--cover ">
                        <img class="c-image__img"
                            alt=""
                            src="{{root}}assets/img/slider-img-05.png" />
                    </picture>

                </div>

                <div class="c-stage__content l-grid l-grid--max-width">
                    <div class="c-stage__content__grid l-grid__row">
                        <div class="l-grid__column-large-8 offset-large-2">
                            <h4 class="c-heading c-stage__topline">

                                Pet insurance


                            </h4>

                        </div>
                        <div class="l-grid__column-large-10 offset-large-1">
                            <h1 class="c-heading c-heading--bold-cap c-stage__headline js-extra-height-headline">


                                <em class='t-rich-purple'>Live safely</em>, we're with your pet

                            </h1>

                        </div>
                        <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                            <ul class="c-list c-stage__list js-extra-height-list">
                                <li class="c-list__item c-list__item--icon ">

                                    Expensive protection from 2,37 EUR /month
                                </li>
                                <li class="c-list__item c-list__item--icon ">

                                    Award winning product, Customize your personal insurance
                                </li>
                            </ul>

                        </div>
                        <div class="c-stage__button__grid l-grid__column-medium-8 offset-medium-2">
                            <button class="c-button c-stage__button--nav">
                                Get your quote now
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="l-grid l-grid--max-width">
            <div class="l-grid__row">
                <div
                    class="c-stage__navigation__grid c-stage__navigation__grid--round l-grid__column-large-10 offset-large-1">

                    <div
                        class="c-icon-navigation c-icon-navigation--rounded-icons c-stage__navigation--circle justify-content-center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>