
<div class="c-stage c-stage--cutout c-stage--1by1dot4-ratio  ">
    <div class="c-stage__wrapper">
        <div class="l-grid l-grid--max-width c-stage__breadcrumb u-hidden-small-down">
            <div class="l-grid__row">
                <div class="l-grid__column-12">
                    <nav aria-label="Breadcrumbs" class="c-breadcrumb u-hidden-small-down u-text-left">
                        <span class="u-aria-only">You are here:</span>
                        <ul class="c-breadcrumb__list">
                            <li class="c-breadcrumb__item">
                                <a class="c-breadcrumb__link " href="#">Home</a>
                            </li>
                            <li class="c-breadcrumb__item">
                                <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                <a class="c-breadcrumb__link " href="#">Products</a>
                            </li>
                            <li class="c-breadcrumb__item">
                                <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                <a class="c-breadcrumb__link is-active" href="#">Car Insurance</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="c-stage__background-container">
            <div class="c-stage__background-1by1dot4-box">
                <div class="c-stage__background t-bg-soft-grey-light">
                </div>
            </div>
        </div>
        <div class="l-grid l-grid--max-width c-stage__content">
            <div class="l-grid__row c-stage__content__grid">
                <div class=" l-grid__column-large-10 offset-large-1">
                    <h1 class="c-heading c-stage__headline">
                        <span class="u-text-weight-light">Protection for me and my car</span> <br> <b class="t-rich-purple">exactly how I need it.</b>
                    </h1>
                </div>
                <div class="l-grid__column-large-12">
                    <picture class="c-image c-stage__cutout-image ">
                        <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;bmw.png" />
                    </picture>
                </div>
                <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                    <h3 class="c-heading c-stage__highlight-text u-text-weight-bold"> From 9,99 EUR / month </h3>
                </div>
                <div class="l-grid__column-12 c-stage__button__grid">
                    <button class="c-button "> Get your quote </button>
                </div>
            </div>
        </div>
    </div>
</div>