<div class="c-table-scroll__container u-hidden">
    <p class="c-copy c-copy--medium u-margin-none" >Swipe to view more</p>
  
  </div>
  <div class="c-table__container js-table-scroll-wrapper">
    <table class="c-table js-table-sortable ">
  
    <caption class="u-aria-only">
      List of companies and their prices.<br>
      <span>Column one contains the official codes used in financial markets.</span>
    </caption>
  
    <thead class="c-table__header">
    <tr class="c-table__header-row">
      <th class="c-table__header-cell c-table__header-cell--sorted c-table__header-cell--sortable js-column-sortable">
        <div class="c-table__header-title-block">
          <span class="c-table__header-title">Code</span>
        </div>
      </th>
      <th class="c-table__header-cell c-table__header-cell--sortable js-column-sortable">
        <div class="c-table__header-title-block">
          <span class="c-table__sort-indicator ">
    <i class="c-icon c-icon--chevron-up" aria-hidden="true"></i>
    <i class="c-icon c-icon--chevron-down u-line-height-0 " aria-hidden="true"></i>
  </span>
  
          <span class="c-table__header-title">Company</span>
        </div>
      </th>
      <th class="c-table__header-cell c-table__header-cell--sortable js-column-sortable js-column-sort-num js-column-sort-by-class c-table__header-cell--number">
        <div class="c-table__header-title-block">
          <span class="c-table__sort-indicator ">
    <i class="c-icon c-icon--chevron-up" aria-hidden="true"></i>
    <i class="c-icon c-icon--chevron-down u-line-height-0 " aria-hidden="true"></i>
  </span>
  
          <span class="c-table__header-title">Price</span>
        </div>
      </th>
      <th class="c-table__header-cell c-table__header-cell--sortable js-column-sortable js-column-sort-num c-table__header-cell--number">
        <div class="c-table__header-title-block">
          <span class="c-table__sort-indicator ">
    <i class="c-icon c-icon--chevron-up" aria-hidden="true"></i>
    <i class="c-icon c-icon--chevron-down u-line-height-0 " aria-hidden="true"></i>
  </span>
  
          <span class="c-table__header-title">Change</span>
        </div>
      </th>
      <th class="c-table__header-cell c-table__header-cell--sortable js-column-sortable js-column-sort-num c-table__header-cell--number">
        <div class="c-table__header-title-block">
          <span class="c-table__sort-indicator ">
    <i class="c-icon c-icon--chevron-up" aria-hidden="true"></i>
    <i class="c-icon c-icon--chevron-down u-line-height-0 " aria-hidden="true"></i>
  </span>
  
          <span class="c-table__header-title">Change%</span>
        </div>
      </th>
      <th class="c-table__header-cell c-table__header-cell--number">
        <div class="c-table__header-title-block">
          <span class="c-table__header-title">Sample</span>
        </div>
      </th>
      <th class="c-table__header-cell">
        <div class="c-table__header-title-block">
                <span class="c-table__header-title">
                  Lorem
                  
                </span>
        </div>
      </th>
    </tr>
    </thead>
  
    <tbody class="c-table__content">
      <tr class="c-table__row">
        <td class="c-table__cell">AAC</td>
        <td class="c-table__cell"><b>Honda</b></td>
        <td class="c-table__cell c-table__cell--number">
          <span class="c-table__number-value c-table__number-value--positive">
  
          $1.38
        </span>
        </td>
        <td class="c-table__cell c-table__cell--number">-0.01</td>
        <td class="c-table__cell c-table__cell--number">-0.36%</td>
        <td class="c-table__cell c-table__cell--number">$0.00</td>
        <td class="c-table__cell">ab lreom</td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell">AAD</td>
        <td class="c-table__cell">Abacus Property Group</td>
        <td class="c-table__cell c-table__cell--number">
  
          <span class="c-table__number-value c-table__number-value--negative">
          $1.15
        </span>
        </td>
        <td class="c-table__cell c-table__cell--number">+2.01</td>
        <td class="c-table__cell c-table__cell--number">+45.00%</td>
        <td class="c-table__cell c-table__cell--number">$0.00</td>
        <td class="c-table__cell">ab ipsum</td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell">AAC</td>
        <td class="c-table__cell">Aditya Birla Minerals Limited</td>
        <td class="c-table__cell c-table__cell--number">
          <span class="c-table__number-value c-table__number-value--positive">
  
          $2.22
        </span>
        </td>
        <td class="c-table__cell c-table__cell--number">-1.21</td>
        <td class="c-table__cell c-table__cell--number">+5.00%</td>
        <td class="c-table__cell c-table__cell--number">$0.00</td>
        <td class="c-table__cell">ab tyuy</td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell">ABC</td>
        <td class="c-table__cell">Acrux Limited</td>
        <td class="c-table__cell c-table__cell--number">
          <span class="c-table__number-value c-table__number-value--positive">
  
          $1.50
        </span>
        </td>
        <td class="c-table__cell c-table__cell--number">-0.01</td>
        <td class="c-table__cell c-table__cell--number">±0%</td>
        <td class="c-table__cell c-table__cell--number">$0.00</td>
        <td class="c-table__cell"><a href='#' class='c-link'>mad abdi</a></td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell">AGK</td>
        <td class="c-table__cell">Adamus Resources Limited</td>
        <td class="c-table__cell c-table__cell--number">
          <span class="c-table__number-value c-table__number-value--positive">
  
          $3.12
        </span>
        </td>
        <td class="c-table__cell c-table__cell--number">-0.01</td>
        <td class="c-table__cell c-table__cell--number">-1.00%</td>
        <td class="c-table__cell c-table__cell--number">$0.00</td>
        <td class="c-table__cell"><a href='#' class='c-link'><i class='c-icon c-icon--arrow-right'></i>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </a></td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell">ACR</td>
        <td class="c-table__cell">Anglogold Asha Limited</td>
        <td class="c-table__cell c-table__cell--number">
          <span class="c-table__number-value c-table__number-value--positive">
  
          $1.45
        </span>
        </td>
        <td class="c-table__cell c-table__cell--number">-2.01</td>
        <td class="c-table__cell c-table__cell--number">+2.35%</td>
        <td class="c-table__cell c-table__cell--number">$0.00</td>
        <td class="c-table__cell"><a href='#' class='c-link'><i class='c-icon c-icon--arrow-right'></i><span class='c-link__text'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </span3></a></td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell">AGO</td>
        <td class="c-table__cell">AGL Energy Limited</td>
        <td class="c-table__cell c-table__cell--number">
  
          <span class="c-table__number-value c-table__number-value--negative">
          $6.57
        </span>
        </td>
        <td class="c-table__cell c-table__cell--number">+0.07</td>
        <td class="c-table__cell c-table__cell--number">+1.45%</td>
        <td class="c-table__cell c-table__cell--number">$0.00</td>
        <td class="c-table__cell">ab dolar sit</td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell">DBG</td>
        <td class="c-table__cell">Bright Limited</td>
        <td class="c-table__cell c-table__cell--number">
  
          <span class="c-table__number-value c-table__number-value--negative">
          $3.21
        </span>
        </td>
        <td class="c-table__cell c-table__cell--number">+0.21</td>
        <td class="c-table__cell c-table__cell--number">-2.00%</td>
        <td class="c-table__cell c-table__cell--number">$0.00</td>
        <td class="c-table__cell"><a href='#' class='c-link'>amed lorelei</a></td>
      </tr>
      <tr class="c-table__row">
        <td class="c-table__cell">FKT</td>
        <td class="c-table__cell">Bright adelaide</td>
        <td class="c-table__cell c-table__cell--number">
  
          <span class="c-table__number-value c-table__number-value--negative">
          $.12
        </span>
        </td>
        <td class="c-table__cell c-table__cell--number">+1.80</td>
        <td class="c-table__cell c-table__cell--number">-2.15%</td>
        <td class="c-table__cell c-table__cell--number">$0.00</td>
        <td class="c-table__cell">amed lorelei</td>
      </tr>
    </tbody>
  </table>
  
  </div>
  