<div class="l-grid l-grid--max-width u-margin-bottom-md u-margin-top-md">
    <div class="l-grid__row">
        <div class="l-grid__column-12">
            <h3 class="c-heading u-text-weight-light">Tabs</h3>
        </div>
    </div>
</div>
<div class="c-tabs js-tabs l-grid l-grid--max-width   ">
    <div class="l-grid__row">
        <ul class="c-tabs__nav l-grid__column-small-12 " role="tablist">
            <li class="c-tabs__nav-item active" tabindex="0" data-content-id="FirstContent" role="tab">
                <input id="FirstInput" tabindex="-1" class="c-tabs__input" aria-controls="FirstContent" name="tab-1" type="radio" checked aria-selected="true" />
                <label id="FirstTab" tabindex="-1" for="FirstInput" class="c-tabs__label ">
                    <div class="c-tabs__label-container"> Lorem </div>
                    <span aria-hidden="true" class="c-tabs__icon c-icon c-icon--chevron-down"></span>
                    <span aria-hidden="true" class="c-tabs__icon c-icon c-icon--chevron-up"></span>
                </label>
                <div class="c-tabs__content-item u-hidden-medium-up">
                    <h5 class="c-heading c-heading--subsection-large c-heading__tabs"> strud exercitation ullamc </h5>
                    <p class="c-copy ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </li>
            <li class="c-tabs__nav-item " tabindex="-1" data-content-id="SecondContent" role="tab">
                <input id="SecondInput" tabindex="-1" class="c-tabs__input" aria-controls="SecondContent" name="tab-1" type="radio" />
                <label id="SecondTab" tabindex="-1" for="SecondInput" class="c-tabs__label ">
                    <div class="c-tabs__label-container"> Ipsum </div>
                    <span aria-hidden="true" class="c-tabs__icon c-icon c-icon--chevron-down"></span>
                    <span aria-hidden="true" class="c-tabs__icon c-icon c-icon--chevron-up"></span>
                </label>
                <div class="c-tabs__content-item u-hidden-medium-up">
                    <h5 class="c-heading c-heading--subsection-large c-heading__tabs"> Ut enim ad minim veniam </h5>
                    <p class="c-copy ">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mo</p>
                </div>
            </li>
            <li class="c-tabs__nav-item " tabindex="-1" data-content-id="ThirdContent" role="tab">
                <input id="ThirdInput" tabindex="-1" class="c-tabs__input" aria-controls="ThirdContent" name="tab-1" type="radio" />
                <label id="ThirdTab" tabindex="-1" for="ThirdInput" class="c-tabs__label ">
                    <div class="c-tabs__label-container"> Dolor </div>
                    <span aria-hidden="true" class="c-tabs__icon c-icon c-icon--chevron-down"></span>
                    <span aria-hidden="true" class="c-tabs__icon c-icon c-icon--chevron-up"></span>
                </label>
                <div class="c-tabs__content-item u-hidden-medium-up">
                    <h5 class="c-heading c-heading--subsection-large c-heading__tabs"> Veniam, quis nostrud exe </h5>
                    <p class="c-copy ">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mo</p>
                </div>
            </li>
        </ul>
        <div class="c-tabs__content offset-large-1 offset-medium-1 l-grid__column-large-10 l-grid__column-medium-10 u-hidden-small-down" tabindex="0">
            <div id="FirstContent" class="c-tabs__content-item active" aria-labeledby="FirstTab" role="tabpanel">
                <h5 class="c-heading c-heading--subsection-large c-heading__tabs"> strud exercitation ullamc </h5>
                <p class="c-copy ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div id="SecondContent" class="c-tabs__content-item " aria-labeledby="SecondTab" role="tabpanel">
                <h5 class="c-heading c-heading--subsection-large c-heading__tabs"> Ut enim ad minim veniam </h5>
                <p class="c-copy ">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mo</p>
            </div>
            <div id="ThirdContent" class="c-tabs__content-item " aria-labeledby="ThirdTab" role="tabpanel">
                <h5 class="c-heading c-heading--subsection-large c-heading__tabs"> Veniam, quis nostrud exe </h5>
                <p class="c-copy ">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mo</p>
            </div>
        </div>
    </div>
</div>
<hr class="c-divider " aria-hidden="true" />