<div class="l-grid l-grid--max-width u-margin-bottom-lg u-margin-top-lg">
  <div class="l-grid__column-12">
    <h2 class="c-heading "> Teaser group small </h2>
  </div>
</div>
<div class="c-teaser-group l-grid l-grid--max-width u-padding-left-none u-padding-right-none ">
  <div class="c-teaser c-teaser--50-50 ">
    <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
      <picture class="c-image c-teaser__image u-hidden-medium-down ">
        <img class="c-image__img c-teaser__image-img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;article-teaser-small-1.png" />
      </picture>
      <div class="c-teaser__content t-bg-soft-grey-light">
        <p class="c-copy c-teaser__date">May 31, 2016</p>
        <h3 class="c-heading c-heading--subsection-medium c-teaser__headline"> A project - heavier than 5 Cheops Pyramids </h3>
        <ul class="c-list c-list--small c-teaser__list">
        </ul>
        <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
          <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></span>
      </div>
    </a>
  </div>
  <div class="c-teaser-group__row">
    <div class="c-teaser c-teaser--50-50 ">
      <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
        <picture class="c-image c-teaser__image u-hidden-medium-down ">
          <img class="c-image__img c-teaser__image-img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;article-teaser-small-1.png" />
        </picture>
        <div class="c-teaser__content t-bg-soft-grey-light">
          <p class="c-copy c-teaser__date">May 31, 2016</p>
          <h3 class="c-heading c-heading--subsection-medium c-teaser__headline"> A project - heavier than 5 Cheops Pyramids </h3>
          <ul class="c-list c-list--small c-teaser__list">
          </ul>
          <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></span>
        </div>
      </a>
    </div>
    <div class="c-teaser c-teaser--50-50 ">
      <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
        <picture class="c-image c-teaser__image u-hidden-medium-down ">
          <img class="c-image__img c-teaser__image-img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;article-teaser-small-2.png" />
        </picture>
        <div class="c-teaser__content t-bg-soft-mud-light">
          <p class="c-copy c-teaser__date">May 18, 2016</p>
          <h3 class="c-heading c-heading--subsection-medium c-teaser__headline"> Airlander 10: the sky has no limits </h3>
          <ul class="c-list c-list--small c-teaser__list">
          </ul>
          <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></span>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="l-grid l-grid--max-width u-margin-bottom-lg u-margin-top-lg">
  <div class="l-grid__column-12">
    <h2 class="c-heading "> Teaser group small with Headline </h2>
  </div>
</div>
<div class="c-teaser-group l-grid l-grid--max-width  ">
  <h2 class="c-heading c-teaser-group__headline u-text-weight-light u-text-center"> Spotlight </h2>
  <div class="c-teaser c-teaser--33-66 ">
    <div class="l-grid l-grid--max-width u-padding-none">
      <div class="c-teaser__link-area c-teaser__link-no-pointer" aria-label="More information about short description of teaser content">
        <div class="c-teaser__image-container">
          <picture class="c-image c-teaser__image ">
            <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;article-teaser-big.png" />
          </picture>
        </div>
        <div class="c-teaser__content  t-bg-soft-blue-light">
          <p class="c-copy c-teaser__date">Jun 02, 2016</p>
          <h3 class="c-heading c-teaser__headline"> Who&#39;s gonna pay? </h3>
          <p class="c-copy c-teaser__text"> G20 countries will need to invest 710 billion dollars a year into renewable technologies throughout 2035 to maintain the 2°C global warming trajectory. Step by step, investments are going to be made into energy.</p>
          <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="c-teaser-group__row">
    <div class="c-teaser c-teaser--50-50 ">
      <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
        <picture class="c-image c-teaser__image u-hidden-medium-down ">
          <img class="c-image__img c-teaser__image-img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;article-teaser-small-1.png" />
        </picture>
        <div class="c-teaser__content t-bg-soft-grey-light">
          <p class="c-copy c-teaser__date">May 31, 2016</p>
          <h3 class="c-heading c-heading--subsection-medium c-teaser__headline"> A project - heavier than 5 Cheops Pyramids </h3>
          <ul class="c-list c-list--small c-teaser__list">
          </ul>
          <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></span>
        </div>
      </a>
    </div>
    <div class="c-teaser c-teaser--50-50 ">
      <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
        <picture class="c-image c-teaser__image u-hidden-medium-down ">
          <img class="c-image__img c-teaser__image-img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;article-teaser-small-2.png" />
        </picture>
        <div class="c-teaser__content t-bg-soft-mud-light">
          <p class="c-copy c-teaser__date">May 18, 2016</p>
          <h3 class="c-heading c-heading--subsection-medium c-teaser__headline"> Airlander 10: the sky has no limits </h3>
          <ul class="c-list c-list--small c-teaser__list">
          </ul>
          <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></span>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="l-grid l-grid--max-width u-margin-bottom-lg u-margin-top-lg">
  <div class="l-grid__column-12">
    <h2 class="c-heading "> Teaser group </h2>
  </div>
</div>
<div class="c-teaser-group l-grid l-grid--max-width u-padding-left-none u-padding-right-none ">
  <div class="c-teaser c-teaser--33-66 ">
    <div class="l-grid l-grid--max-width u-padding-none">
      <div class="c-teaser__link-area c-teaser__link-no-pointer" aria-label="More information about short description of teaser content">
        <div class="c-teaser__image-container">
          <picture class="c-image c-teaser__image ">
            <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;article-teaser-big.png" />
          </picture>
        </div>
        <div class="c-teaser__content  t-bg-soft-blue-light">
          <p class="c-copy c-teaser__date">Jun 02, 2016</p>
          <h3 class="c-heading c-teaser__headline"> Who&#39;s gonna pay? </h3>
          <p class="c-copy c-teaser__text"> G20 countries will need to invest 710 billion dollars a year into renewable technologies throughout 2035 to maintain the 2°C global warming trajectory. Step by step, investments are going to be made into energy.</p>
          <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="c-teaser-group__row">
    <div class="c-teaser c-teaser--50-50 ">
      <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
        <picture class="c-image c-teaser__image u-hidden-medium-down ">
          <img class="c-image__img c-teaser__image-img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;article-teaser-small-1.png" />
        </picture>
        <div class="c-teaser__content t-bg-soft-grey-light">
          <p class="c-copy c-teaser__date">May 31, 2016</p>
          <h3 class="c-heading c-heading--subsection-medium c-teaser__headline"> A project - heavier than 5 Cheops Pyramids </h3>
          <ul class="c-list c-list--small c-teaser__list">
          </ul>
          <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></span>
        </div>
      </a>
    </div>
    <div class="c-teaser c-teaser--50-50 ">
      <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
        <picture class="c-image c-teaser__image u-hidden-medium-down ">
          <img class="c-image__img c-teaser__image-img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;article-teaser-small-2.png" />
        </picture>
        <div class="c-teaser__content t-bg-soft-mud-light">
          <p class="c-copy c-teaser__date">May 18, 2016</p>
          <h3 class="c-heading c-heading--subsection-medium c-teaser__headline"> Airlander 10: the sky has no limits </h3>
          <ul class="c-list c-list--small c-teaser__list">
          </ul>
          <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></span>
        </div>
      </a>
    </div>
  </div>
  <div class="c-teaser c-teaser--50-50 ">
    <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
      <picture class="c-image c-teaser__image u-hidden-medium-down ">
        <img class="c-image__img c-teaser__image-img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;teaser-04.png" />
      </picture>
      <div class="c-teaser__content t-bg-soft-blue-light">
        <h3 class="c-heading c-heading--subsection-medium c-teaser__headline"> Telemetrics Drive safely, pay up to 40% less </h3>
        <p class="c-copy c-teaser__text">We’ll reward you, if you drive safely and foresightedly. Transmit your driving data via app and save on your rate:</p>
        <ul class="c-list c-list--small c-teaser__list">
          <li class="c-list__item c-list__item--icon c-teaser__list-item"> Get a 10% bonus for your first data submission </li>
          <li class="c-list__item c-list__item--icon c-teaser__list-item"> Additional discounts up to 40% </li>
          <li class="c-list__item c-list__item--icon c-teaser__list-item"> Your bonus is guaranteed, no matter how you drive </li>
        </ul>
        <button class="c-button c-teaser__button"> Learn About Telemetrics </button>
      </div>
    </a>
  </div>
</div>
<div class="l-grid l-grid--max-width u-margin-bottom-lg u-margin-top-lg">
  <div class="l-grid__column-12">
    <h2 class="c-heading "> Teaser group with Headline </h2>
  </div>
</div>
<div class="c-teaser-group l-grid l-grid--max-width  ">
  <h2 class="c-heading c-teaser-group__headline u-text-weight-light u-text-center"> Spotlight </h2>
  <div class="c-teaser c-teaser--33-66 ">
    <div class="l-grid l-grid--max-width u-padding-none">
      <div class="c-teaser__link-area c-teaser__link-no-pointer" aria-label="More information about short description of teaser content">
        <div class="c-teaser__image-container">
          <picture class="c-image c-teaser__image ">
            <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;article-teaser-big.png" />
          </picture>
        </div>
        <div class="c-teaser__content  t-bg-soft-blue-light">
          <p class="c-copy c-teaser__date">Jun 02, 2016</p>
          <h3 class="c-heading c-teaser__headline"> Who&#39;s gonna pay? </h3>
          <p class="c-copy c-teaser__text"> G20 countries will need to invest 710 billion dollars a year into renewable technologies throughout 2035 to maintain the 2°C global warming trajectory. Step by step, investments are going to be made into energy.</p>
          <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="c-teaser-group__row">
    <div class="c-teaser c-teaser--50-50 ">
      <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
        <picture class="c-image c-teaser__image u-hidden-medium-down ">
          <img class="c-image__img c-teaser__image-img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;article-teaser-small-1.png" />
        </picture>
        <div class="c-teaser__content t-bg-soft-grey-light">
          <p class="c-copy c-teaser__date">May 31, 2016</p>
          <h3 class="c-heading c-heading--subsection-medium c-teaser__headline"> A project - heavier than 5 Cheops Pyramids </h3>
          <ul class="c-list c-list--small c-teaser__list">
          </ul>
          <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></span>
        </div>
      </a>
    </div>
    <div class="c-teaser c-teaser--50-50 ">
      <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
        <picture class="c-image c-teaser__image u-hidden-medium-down ">
          <img class="c-image__img c-teaser__image-img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;article-teaser-small-2.png" />
        </picture>
        <div class="c-teaser__content t-bg-soft-mud-light">
          <p class="c-copy c-teaser__date">May 18, 2016</p>
          <h3 class="c-heading c-heading--subsection-medium c-teaser__headline"> Airlander 10: the sky has no limits </h3>
          <ul class="c-list c-list--small c-teaser__list">
          </ul>
          <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></span>
        </div>
      </a>
    </div>
  </div>
  <div class="c-teaser c-teaser--50-50 ">
    <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
      <picture class="c-image c-teaser__image u-hidden-medium-down ">
        <img class="c-image__img c-teaser__image-img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;teaser-04.png" />
      </picture>
      <div class="c-teaser__content t-bg-soft-blue-light">
        <h3 class="c-heading c-heading--subsection-medium c-teaser__headline"> Telemetrics Drive safely, pay up to 40% less </h3>
        <p class="c-copy c-teaser__text">We’ll reward you, if you drive safely and foresightedly. Transmit your driving data via app and save on your rate:</p>
        <ul class="c-list c-list--small c-teaser__list">
          <li class="c-list__item c-list__item--icon c-teaser__list-item"> Get a 10% bonus for your first data submission </li>
          <li class="c-list__item c-list__item--icon c-teaser__list-item"> Additional discounts up to 40% </li>
          <li class="c-list__item c-list__item--icon c-teaser__list-item"> Your bonus is guaranteed, no matter how you drive </li>
        </ul>
        <button class="c-button c-teaser__button"> Learn About Telemetrics </button>
      </div>
    </a>
  </div>
</div>