<div class="l-grid l-grid--max-width u-margin-bottom-lg u-margin-top-lg">
    <div class="l-grid__column-12">
        <h2 class="c-heading "> Teaser group horizontal </h2>
    </div>
</div>
<div class="l-grid l-grid--max-width u-padding-left-none u-padding-right-none ">
    <div class="c-teaser-group--horizontal">
        <div class="c-teaser c-teaser--horizontal-66-33  t-bg-soft-green-light">
            <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                <div class="c-teaser__image-container">
                    <picture class="c-image c-teaser__image ">
                        <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;car-on-beach.png" />
                    </picture>
                </div>
                <div class="c-teaser__content">
                    <h3 class="c-heading c-teaser__headline"> Car Insurance „MyCar“ </h3>
                    <p class="c-copy c-teaser__text">Configure your car insurance just like your car: according to your wishes and Only what you really need. Order &#39;My Car&#39; right here. We would like to welcome you in your Agency to create an individual proposal for you.</p>
                    <span class="c-link c-link--block c-teaser__link" aria-label="More information"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                        <!-- Fix White Space issue
  --><span class="c-link__text">More information</span></span>
                </div>
            </a>
        </div>
        <div class="c-teaser c-teaser--horizontal-33-66 u-margin-bottom-0  t-bg-soft-green ">
            <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                <div class="c-teaser__image-container">
                    <picture class="c-image c-teaser__image u-hidden-small-down ">
                        <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;motor-bike.png" />
                    </picture>
                </div>
                <div class="c-teaser__content">
                    <h3 class="c-heading c-teaser__headline"> Motorbike insurance „MyRide“ </h3>
                    <p class="c-copy c-teaser__text">Valuable deserve special protection: We assures your motorbike customized. With attractive terms and with increased contributions in case of damage.</p>
                    <span class="c-link c-link--block c-teaser__link" aria-label="More information"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                        <!-- Fix White Space issue
  --><span class="c-link__text">More information</span></span>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="l-grid l-grid--max-width u-margin-bottom-lg u-margin-top-lg">
    <div class="l-grid__column-12">
        <h2 class="c-heading "> Teaser group horizontal with Headline </h2>
    </div>
</div>
<div class="l-grid l-grid--max-width  ">
    <h2 class="c-heading c-teaser-group-horizontal__headline u-text-weight-light u-text-center"> Overview of all car &amp; mobility insurances </h2>
    <div class="c-teaser-group--horizontal">
        <div class="c-teaser c-teaser--horizontal-66-33  t-bg-soft-green-light">
            <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                <div class="c-teaser__image-container">
                    <picture class="c-image c-teaser__image ">
                        <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;car-on-beach.png" />
                    </picture>
                </div>
                <div class="c-teaser__content">
                    <h3 class="c-heading c-teaser__headline"> Car Insurance „MyCar“ </h3>
                    <p class="c-copy c-teaser__text">Configure your car insurance just like your car: according to your wishes and Only what you really need. Order &#39;My Car&#39; right here. We would like to welcome you in your Agency to create an individual proposal for you.</p>
                    <span class="c-link c-link--block c-teaser__link" aria-label="More information"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                        <!-- Fix White Space issue
  --><span class="c-link__text">More information</span></span>
                </div>
            </a>
        </div>
        <div class="c-teaser c-teaser--horizontal-33-66 u-margin-bottom-0  t-bg-soft-green ">
            <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                <div class="c-teaser__image-container">
                    <picture class="c-image c-teaser__image u-hidden-small-down ">
                        <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="..&#x2F;..&#x2F;images&#x2F;motor-bike.png" />
                    </picture>
                </div>
                <div class="c-teaser__content">
                    <h3 class="c-heading c-teaser__headline"> Motorbike insurance „MyRide“ </h3>
                    <p class="c-copy c-teaser__text">Valuable deserve special protection: We assures your motorbike customized. With attractive terms and with increased contributions in case of damage.</p>
                    <span class="c-link c-link--block c-teaser__link" aria-label="More information"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                        <!-- Fix White Space issue
  --><span class="c-link__text">More information</span></span>
                </div>
            </a>
        </div>
    </div>
</div>