<div class="l-container u-margin-bottom-md u-margin-top-md">
  <div class="l-grid">
    <div class="l-grid__row justify-content-center">
      <div class="l-grid__column-10">
        <h3 class="c-heading u-text-center u-text-weight-light"> Vertically Splitted 50&#x2F;50 Teaser </h3>
      </div>
    </div>
  </div>
</div>
<div class="c-teaser c-teaser--vertical-50-50  ">
  <div class="l-grid l-grid--max-width u-padding-none t-bg-soft-blue-light">
    <div class="c-teaser__link-area" aria-label="">
      <div class="c-teaser__image-container">
        <picture class="c-image c-teaser__image ">
          <img class="c-image__img c-teaser__image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;50-50-vertical-split.png" />
        </picture>
      </div>
      <div class="c-teaser__content">
        <h3 class="c-heading c-teaser__content__headline u-text-weight-light u-text-small-center-down"> Telemetrics Drive safely, pay up to 40% less </h3>
        <p class="c-copy c-teaser__content__text">We’ll reward you, if you drive safely and foresightedly. Transmit your driving data via app and save on your rate:</p>
        <ul class="c-list c-list--small c-teaser__content__list">
          <li class="c-list__item c-list__item--icon c-teaser__content__list-item"> Get a 10% bonus for your first data submission </li>
          <li class="c-list__item c-list__item--icon c-teaser__content__list-item"> Additional discount up to 40% </li>
          <li class="c-list__item c-list__item--icon c-teaser__content__list-item"> Your Bonus is granteed, no matter how you drive </li>
        </ul>
        <button class="c-button c-teaser__content__button"> Learn About Telemetrics </button>
      </div>
    </div>
  </div>
</div>
<div class="l-container u-margin-bottom-md u-margin-top-md">
  <div class="l-grid">
    <div class="l-grid__row justify-content-center">
      <div class="l-grid__column-10">
        <h3 class="c-heading u-text-center u-text-weight-light"> Vertically Splitted 50&#x2F;50 Teaser with right align image (Negative Variation) </h3>
      </div>
    </div>
  </div>
</div>
<div class="c-teaser c-teaser--vertical-50-50 c-teaser--negative ">
  <div class="l-grid l-grid--max-width u-padding-none t-bg-rich-purple">
    <div class="c-teaser__link-area" aria-label="">
      <div class="c-teaser__image-container">
        <picture class="c-image c-teaser__image c-image--middle-right">
          <img class="c-image__img c-teaser__image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;50-50-vertical-split-2.png" />
        </picture>
      </div>
      <div class="c-teaser__content">
        <h3 class="c-heading c-teaser__content__headline u-text-weight-light u-text-small-center-down"> Travel World offers many security &amp; mobility options: </h3>
        <p class="c-copy c-teaser__content__text">We’ll reward you, if you drive safely and foresightedly. Transmit your driving data via app and save on your rate:</p>
        <ul class="c-list c-list--small c-teaser__content__list c-list--negative">
          <li class="c-list__item c-list__item--icon c-teaser__content__list-item"> Lorem ipsum dolor sit </li>
          <li class="c-list__item c-list__item--icon c-teaser__content__list-item"> Legally certified purchase agreement </li>
          <li class="c-list__item c-list__item--icon c-teaser__content__list-item"> Penalty calculator </li>
          <li class="c-list__item c-list__item--icon c-teaser__content__list-item"> Tips for ipsum delit legit </li>
        </ul>
        <button class="c-button c-teaser__content__button c-button--negative"> Learn About Telemetrics </button>
      </div>
    </div>
  </div>
</div>
<div class="l-container u-margin-bottom-md u-margin-top-md">
  <div class="l-grid">
    <div class="l-grid__row justify-content-center">
      <div class="l-grid__column-10">
        <h3 class="c-heading u-text-center u-text-weight-light"> Vertically Splitted 50&#x2F;50 Teaser - Image Right </h3>
      </div>
    </div>
  </div>
</div>
<div class="c-teaser c-teaser--vertical-50-50  c-teaser--vertical-50-50-image-right">
  <div class="l-grid l-grid--max-width u-padding-none t-bg-soft-blue-light">
    <div class="c-teaser__link-area" aria-label="">
      <div class="c-teaser__image-container">
        <picture class="c-image c-teaser__image ">
          <img class="c-image__img c-teaser__image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;50-50-vertical-split.png" />
        </picture>
      </div>
      <div class="c-teaser__content">
        <h3 class="c-heading c-teaser__content__headline u-text-weight-light u-text-small-center-down"> Telemetrics Drive safely, pay up to 40% less </h3>
        <p class="c-copy c-teaser__content__text">We’ll reward you, if you drive safely and foresightedly. Transmit your driving data via app and save on your rate:</p>
        <ul class="c-list c-list--small c-teaser__content__list">
          <li class="c-list__item c-list__item--icon c-teaser__content__list-item"> Get a 10% bonus for your first data submission </li>
          <li class="c-list__item c-list__item--icon c-teaser__content__list-item"> Additional discount up to 40% </li>
          <li class="c-list__item c-list__item--icon c-teaser__content__list-item"> Your Bonus is granteed, no matter how you drive </li>
        </ul>
        <button class="c-button c-teaser__content__button"> Learn About Telemetrics </button>
      </div>
    </div>
  </div>
</div>
<div class="l-container u-margin-bottom-md u-margin-top-md">
  <div class="l-grid">
    <div class="l-grid__row justify-content-center">
      <div class="l-grid__column-10">
        <h3 class="c-heading u-text-center u-text-weight-light"> Vertically Splitted 50&#x2F;50 Teaser - Image Right (Negative Variation) </h3>
      </div>
    </div>
  </div>
</div>
<div class="c-teaser c-teaser--vertical-50-50 c-teaser--negative c-teaser--vertical-50-50-image-right">
  <div class="l-grid l-grid--max-width u-padding-none t-bg-rich-purple">
    <div class="c-teaser__link-area" aria-label="">
      <div class="c-teaser__image-container">
        <picture class="c-image c-teaser__image c-image--middle-right">
          <img class="c-image__img c-teaser__image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;50-50-vertical-split-2.png" />
        </picture>
      </div>
      <div class="c-teaser__content">
        <h3 class="c-heading c-teaser__content__headline u-text-weight-light u-text-small-center-down"> Travel World offers many security &amp; mobility options: </h3>
        <p class="c-copy c-teaser__content__text">We’ll reward you, if you drive safely and foresightedly. Transmit your driving data via app and save on your rate:</p>
        <ul class="c-list c-list--small c-teaser__content__list c-list--negative">
          <li class="c-list__item c-list__item--icon c-teaser__content__list-item"> Lorem ipsum dolor sit </li>
          <li class="c-list__item c-list__item--icon c-teaser__content__list-item"> Legally certified purchase agreement </li>
          <li class="c-list__item c-list__item--icon c-teaser__content__list-item"> Penalty calculator </li>
          <li class="c-list__item c-list__item--icon c-teaser__content__list-item"> Tips for ipsum delit legit </li>
        </ul>
        <button class="c-button c-teaser__content__button c-button--negative"> Learn About Telemetrics </button>
      </div>
    </div>
  </div>
</div>
<div class="l-container u-margin-bottom-md u-margin-top-md">
  <div class="l-grid">
    <div class="l-grid__row justify-content-center">
      <div class="l-grid__column-10">
        <h3 class="c-heading u-text-center u-text-weight-light"> Vertically Splitted 50&#x2F;50 Edge-to-Edge Teaser without image </h3>
      </div>
    </div>
  </div>
</div>
<div class="c-teaser__area">
  <div class="c-teaser-left-background t-bg-rich-petrol"></div>
  <div class="c-teaser-right-background t-bg-soft-blue-lightest"></div>
  <div class="l-grid l-grid--max-width u-padding-none">
    <div class="c-teaser c-teaser--50-50-without-image">
      <div class="c-teaser__without-image-50 t-bg-rich-petrol">
        <div class="c-teaser__container c-teaser__content c-teaser__content--negative u-padding-none">
          <div class="c-teaser__wrapper ">
            <a href="#">
              <p class="c-copy c-teaser__date">Jun 22, 2018</p>
              <h3 class="c-heading c-teaser__headline"> Financial Calendar </h3>
              <p class="c-copy c-teaser__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </a>
          </div>
          <div class="c-teaser__link-area">
            <a class="c-link c-link--block c-link--negative" href='#' aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
              <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></a>
          </div>
        </div>
      </div>
      <div class="c-teaser__without-image-50 t-bg-soft-blue-lightest">
        <div class="c-teaser__container c-teaser__content  u-padding-none">
          <div class="c-teaser__wrapper ">
            <a href="#">
              <p class="c-copy c-teaser__date">Forecast</p>
              <h3 class="c-heading c-teaser__headline"> Global GDP growth </h3>
              <p class="c-copy c-teaser__text">Navigate the data of the Global Insurance Map</p>
            </a>
          </div>
          <div class="c-teaser__link-area">
            <a class="c-link c-link--block" href='#' aria-label="Visit page"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
              <!-- Fix White Space issue
--><span class="c-link__text">Visit page</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="l-container u-margin-bottom-md u-margin-top-md">
  <div class="l-grid">
    <div class="l-grid__row justify-content-center">
      <div class="l-grid__column-10">
        <h3 class="c-heading u-text-center u-text-weight-light"> Vertically Splitted 50&#x2F;50 Teaser without image </h3>
      </div>
    </div>
  </div>
</div>
<div class="l-grid l-grid--max-width u-padding-none">
  <div class="c-teaser c-teaser--50-50-without-image">
    <div class="c-teaser__without-image-50 t-bg-rich-petrol">
      <div class="c-teaser__container c-teaser__content c-teaser__content--negative u-padding-none">
        <div class="c-teaser__wrapper ">
          <a href="#">
            <p class="c-copy c-teaser__date">Jun 22, 2018</p>
            <h3 class="c-heading c-teaser__headline"> Financial Calendar </h3>
            <p class="c-copy c-teaser__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          </a>
        </div>
        <div class="c-teaser__link-area">
          <a class="c-link c-link--block c-link--negative" href='#' aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></a>
        </div>
      </div>
    </div>
    <div class="c-teaser__without-image-50 t-bg-soft-blue-lightest">
      <div class="c-teaser__container c-teaser__content  u-padding-none">
        <div class="c-teaser__wrapper ">
          <a href="#">
            <p class="c-copy c-teaser__date">Forecast</p>
            <h3 class="c-heading c-teaser__headline"> Global GDP growth </h3>
            <p class="c-copy c-teaser__text">Navigate the data of the Global Insurance Map</p>
          </a>
        </div>
        <div class="c-teaser__link-area">
          <a class="c-link c-link--block" href='#' aria-label="Visit page"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
            <!-- Fix White Space issue
--><span class="c-link__text">Visit page</span></a>
        </div>
      </div>
    </div>
  </div>
</div>