<h3 class="c-heading u-text-center u-text-weight-light u-margin-bottom-md u-margin-top-md"> Vertically Splitted 33&#x2F;66 Teaser with image </h3>
<div class="c-teaser c-teaser--33-66 ">
    <div class="l-grid l-grid--max-width u-padding-none">
        <div class="c-teaser__link-area c-teaser__link-no-pointer" aria-label="">
            <div class="c-teaser__image-container">
                <picture class="c-image c-teaser__image ">
                    <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;article-teaser-big.png" />
                </picture>
            </div>
            <div class="c-teaser__content t-bg-soft-blue-light ">
                <p class="c-copy c-teaser__date">Jun 02, 2016</p>
                <h3 class="c-heading c-teaser__headline"> Who&#39;s gonna pay? </h3>
                <p class="c-copy c-teaser__text"> G20 countries will need to invest 710 billion dollars a year into renewable technologies throughout 2035 to maintain the 2°C global warming trajectory. Step by step, investments are going to be made into energy.</p>
                <a class="c-link c-link--block c-teaser__link" href='#' aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                    <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></a>
            </div>
        </div>
    </div>
</div>
<div class="l-container u-margin-bottom-md u-margin-top-md">
    <div class="l-grid">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-10">
                <h3 class="c-heading u-text-center u-text-weight-light"> Vertically Splitted 33&#x2F;66 Teaser without image </h3>
            </div>
        </div>
    </div>
</div>
<div class="c-teaser__area">
    <div class="l-grid l-grid--max-width u-padding-none">
        <div class="c-teaser c-teaser--33-66-without-image">
            <div class="c-teaser__without-image-33 t-bg-rich-petrol">
                <div class="c-teaser__container c-teaser__content c-teaser__content--negative u-padding-none">
                    <div class="c-teaser__wrapper ">
                        <p class="c-copy c-teaser__date">Oct 18, 2017</p>
                        <h3 class="c-heading c-teaser__headline"> I am a teaser headline </h3>
                        <p class="c-copy c-teaser__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                    </div>
                    <div class="c-teaser__link-area">
                        <a class="c-link c-link--block c-link--negative" href='#' aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                            <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></a>
                    </div>
                </div>
            </div>
            <div class="c-teaser__without-image-66 t-bg-soft-blue-lightest">
                <div class="c-teaser__container c-teaser__content  u-padding-none">
                    <div class="c-teaser__wrapper ">
                        <p class="c-copy c-teaser__date">Vision</p>
                        <h3 class="c-heading c-teaser__headline"> Inside series </h3>
                        <p class="c-copy c-teaser__text">Navigate the data of the Global Insurance Map.</p>
                    </div>
                    <div class="c-teaser__link-area">
                        <a class="c-link c-link--block" href='#' aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                            <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>