<div class="l-container l-container--full-width ">
  <div class="l-grid l-grid--max-width u-padding-left-none u-padding-right-none">
    <div class="c-carousel__teaser-container">
      <div class="c-carousel__teaser__header--center">
        <h2 class="c-heading u-text-weight-light"> This could be interesting for you </h2>
      </div>
      <div class="js-carousel-teaser swiper-container c-carousel__teaser" data-columns="2">
        <div class="swiper-wrapper c-carousel__teaser-wrapper">
          <div class="swiper-slide c-carousel__teaser__slide">
            <div class="c-teaser c-teaser--without-image c-teaser--negative t-bg-rich-petrol">
              <div class="c-teaser__container u-padding-none">
                <div class="c-teaser__wrapper ">
                  <a href="#">
                    <h5 class="c-heading c-teaser__headline"> Financial Calendar </h5>
                    <p class="c-copy c-teaser__text">Important dates and events for shareholders and analysts. Here you can find an overview of the key figures.</p>
                  </a>
                </div>
                <div class="c-teaser__link-area">
                  <a class="c-link c-teaser__link c-link--block c-link--negative" # aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                    <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide c-carousel__teaser__slide">
            <div class="c-teaser c-teaser--without-image  t-bg-soft-blue-lightest">
              <div class="c-teaser__container u-padding-none">
                <div class="c-teaser__wrapper ">
                  <a href="#">
                    <h5 class="c-heading c-teaser__headline"> Analyst Estimates </h5>
                    <p class="c-copy c-teaser__text">We provide analyst recommendations, price targets, and consensus.</p>
                  </a>
                </div>
                <div class="c-teaser__link-area">
                  <a class="c-link c-teaser__link c-link--block" # aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                    <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide c-carousel__teaser__slide">
            <div class="c-teaser c-teaser--without-image  t-bg-vibrant-turquoise-light">
              <div class="c-teaser__container u-padding-none">
                <div class="c-teaser__wrapper ">
                  <a href="#">
                    <h5 class="c-heading c-teaser__headline"> Key Figures </h5>
                    <p class="c-copy c-teaser__text">Here you can find an overview of the key figures.</p>
                  </a>
                </div>
                <div class="c-teaser__link-area">
                  <a class="c-link c-teaser__link c-link--block" # aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                    <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide c-carousel__teaser__slide">
            <div class="c-teaser c-teaser--without-image  t-bg-soft-blue-lightest">
              <div class="c-teaser__container u-padding-none">
                <div class="c-teaser__wrapper ">
                  <a href="#">
                    <h5 class="c-heading c-teaser__headline"> Key Figures Pt.2 </h5>
                    <p class="c-copy c-teaser__text">Here you can find an overview of the key figures.</p>
                  </a>
                </div>
                <div class="c-teaser__link-area">
                  <a class="c-link c-teaser__link c-link--block" # aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                    <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-carousel__pagination-row l-grid u-text-center">
        <div class="c-carousel-one-line-pagination l-grid__row">
          <div class="c-carousel__teaser__prev l-grid__column-small-1 u-text-center u-hidden-small-down">
            <span class="c-icon c-icon--arrow-left-slim"></span>
          </div>
          <div class="c-carousel__teaser-wrapper__pagination"></div>
          <div class="c-carousel__teaser__next l-grid__column-small-1 u-text-center u-hidden-small-down">
            <span class="c-icon c-icon--arrow-right-slim"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="l-container l-container--full-width ">
  <div class="l-grid l-grid--max-width u-padding-left-none u-padding-right-none">
    <div class="c-carousel__teaser-container">
      <div class="c-carousel__teaser__header--center">
        <h2 class="c-heading u-text-weight-light"> This could be interesting for you </h2>
      </div>
      <div class="js-carousel-teaser swiper-container c-carousel__teaser" data-columns="3">
        <div class="swiper-wrapper c-carousel__teaser-wrapper">
          <div class="swiper-slide c-carousel__teaser__slide">
            <div class="c-teaser c-teaser--without-image c-teaser--negative t-bg-rich-petrol">
              <div class="c-teaser__container u-padding-none">
                <div class="c-teaser__wrapper ">
                  <a href="#">
                    <h5 class="c-heading c-teaser__headline"> Financial Calendar </h5>
                    <p class="c-copy c-teaser__text">Important dates and events for shareholders and analysts. Here you can find an overview of the key figures.</p>
                  </a>
                </div>
                <div class="c-teaser__link-area">
                  <a class="c-link c-teaser__link c-link--block c-link--negative" # aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                    <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide c-carousel__teaser__slide">
            <div class="c-teaser c-teaser--without-image  t-bg-soft-blue-lightest">
              <div class="c-teaser__container u-padding-none">
                <div class="c-teaser__wrapper ">
                  <a href="#">
                    <h5 class="c-heading c-teaser__headline"> Analyst Estimates </h5>
                    <p class="c-copy c-teaser__text">We provide analyst recommendations, price targets, and consensus.</p>
                  </a>
                </div>
                <div class="c-teaser__link-area">
                  <a class="c-link c-teaser__link c-link--block" # aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                    <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide c-carousel__teaser__slide">
            <div class="c-teaser c-teaser--without-image  t-bg-vibrant-turquoise-light">
              <div class="c-teaser__container u-padding-none">
                <div class="c-teaser__wrapper ">
                  <a href="#">
                    <h5 class="c-heading c-teaser__headline"> Key Figures </h5>
                    <p class="c-copy c-teaser__text">Here you can find an overview of the key figures.</p>
                  </a>
                </div>
                <div class="c-teaser__link-area">
                  <a class="c-link c-teaser__link c-link--block" # aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                    <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide c-carousel__teaser__slide">
            <div class="c-teaser c-teaser--without-image  t-bg-soft-blue-lightest">
              <div class="c-teaser__container u-padding-none">
                <div class="c-teaser__wrapper ">
                  <a href="#">
                    <h5 class="c-heading c-teaser__headline"> Key Figures Pt.2 </h5>
                    <p class="c-copy c-teaser__text">Here you can find an overview of the key figures.</p>
                  </a>
                </div>
                <div class="c-teaser__link-area">
                  <a class="c-link c-teaser__link c-link--block" # aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                    <!-- Fix White Space issue
--><span class="c-link__text">Read more</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-carousel__pagination-row l-grid u-text-center">
        <div class="c-carousel-one-line-pagination l-grid__row">
          <div class="c-carousel__teaser__prev l-grid__column-small-1 u-text-center u-hidden-small-down">
            <span class="c-icon c-icon--arrow-left-slim"></span>
          </div>
          <div class="c-carousel__teaser-wrapper__pagination"></div>
          <div class="c-carousel__teaser__next l-grid__column-small-1 u-text-center u-hidden-small-down">
            <span class="c-icon c-icon--arrow-right-slim"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>