<div class="l-container l-container--full-width c-section t-bg-vibrant-purple-lightest">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="c-section__content l-grid__column-large-8 l-grid__column-small-12 l-grid__column-medium-12">
                <i class="c-icon c-icon--m c-icon--centered u-margin-bottom-s t-bg-white t-primary-action-dark c-icon--fill c-icon--product-{{> icon-master-cover-details}}"></i>
                <h3 class="c-heading u-text-weight-light">See what our customers say</h3>
                <p class="c-copy c-section__text u-margin-bottom-0">Our Promise to You : If you&#39;re not completely satisfied, you have 10 days (or more, depending on your state of residence) to request a refund, provided you haven&#39;t started your trip or initiated a claim. Premiums are non-refundable after this period.</p>
            </div>
        </div>
    </div>
</div>