<div class="l-container u-margin-bottom-md u-margin-top-md">
    <div class="l-grid">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-12">
                <h2 class="c-heading u-text-center u-text-weight-light"> Safety Reassurance [Module 1] </h2>
            </div>
        </div>
    </div>
</div>
<div class="l-container l-container--full-width c-reassurance t-bg-rich-grey-light">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="c-reassurance__content l-grid__column-large-8 l-grid__column-small-12 l-grid__column-medium-12">
                <div class="c-reassurance__content-image" aria-hidden="true">
                    <picture class="c-image c-reassurance__image ">
                        <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;az-reassurance-secure-icon.svg" />
                    </picture>
                </div>
                <p class="c-copy c-reassurance__text u-margin-bottom-0">Your data is safe. Of course we use the strongest SSL-encryption available.</p>
            </div>
        </div>
    </div>
</div>
<div class="l-container u-margin-bottom-md u-margin-top-md">
    <div class="l-grid">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-12">
                <h2 class="c-heading u-text-center u-text-weight-light"> Privacy Reassurance [Module 2] </h2>
            </div>
        </div>
    </div>
</div>
<div class="l-container l-container--full-width c-reassurance t-bg-soft-grey-light">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="c-reassurance__content l-grid__column-large-8 l-grid__column-small-12 l-grid__column-medium-12">
                <div class="c-reassurance__content-image" aria-hidden="true">
                    <picture class="c-image c-reassurance__image ">
                        <img class="c-image__img" alt="" src="..&#x2F;..&#x2F;images&#x2F;az-reassurance-icon.svg" />
                    </picture>
                </div>
                <p class="c-copy c-reassurance__text u-margin-bottom-0">Our Promise to You : If you&#39;re not completely satisfied, you have 10 days (or more, depending on your state of residence) to request a refund, provided you haven&#39;t started your trip or initiated a claim. Premiums are non-refundable after this period.</p>
            </div>
        </div>
    </div>
</div>