<div class="l-container l-container--full-width">
    <div class="c-stage c-stage--title t-bg-soft-green-lightest">
        <div class="l-grid l-grid--max-width c-stage__breadcrumb u-hidden-small-down">
            <div class="l-grid__row">
                <div class="l-grid__column-12">
                    <nav aria-label="Breadcrumbs" class="c-breadcrumb u-hidden-small-down u-text-left">
                        <span class="u-aria-only">You are here:</span>
                        <ul class="c-breadcrumb__list">
                            <li class="c-breadcrumb__item">
                                <a class="c-breadcrumb__link " href="#">Home</a>
                            </li>
                            <li class="c-breadcrumb__item">
                                <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                <a class="c-breadcrumb__link " href="#">Products</a>
                            </li>
                            <li class="c-breadcrumb__item">
                                <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                <a class="c-breadcrumb__link is-active" href="#">Car Insurance</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="c-stage__content l-grid l-grid--max-width">
            <div class="l-grid__row justify-content-center">
                <div class="l-grid__column-large-10">
                    <h1 class="c-heading c-heading--page u-text-weight-light"> Mobility <b class="t-rich-red">solutions</b>
                    </h1>
                </div>
                <div class="l-grid__column-large-8">
                    <p class="c-copy u-margin-bottom-0">Have a look at all our mobility products as an overview</p>
                </div>
            </div>
        </div>
    </div>
</div>