<div class="pl-text-overview">
  <div class="l-grid l-grid--max-width u-text-center u-margin-top-lg u-margin-bottom-lg">
    <div class="l-grid__row">
      <div class="l-grid__column-12">
        <h1>Tooltips (left aligned)</h1>
      </div>
    </div>
    <div class="l-grid__row">
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-1">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-1" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Up)</p>
      </div>
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-tooltip--top js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-4">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-4" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Down)</p>
      </div>
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-tooltip--right js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-3">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-3" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Left)</p>
      </div>
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-tooltip--left js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-2">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-2" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Right)</p>
      </div>
    </div>
    <div class="l-grid__row">
      <div class="l-grid__column-12">
        <h1>Tooltips with large shadow (left aligned)</h1>
      </div>
    </div>
    <div class="l-grid__row">
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-tooltip--shadow-large js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-5">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-5" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Up)</p>
      </div>
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-tooltip--top c-tooltip--shadow-large js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-8">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-8" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Down)</p>
      </div>
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-tooltip--right c-tooltip--shadow-large js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-7">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-7" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Left)</p>
      </div>
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-tooltip--left c-tooltip--shadow-large js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-6">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-6" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Right)</p>
      </div>
    </div>
    <div class="l-grid__row">
      <div class="l-grid__column-12">
        <h1>Tooltips (center aligned)</h1>
      </div>
    </div>
    <div class="l-grid__row">
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-tooltip--center-aligned js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-1">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-1" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Up)</p>
      </div>
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-tooltip--top c-tooltip--center-aligned js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-4">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-4" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Down)</p>
      </div>
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-tooltip--right c-tooltip--center-aligned js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-3">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-3" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Left)</p>
      </div>
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-tooltip--left c-tooltip--center-aligned js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-2">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-2" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Right)</p>
      </div>
    </div>
    <div class="l-grid__row">
      <div class="l-grid__column-12">
        <h1>Tooltips with large shadow (center aligned)</h1>
      </div>
    </div>
    <div class="l-grid__row">
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-tooltip--center-aligned c-tooltip--shadow-large js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-5">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-5" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Up)</p>
      </div>
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-tooltip--top c-tooltip--center-aligned c-tooltip--shadow-large js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-8">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-8" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Down)</p>
      </div>
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-tooltip--right c-tooltip--center-aligned c-tooltip--shadow-large js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-7">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-7" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Left)</p>
      </div>
      <div class="l-grid__column-medium-6 u-padding-md">
        <div class="c-tooltip c-tooltip--v2 js-toggle-tooltip c-tooltip--left c-tooltip--center-aligned c-tooltip--shadow-large js-tooltip-adaptable js-tooltip-fix-overflow">
          <a role="button" href="#" class="c-link c-link--block js-toggle-tooltip__link " aria-describedby="tooltip-overview-6">
            <i class='c-icon js-toggle-icon c-icon--info-circle-o u-margin-left-sm font-size-xlg'></i>
          </a>
          <div role="tooltip" class="c-tooltip__item" aria-hidden="true">
            <div class="c-tooltip__arrow"></div>
            <p id="tooltip-overview-6" class="c-copy"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
          </div>
        </div>
        <p class="c-copy u-margin-left-sm">(Pointer Right)</p>
      </div>
    </div>
  </div>
</div>