<div class="c-section l-container l-container--full-width t-bg-vibrant-purple-lightest">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="c-section__content l-grid__column-large-8 l-grid__column-small-12 l-grid__column-medium-12">
                <i class="c-icon c-icon--m c-icon--centered u-margin-bottom-s t-bg-white t-primary-action-dark c-icon--fill c-icon--product-{{> icon-master-customer}}"></i>
                <h3 class="c-heading u-text-weight-light u-margin-bottom-s">See what our customers say</h3>
                <div class="c-carousel js-carousel c-carousel--no-overflow">
                        <div class="c-carousel__wrapper">
                            <div class="c-carousel__slide">
                                    <q class="c-copy">Excellent user interface, everything explained well in ordinary language, the 'add-ons' to upgrade the base policy are very well laid out and easy to understand.</q>
                                    <p class="c-copy c-copy--medium u-margin-bottom-0"><cite><strong>Jane Doe</strong>, Allianz Car Insurance Policy Holder 31/10/2018 via Allianz website</cite></p>
                            </div>
                            <div class="c-carousel__slide">
                                    <q class="c-copy">Excellent user interface, everything explained well in ordinary language, the 'add-ons' to upgrade the base policy are very well laid out and easy to understand.</q>
                                    <p class="c-copy c-copy--medium u-margin-bottom-0"><cite><strong>Jane Doe</strong>, Allianz Car Insurance Policy Holder 31/10/2018 via Allianz website</cite></p>
                            </div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="c-tile__product-tile--pagination"></div>
                    </div>
            </div>
        </div>
    </div>
</div>