<div class="c-tile__reviews--container u-margin-none u-text-center {{bg-colour-reviews}}">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-small-12 l-grid__column-medium-10 offset-medium-1">
                <h2 class="c-heading u-text-weight-light u-margin-bottom-s">Customer reviews</h2>
                <p class="c-copy u-margin-bottom-s">Allianz Car Insurance Ireland is rated 4.4 out of 5 based on <a class="c-link" href="#">1003 reviews</a>.</p>
            </div>
        </div>
        <div class="c-process-rating__container js-process-star-rating">
            <i class="c-icon c-icon--star t-primary-action c-process-rating__icon js-process-star-rating-item" aria-describedby="first-star-tip" aria-label="Rate one star out of five stars"></i>
            <i class="c-icon c-icon--star t-primary-action c-process-rating__icon js-process-star-rating-item" aria-describedby="second-star-tip" aria-label="Rate two star out of five stars"></i>
            <i class="c-icon c-icon--star t-primary-action c-process-rating__icon js-process-star-rating-item" aria-describedby="third-star-tip" aria-label="Rate three star out of five stars"></i>
            <i class="c-icon c-icon--star t-primary-action c-process-rating__icon js-process-star-rating-item" aria-describedby="fourth-star-tip" aria-label="Rate four star out of five stars"></i>
            <i class="c-icon c-icon--star-half-full t-primary-action c-process-rating__icon js-process-star-rating-item" aria-describedby="fifth-star-tip" aria-label="Rate five star out of five stars"></i>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-medium-9 l-grid__column-large-6 u-margin-top-sm">
                <div class="c-tile__reviews-tile--wrapper l-grid__row justify-content-center u-margin-top-lg">
                    <div class="c-tile__reviews-tile--slide l-grid__column-small-6 l-grid__column-medium-4">
                        <div class="c-tile--product-teaser">
                            <i class="t-bg-white c-tile--product-icon t-primary-action-dark c-icon c-icon--product-clock"></i>
                            <p class="c-copy c-tile__reviews--title u-padding-top-md">Get a {{product-specific}} quote in minutes</p>
                        </div>
                    </div>
                    <div class="c-tile__reviews-tile--slide l-grid__column-small-6 l-grid__column-medium-4">
                        <div class="c-tile--product-teaser">
                            <a href="{{root}}{{country}}/home-insurance/" aria-label="more information about short version of tile title" class="c-tile__link">
                                <i class="t-bg-white c-tile--product-icon t-primary-action-dark c-icon c-icon--product-hand-thumbs-up"></i>
                                <p class="c-copy c-tile__reviews--title u-padding-top-md">5 easy steps to get a quote</p>
                            </a>
                        </div>
                    </div>
                    <div class="c-tile__reviews-tile--slide l-grid__column-small-6 l-grid__column-medium-4">
                        <div class="c-tile--product-teaser">
                            <a href="{{root}}{{country}}/pet-insurance/" aria-label="more information about short version of tile title" class="c-tile__link">
                                <i class="t-bg-white c-tile--product-icon t-primary-action-dark c-icon c-icon--product-lock"></i>
                                <p class="c-copy c-tile__reviews--title u-padding-top-md">Safe and secure quote process</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>