<div class="c-tile__product--container custom-bg-image u-margin-none t-bg-soft-nude-light">
    <div class="custom-bg-image__wrapper">
        <div class="custom-bg-image__image-container">
            <picture class="c-image custom-bg-image__image">
                <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-myallianz-01.jpg" />
            </picture>
        </div>
        <div class="l-grid l-grid--max-width custom-bg-image__content">
            <div class="l-grid__row">
                <div class="l-grid__column-small-12 l-grid__column-medium-10 offset-medium-1">
                    <h3 class="c-heading u-text-center u-text-weight-light">With MyAllianz you can:</h3>
                </div>
            </div>
            <div class="l-grid__row justify-content-center">
                <div class="l-grid__column-medium-9 l-grid__column-large-6 js-carousel--product-tile u-margin-top-sm">
                    <div class="c-tile__product-tile--wrapper l-grid__row u-margin-top-lg">
                        <div class="c-tile__product-tile--slide l-grid__column-medium-4">
                            <div class="c-tile--product-teaser">
                                <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
                                    <i class="t-bg-white c-tile--product-teaser__icon t-primary-action-dark c-icon c-icon--product-{{> icon-master-cover-details}}"></i>
                                    <p class="c-copy c-tile__product--title u-padding-top-md">View cover details</p>
                                </a>
                            </div>
                        </div>
                        <div class="c-tile__product-tile--slide l-grid__column-medium-4">
                            <div class="c-tile--product-teaser">
                                <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
                                    <i class="t-bg-white c-tile--product-teaser__icon t-primary-action-dark c-icon c-icon--product-{{> icon-master-payments}}"></i>
                                    <p class="c-copy c-tile__product--title u-padding-top-md">Make payments</p>
                                </a>
                            </div>
                        </div>
                        <div class="c-tile__product-tile--slide l-grid__column-medium-4">
                            <div class="c-tile--product-teaser">
                                <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
                                    <i class="t-bg-white c-tile--product-teaser__icon t-primary-action-dark c-icon c-icon--product-{{> icon-master-change}}"></i>
                                    <p class="c-copy c-tile__product--title u-padding-top-md">Request changes</p>
                                </a>
                            </div>
                        </div>
                        <div class="c-tile__product-tile--slide l-grid__column-medium-4">
                            <div class="c-tile--product-teaser">
                                <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
                                    <i class="t-bg-white c-tile--product-teaser__icon t-primary-action-dark c-icon c-icon--product-{{> icon-master-claims}}"></i>
                                    <p class="c-copy c-tile__product--title u-padding-top-md">Submit &amp; track claims</p>
                                </a>
                            </div>
                        </div>
                        <div class="c-tile__product-tile--slide l-grid__column-medium-4">
                            <div class="c-tile--product-teaser">
                                <a href="#" aria-label="more information about short version of tile title" class="c-tile__link">
                                    <i class="t-bg-white c-tile--product-teaser__icon t-primary-action-dark c-icon c-icon--product-{{> icon-master-myallianz}}"></i>
                                    <p class="c-copy c-tile__product--title u-padding-top-md">Manage your policies</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="c-tile__product-tile--pagination"></div>
                </div>
                <div class="l-grid__column-large-12 u-text-center c-tile__product__icon">
                    <a class="c-button c-button--link u-margin-bottom-s">Get Started</a>
                    <p class="c-copy u-margin-bottom-0">It only takes 2 minutes.</p>
                </div>
            </div>
        </div>
    </div>
</div>