<div class="c-section l-container l-container--full-width {{bg-colour-cta}}">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-medium-12 l-grid__column-large-10 u-margin-bottom-2m">
                <h3 class="c-heading u-text-center">What would you like to do?</h3>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-medium-12 l-grid__column-large-10 ">
                <div class="l-grid__row justify-content-center">
                    <div class="l-grid__column-small-12 l-grid__column-medium-6  l-grid__column-large-4 u-text-center">
                        <a href="cover-details/" aria-label="more information about short version of tile title">
                            <i class="t-bg-primary-action-bright t-primary-white c-icon c-icon--fill c-icon--m c-icon--product-lock"></i>
                            <h5 class="u-text-weight-regular u-margin-top-xs u-margin-bottom-2xs">Cover details</h5>
                            <p class="c-copy u-margin-bottom-xs">Explore our cover and benefits and view our policy documents.</p>
                            <span class="c-link c-link--block c-tile__info-link" href='#' aria-label="Read More"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue--><span class="c-link__text">Read More</span></span>
                        </a>
                    </div>
                    <div class="l-grid__column-small-12 l-grid__column-medium-6  l-grid__column-large-4 u-text-center">
                        <a href="claims/" aria-label="more information about short version of tile title">
                            <i class="t-bg-primary-action-bright t-primary-white c-icon c-icon--fill c-icon--m c-icon--product-lock"></i>
                            <h5 class="u-text-weight-regular u-margin-top-xs u-margin-bottom-2xs">Claims</h5>
                            <p class="c-copy u-margin-bottom-xs">Find information on our motor claims & emergency service here.</p>
                            <span class="c-link c-link--block c-tile__info-link" href='#' aria-label="Read More"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue--><span class="c-link__text">Read More</span></span>
                        </a>
                    </div>
                    <div class="l-grid__column-small-12 l-grid__column-medium-6  l-grid__column-large-4 u-text-center">
                        <a href="faqs/" aria-label="more information about short version of tile title">
                            <i class="t-bg-primary-action-bright t-primary-white c-icon c-icon--fill c-icon--m c-icon--product-lock"></i>
                            <h5 class="u-text-weight-regular u-margin-top-xs u-margin-bottom-2xs">FAQs</h5>
                            <p class="c-copy u-margin-bottom-xs">Have a question? Find the answer in our Car Insurance FAQs.</p>
                            <span class="c-link c-link--block c-tile__info-link" href='#' aria-label="Read More"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue--><span class="c-link__text">Read More</span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>