<div class="l-container l-container--full-width {{bg-colour-benefits}}">
    <div class="l-grid l-grid--max-width c-benefit-communication-tile">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-medium-12 l-grid__column-large-10">
                <h2 class="c-heading c-benefit-communication-tile__heading u-text-center"> Why others choose our <em class="u-text-weight-semibold">{{product-specific}} insurance</em>? <br />Your unique benefits </h2>
            </div>
            <div class="l-grid__column-small-12 l-grid__column-medium-6  l-grid__column-large-4 u-text-center">
                <div class="c-tile c-tile--benefit">
                    <picture class="c-image c-image--illustration">
                        <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="{{root}}assets/img/illustration/Custom/ill-person.png" />
                    </picture>
                    <h5 class="c-heading c-tile__heading-sub-section">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                    <a class="c-link c-link--block c-tile__info-link" href='#' aria-label="Read More"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue--><span class="c-link__text">Read More</span></a>
                </div>
            </div>
            <div class="l-grid__column-small-12 l-grid__column-medium-6  l-grid__column-large-4 u-text-center">
                <div class="c-tile c-tile--benefit">
                    <picture class="c-image c-image--illustration">
                        <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="{{root}}assets/img/illustration/Custom/ill-{{product-specific}}.png" />
                    </picture>
                    <h5 class="c-heading c-tile__heading-sub-section">Maecenas vel augue quis felis ultrices elementum</h5>
                    <a class="c-link c-link--block c-tile__info-link" href='#' aria-label="Read More"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue--><span class="c-link__text">Read More</span></a>
                </div>
            </div>
            <div class="l-grid__column-small-12 l-grid__column-medium-6  l-grid__column-large-4 u-text-center">
                <div class="c-tile c-tile--benefit">
                    <picture class="c-image c-image--illustration">
                        <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="{{root}}assets/img/illustration/Custom/ill-myallianz.png" />
                    </picture>
                    <h5 class="c-heading c-tile__heading-sub-section">Curabitur in ante quis erat congue blandit vel nec lacus</h5>
                    <a class="c-link c-link--block c-tile__info-link" href='#' aria-label="Read More"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue--><span class="c-link__text">Read More</span></a>
                </div>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-small-12 l-grid__column-medium-fit">
                <a href="cover-details/cover-details.html" class="c-button">More Cover Details</a>
            </div>
        </div>
    </div>
</div>