.c-message {
  background-color: map-get($color-basic, primary-white);
  border: map-get($borders, xs) solid;
  border-radius: map-get($border-radius, s);
  box-sizing: border-box;
  box-shadow: map-get($shadows, s);
  display: block;
  margin-top: map-get($sizes, s);
}

.c-message--info {
  border-color: map-get($color-primary-action, primary-action-dark);
  .c-message__item-icon {
    color: map-get($color-primary-action, primary-action-dark);
    &:before {
      content: map-get($c-icons, info-circle);
    }
  }
}

.c-message--error {
  border-color: map-get($color-process, process-error);
  .c-message__item-icon {
    color: map-get($color-process, process-error);
    &:before {
      content: map-get($c-icons, exclamation-circle);
    }
  }
}

.c-message--warning {
  border-color: map-get($color-process, process-warning);
  .c-message__item-icon {
    color: map-get($color-process, process-warning);
    &:before {
      content: map-get($c-icons, exclamation-triangle);
    }
  }
}

.c-message--success {
  border-color: map-get($color-process, process-success);
  .c-message__item-icon {
    color: map-get($color-process, process-success);
    &:before {
      content: map-get($c-icons, check-circle);
    }
  }
}

.c-message__item-icon {
  font-size: map-get($font-sizes, s);
  height: map-get($sizes, m);
  width: map-get($sizes, m);
  margin-right: map-get($sizes, s);

  @include media-breakpoint-response(mobile) {
    display: inline-flex;
    float: left;
    height: map-get($font-sizes, s);
    margin-right: map-get($sizes, 2xs);
  }
}

.c-message__content {
  display: flex;
  flex-wrap: wrap;
  margin: map-get($sizes, m) - map-get($borders, xs);

  @include media-breakpoint-response(mobile) {
    display: block;
    margin: map-get($sizes, 2m) - map-get($borders, xs);
    position: relative;
  }
  .c-copy {
    align-self: flex-end;
    flex: 1;
    display: inline;
    margin: map-get($sizes, 5xs);
    line-height: map-get($line-heights, 2xs);
    hyphens: auto;
    word-wrap: break-word;

    b,
    strong {
      line-height: 1;
    }
  }

  .c-message__list {
    width: 100%;
    padding: map-get($sizes, 5xs);
    list-style: none;

    .c-icon {
      color: map-get($color-process, process-success);
      position: relative;
    }

    .c-message__list-item {
      display: flex;
      line-height: map-get($line-heights, 2xs);
      font-size: map-get($font-sizes, 3xs);
      margin-top: map-get($sizes, s);
    }

    .c-message__list-item--disabled {
      color: map-get($color-grey-tones, grey-tone-1);
      .c-icon {
        color: map-get($color-grey-tones, grey-tone-3);
      }
    }
  }

}

.c-message--password-dialog {
  .c-message__content {
    margin: map-get($sizes, 2m) - map-get($borders, xs) map-get($sizes, m) - map-get($borders, xs);
    letter-spacing: map-get($letter-spacings, 2xs);
  }

  .c-message__item-icon {
    @include media-breakpoint-response(mobile) {
      margin-right: map-get($sizes , s);
    }
  }
}

.c-message--password-dialog.c-message--info {
  border-color: map-get($color-primary-action, primary-action-dark);
  .c-message__item-icon {
    color: map-get($color-primary-action, primary-action-dark);

    &:before {
      content: map-get($c-icons, info-circle);
    }
  }
}

.c-message__password-validate-icon {
  flex: 0 0 auto;
  height: map-get($sizes, m);
  width: map-get($sizes, m);
  font-size: map-get($font-sizes, s);
  margin-right: map-get($sizes, s);
}

.c-message__icon-close {
  display: inline-block;
  margin-top: (-1 * (map-get($sizes, m) - map-get($sizes, s)));
  margin-right: (-1 * (map-get($sizes, m) - map-get($sizes, s)));
  margin-left: map-get($sizes, 2xs);
  height: map-get($sizes, s);
  width: map-get($sizes, s);
  font-size: map-get($font-sizes, 3xs);
  cursor: pointer;

  @include media-breakpoint-response(mobile) {
    position: absolute;
    margin: map-get($sizes, 5xs);
    right: (-1 * map-get($sizes, s));
    top: (-1 * map-get($sizes, s));
  }
}

.c-message--mobile-float {
  margin: map-get($sizes, s) map-get($sizes, 2xs);
  @include media-breakpoint-response(mobile) {
    z-index: map-get($z-index, dialog);
    position: fixed;
    bottom: map-get($sizes, 2xs);
    left: map-get($sizes, 2xs);
    right: map-get($sizes, 2xs);
    background: map-get($color-basic, primary-white);
    width: auto;
    margin: map-get($sizes, 5xs);
  }
}
