<div class="c-navcontent__links">
    <h3 class="c-navcontent__headline">Travel Insurance</h3>
    <ul role="menu" class="c-navcontent__list">
        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
            <a aria-label="Overview" href="{{root}}{{country}}/travel-insurance/" class="c-navcontent__links">Overview</a>
        </li>
        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
            <a aria-label="Cover Details" href="{{root}}{{country}}/travel-insurance/cover-details/cover-details.html" class="c-navcontent__links">Cover Details</a>
        </li>
    </ul>
    <a href="#" class="c-link">Get Quote</a>
</div>