<div data-parent-id="nav1sub2" class=" l-grid__row c-navcontent js-navcontent">
    <div class="l-grid__column-medium-12 l-grid__column-large-8">
        <div class="l-grid__row">
            <div class="l-grid__column-medium-3">
                <div class="c-navcontent__links">
                    <h3 class="c-navcontent__headline">Home Insurance</h3>
                    <ul role="menu" class="c-navcontent__list">
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Overview" href="#" class="c-navcontent__links">Overview</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Cover Details" href="#" class="c-navcontent__links">Cover Details</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="FAQs" href="#" class="c-navcontent__links">FAQs</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Reviews" href="#" class="c-navcontent__links">Reviews</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Emergency Home Assistance" href="#" class="c-navcontent__links">Emergency Home Assistance</a>
                        </li>
                    </ul>
                    <a href="#" class="c-link">Get Quote</a>
                </div>
            </div>
            <div class="l-grid__column-medium-3">
                <div class="c-navcontent__links">
                    <h3 class="c-navcontent__headline">Renters Insurance</h3>
                    <ul role="menu" class="c-navcontent__list">
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Overview" href="#" class="c-navcontent__links">Overview</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Cover Details" href="#" class="c-navcontent__links">Cover Details</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="FAQs" href="#" class="c-navcontent__links">FAQs</a>
                        </li>
                    </ul>
                    <a href="#" class="c-link">Get Quote</a>
                </div>
            </div>
            <div class="l-grid__column-medium-3">
                <div class="c-navcontent__links">
                    <h3 class="c-navcontent__headline">Landlord Insurance</h3>
                    <ul role="menu" class="c-navcontent__list">
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Overview" href="#" class="c-navcontent__links">Overview</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Cover Details" href="#" class="c-navcontent__links">Cover Details</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="FAQs" href="#" class="c-navcontent__links">FAQs</a>
                        </li>
                    </ul>
                    <a href="#" class="c-link">Get Quote</a>
                </div>
            </div>
            <div class="l-grid__column-medium-3">
                <div class="c-navcontent__links">
                    <h3 class="c-navcontent__headline">Holiday Home</h3>
                    <ul role="menu" class="c-navcontent__list">
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Overview" href="#" class="c-navcontent__links">Overview</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Cover Details" href="#" class="c-navcontent__links">Cover Details</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="FAQs" href="#" class="c-navcontent__links">FAQs</a>
                        </li>
                    </ul>
                    <a href="#" class="c-link">Get Quote</a>
                </div>
            </div>
        </div>
    </div>
    <!--Teaser Part-->
    <div class="l-grid__column-medium-12 l-grid__column-large-4">
        <div class="c-teaser c-teaser--horizontal-66-33 t-bg-soft-beige c-navcontent__teaser">
            <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                <div class="c-teaser__image-container">
                    <figure class="c-image c-teaser__image ">
                        <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="{{root}}assets/img/stage/stage-home-02.jpg" />
                    </figure>
                </div>
                <div class="c-teaser__content">
                    <h3 class="c-heading c-teaser__headline">Home Insurance</h3>
                    <p class="c-copy c-teaser__text">Protect your home and enjoy peace of mind with Allianz Home Insurance.</p>
                    <span class="c-link c-link--block c-teaser__link" aria-label="More information"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">More information</span></span>
                </div>
            </a>
        </div>
    </div>
</div>