<div class="c-navcontent__links">
    <h3 class="c-navcontent__headline">About Allianz</h3>
    <ul role="menu" class="c-navcontent__list">
        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
            <a aria-label="Our Company" href="{{root}}{{country}}/our-company/" class="c-navcontent__links">Our Company</a>
        </li>
        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
            <a aria-label="Social Responsibility" href="#" class="c-navcontent__links">Social Responsibility</a>
        </li>
        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
            <a aria-label="In The Community" href="#" class="c-navcontent__links">In The Community</a>
        </li>
        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
            <a aria-label="Regulatory Information" href="#" class="c-navcontent__links">Regulatory Information</a>
        </li>
        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
            <a aria-label="Premier Clients" href="#" class="c-navcontent__links">Premier Clients</a>
        </li>
    </ul>
</div>