<div class="c-three-level-navigation js-search js-three-level-nav" data-toggle-on="hover">
    <div class="c-navigation">
        <div class="c-navigation--extended js-nav-extended">
            <div class="c-navigation__bar c-header__wrapper js-header__wrapper">
                <a href="#" class="c-header__logo js-header__logo "><img alt="Logo" src="{{root}}assets/img/allianz-logo.png"></a>
                <div class="c-main-navbar js-main-navbar">
                    <ul role="menu" class="c-main-navbar__list">
                        <li role="menuitem" class="c-main-navbar__item">
                            <a id="nav1" aria-expanded="false" aria-label="Products" href="#" class="c-main-navbar__link js-main-navigation-link"><span class="c-main-navbar__title">Products</span>
                            </a>
                        </li>
                        <li role="menuitem" class="c-main-navbar__item u-hidden-medium-down">
                            <a id="nav2" aria-expanded="false" aria-label="MyAllianz" href="#" class="c-main-navbar__link js-main-navigation-link"><span class="c-main-navbar__title">MyAllianz</span>
                            </a>
                        </li>
                        <li role="menuitem" class="c-main-navbar__item">
                            <a id="nav3" aria-expanded="false" aria-label="About" href="#" class="c-main-navbar__link js-main-navigation-link"><span class="c-main-navbar__title">About</span></a>
                        </li>
                        <li role="menuitem" class="c-main-navbar__item">
                            <a id="nav4" aria-expanded="false" aria-label="Claims" href="#" class="c-main-navbar__link js-main-navigation-link"><span class="c-main-navbar__title">Claims</span></a>
                        </li>
                        <li role="menuitem" class="c-main-navbar__item">
                            <a id="nav5" aria-expanded="false" aria-label="Documents" href="#" class="c-main-navbar__link js-main-navigation-link"><span class="c-main-navbar__title">Documents</span></a>
                        </li>
                    </ul>
                </div>
                <div class="c-header__phone-link">
                    <a class="c-link " href='#' aria-label=" "><span aria-hidden="true" class="c-link__icon c-icon c-icon--phone-o"></span><!-- Fix White Space issue --><span class="c-link__text"> </span><em class='u-text-weight-semibold'>{{> roi-tel-number}}</em></a>
                </div>
            </div>
        </div>
        <!--Mobile-->
        <div class="c-navigation--compact">
            <div class="c-mobilebar">
                <a href="#" class="c-mobilebar__logo ">
                    <img alt="Logo" src="{{root}}assets/img/allianz-logo.png">
                </a>
                <div class="c-mobilebar__action">
                    <a href="#" class="c-mobilebar__action c-mobilebar__open">
                        <i aria-hidden="true" class="c-icon c-icon--phone-o c-icon--functional"></i>
                    </a>
                </div>
                <div class="c-mobilebar__action">
                    <a href="#" class="c-mobilebar__action c-mobilebar__open">
                        <i aria-hidden="true" class="c-icon c-icon--user-o c-icon--functional"></i>
                    </a>
                </div>
                <div class="c-mobilebar__action">
                    <a href="#" class="c-mobilebar__action c-mobilebar__open js-opener-link-mobile">
                        <i aria-hidden="true" class="c-icon c-icon--bars c-icon--functional"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="c-flyout c-flyout--sub-navigation js-flyout--sub-navigation">
        <div class="c-flyout__layout">
            <div class="c-flyout__content">
                <!-- Desktop -->
                <div data-parent-id="nav1" class="c-subnavigation js-sub-navigation" style="display: none;">
                    <div class="c-subnavigation__content">
                        <div class="l-grid l-grid--max-width ">
                            <div class="l-grid__row">
                                <div class="l-grid__column-12">
                                    <div class="c-subnavbar">
                                        <ul role="menu" class="c-subnavbar__list">
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Car" aria-label="Car" id="nav1sub1" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Car" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-car}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Car">Car</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Home" aria-label="Home" id="nav1sub2" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Home" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-home}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Home">Home</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Pet" aria-label="Pet" id="nav1sub3" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Pet" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-pet}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Pet">Pet</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Boat" aria-label="Boat" id="nav1sub4" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Boat" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-boat}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Boat">Boat</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Travel" aria-label="Travel" id="nav1sub5" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Travel" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-travel}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Travel">Travel</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Business" aria-label="Business" id="nav1sub6" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Business" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-business}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Business">Business</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Schools" aria-label="Schools" id="nav1sub7" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Schools" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-schools}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Schools">Schools</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div> {{> header-subnav-car-desktop}} {{> header-subnav-home-desktop}} {{> header-subnav-pet-desktop}} {{> header-subnav-boat-desktop}} {{> header-subnav-travel-desktop}} {{> header-subnav-schools-desktop}}
                        </div>
                    </div>
                </div>
                <div data-parent-id="nav2" class="c-subnavigation js-sub-navigation" style="display: none;">
                    <div class="c-subnavigation__content">
                        <div class="l-grid l-grid--max-width ">
                            <div class="l-grid__row">
                                <div class="l-grid__column-12">
                                    <div class="c-subnavbar">
                                        <ul role="menu" class="c-subnavbar__list">
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Overview" aria-label="Overview" id="nav2sub1" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Car" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-myallianz}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Overview">Overview</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="FAQs" aria-label="FAQs" id="nav2sub2" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Car" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-faqs}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="FAQs">FAQs</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Login" aria-label="Login" id="nav2sub3" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Car" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-login}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Login">Login</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Register" aria-label="Register" id="nav2sub4" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Car" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-register}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Register">Register</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-parent-id="nav3" class="c-subnavigation js-sub-navigation" style="display: none;">
                    <div class="c-subnavigation__content">
                        <div class="l-grid l-grid--max-width "> {{> header-subnav-about-desktop}} </div>
                    </div>
                </div>
                <div data-parent-id="nav4" class="c-subnavigation js-sub-navigation" style="display: none;">
                    <div class="c-subnavigation__content">
                        <div class="l-grid l-grid--max-width ">
                            <div class="l-grid__row">
                                <div class="l-grid__column-12">
                                    <div class="c-subnavbar">
                                        <ul role="menu" class="c-subnavbar__list">
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Car" aria-label="Car" id="nav4sub1" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Car" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-car}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Car">Car</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Home" aria-label="Home" id="nav4sub2" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Home" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-home}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Home">Home</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Pet" aria-label="Pet" id="nav4sub3" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Pet" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-pet}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Pet">Pet</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Boat" aria-label="Boat" id="nav4sub4" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Boat" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-boat}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Boat">Boat</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Horse &amp; Rider" aria-label="Horse &amp; Rider" id="nav4sub5" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Horse &amp; Rider" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-horse}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Horse &amp; Rider">Horse &amp; Rider</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Schools" aria-label="Schools" id="nav4sub6" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Schools" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-schools}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Schools">Schools</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-parent-id="nav5" class="c-subnavigation js-sub-navigation" style="display: none;">
                    <div class="c-subnavigation__content">
                        <div class="l-grid l-grid--max-width ">
                            <div class="l-grid__row">
                                <div class="l-grid__column-12">
                                    <div class="c-subnavbar">
                                        <ul role="menu" class="c-subnavbar__list">
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Car" aria-label="Car" id="nav5sub1" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Car" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-car}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Car">Car</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Home" aria-label="Home" id="nav5sub2" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Home" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-home}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Home">Home</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Pet" aria-label="Pet" id="nav5sub3" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Pet" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-pet}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Pet">Pet</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Boat" aria-label="Boat" id="nav5sub4" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Boat" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-boat}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Boat">Boat</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Horse &amp; Rider" aria-label="Horse &amp; Rider" id="nav5sub5" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Horse &amp; Rider" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-horse}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Horse &amp; Rider">Horse &amp; Rider</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" aria-describedby="levelID2" class="c-subnavbar__item">
                                                <a aria-expanded="false" title="Schools" aria-label="Schools" id="nav5sub6" href="#" class="c-subnavbar__link js-sub-navigation-link ">
                                                    <span aria-hidden="true" title="Schools" class="c-subnavbar__icon c-icon c-icon--product-{{> icon-master-schools}} c-icon--functional"></span>
                                                    <span aria-hidden="true" class="c-subnavbar__title" title="Schools">Schools</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile -->
                <div class="c-navigation__accordion js-navigation-mobile" style="display: none;" data-test="1">
                    <ul role="menu" class="c-accordion c-accordion--level-0">
                        <li role="menuitem" class="c-accordion__item c-accordion__item--level-0">
                            <a id="nav1" href="#" class="c-accordion__button js-main-navigation-link-mobile">
                                <span class="c-accordion__title">Products</span>
                                <div class="c-accordion__indicator">
                                    <span aria-hidden="true" class="c-icon c-icon--chevron-down  c-icon--functional"></span>
                                </div>
                            </a>
                            <div data-parent-id="nav1" class="accordion__content js-sub-navigation-mobile" style="display: none;">
                                <ul role="menu" class="c-accordion c-accordion--level-1">
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a id="nav1sub1" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-car}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Car</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--chevron-down  c-icon--functional"></span>
                                            </div>
                                        </a>
                                        <div data-parent-id="nav1sub1" class="accordion__content js-navcontent-mobile" style="display: none;">
                                            <div>{{> header-subnav-car-links-01}}</div>
                                            <div>{{> header-subnav-car-links-02}}</div>
                                            <div>{{> header-subnav-car-links-03}}</div>
                                        </div>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a id="nav1sub2" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-home}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Home</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--chevron-down  c-icon--functional"></span>
                                            </div>
                                        </a>
                                        <div data-parent-id="nav1sub2" class="accordion__content js-navcontent-mobile" style="display: none;">
                                            <div>{{> header-subnav-home-links-01}}</div>
                                            <div>{{> header-subnav-home-links-02}}</div>
                                            <div>{{> header-subnav-home-links-03}}</div>
                                            <div>{{> header-subnav-home-links-04}}</div>
                                        </div>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a id="nav1sub3" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-pet}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Pet</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--chevron-down  c-icon--functional"></span>
                                            </div>
                                        </a>
                                        <div data-parent-id="nav1sub3" class="accordion__content js-navcontent-mobile" style="display: none;">
                                            <div>{{> header-subnav-pet-links-01}}</div>
                                        </div>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a id="nav1sub4" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-boat}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Boat</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--chevron-down  c-icon--functional"></span>
                                            </div>
                                        </a>
                                        <div data-parent-id="nav1sub4" class="accordion__content js-navcontent-mobile" style="display: none;">
                                            <div>{{> header-subnav-boat-links-01}}</div>
                                        </div>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a id="nav1sub5" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-travel}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Travel</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--chevron-down  c-icon--functional"></span>
                                            </div>
                                        </a>
                                        <div data-parent-id="nav1sub5" class="accordion__content js-navcontent-mobile" style="display: none;">
                                            <div>{{> header-subnav-travel-links-01}}</div>
                                        </div>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav1sub6" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-business}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Business</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a id="nav1sub7" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-schools}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Schools</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--chevron-down  c-icon--functional"></span>
                                            </div>
                                        </a>
                                        <div data-parent-id="nav1sub7" class="accordion__content js-navcontent-mobile" style="display: none;">
                                            <div>{{> header-subnav-schools-links-01}}</div>
                                            <div>{{> header-subnav-schools-links-02}}</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="c-navigation__accordion js-navigation-mobile" style="display: none;" data-test="1">
                    <ul role="menu" class="c-accordion c-accordion--level-0">
                        <li role="menuitem" class="c-accordion__item c-accordion__item--level-0">
                            <a id="nav2" href="#" class="c-accordion__button js-main-navigation-link-mobile">
                                <span class="c-accordion__title">MyAllianz</span>
                                <div class="c-accordion__indicator">
                                    <span aria-hidden="true" class="c-icon c-icon--chevron-down  c-icon--functional"></span>
                                </div>
                            </a>
                            <div data-parent-id="nav2" class="accordion__content js-sub-navigation-mobile" style="display: none;">
                                <ul role="menu" class="c-accordion c-accordion--level-1">
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav2sub1" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-myallianz}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Overview</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav2sub2" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-faqs}} c-icon--functional"></span>
                                            <span class="c-accordion__title">FAQS</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav2sub3" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-login}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Login</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav2sub4" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-register}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Register</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="c-navigation__accordion js-navigation-mobile" style="display: none;" data-test="1">
                    <ul role="menu" class="c-accordion c-accordion--level-0">
                        <li role="menuitem" class="c-accordion__item c-accordion__item--level-0">
                            <a id="nav3" href="#" class="c-accordion__button js-main-navigation-link-mobile">
                                <span class="c-accordion__title">About</span>
                                <div class="c-accordion__indicator">
                                    <span aria-hidden="true" class="c-icon c-icon--chevron-down  c-icon--functional"></span>
                                </div>
                            </a>
                            <div data-parent-id="nav3" class="accordion__content accordion__content--padded js-sub-navigation-mobile" style="display: none;">
                                <div>{{> header-subnav-about-links-01}}</div>
                                <div>{{> header-subnav-about-links-02}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="c-navigation__accordion js-navigation-mobile" style="display: none;" data-test="1">
                    <ul role="menu" class="c-accordion c-accordion--level-0">
                        <li role="menuitem" class="c-accordion__item c-accordion__item--level-0">
                            <a id="nav4" href="#" class="c-accordion__button js-main-navigation-link-mobile">
                                <span class="c-accordion__title">Claims</span>
                                <div class="c-accordion__indicator">
                                    <span aria-hidden="true" class="c-icon c-icon--chevron-down  c-icon--functional"></span>
                                </div>
                            </a>
                            <div data-parent-id="nav4" class="accordion__content js-sub-navigation-mobile" style="display: none;">
                                <ul role="menu" class="c-accordion c-accordion--level-1">
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav4sub1" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-car}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Car</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav4sub2" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-home}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Home</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav4sub3" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-pet}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Pet</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav4sub4" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-boat}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Boat</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav4sub4" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-horse}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Horse &amp; Rider</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav4sub4" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-schools}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Schools</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="c-navigation__accordion js-navigation-mobile" style="display: none;" data-test="1">
                    <ul role="menu" class="c-accordion c-accordion--level-0">
                        <li role="menuitem" class="c-accordion__item c-accordion__item--level-0">
                            <a id="nav5" href="#" class="c-accordion__button js-main-navigation-link-mobile">
                                <span class="c-accordion__title">Documents</span>
                                <div class="c-accordion__indicator">
                                    <span aria-hidden="true" class="c-icon c-icon--chevron-down  c-icon--functional"></span>
                                </div>
                            </a>
                            <div data-parent-id="nav5" class="accordion__content js-sub-navigation-mobile" style="display: none;">
                                <ul role="menu" class="c-accordion c-accordion--level-1">
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav5sub1" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-car}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Car</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav5sub2" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-home}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Home</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav5sub3" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-pet}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Pet</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav5sub4" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-boat}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Boat</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav5sub4" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-horse}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Horse &amp; Rider</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li role="menuitem" class="c-accordion__item c-accordion__item--level-1">
                                        <a href="#" id="nav5sub4" class="c-accordion__button js-sub-navigation-link-mobile">
                                            <span aria-hidden="true" class="c-accordion__icon c-icon c-icon--product-{{> icon-master-schools}} c-icon--functional"></span>
                                            <span class="c-accordion__title">Schools</span>
                                            <div class="c-accordion__indicator">
                                                <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="c-navigation__accordion js-navigation-mobile" style="display: none;" data-test="1">
                    <ul role="menu" class="c-accordion c-accordion--level-0">
                        <li role="menuitem" class="c-accordion__item c-accordion__item--level-0">
                            <a href="#" id="nav6" class="c-accordion__button js-main-navigation-link-mobile">
                                <span class="c-accordion__title">Blog</span>
                                <div class="c-accordion__indicator">
                                    <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="c-navigation__accordion js-navigation-mobile" style="display: none;" data-test="1">
                    <ul role="menu" class="c-accordion c-accordion--level-0">
                        <li role="menuitem" class="c-accordion__item c-accordion__item--level-0">
                            <a href="#" id="nav7" class="c-accordion__button js-main-navigation-link-mobile">
                                <span class="c-accordion__title">Contact</span>
                                <div class="c-accordion__indicator">
                                    <span aria-hidden="true" class="c-icon c-icon--arrow-right  c-icon--functional"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="c-navigation__accordion js-navigation-mobile" style="display: none;">
                    <div class="c-nav-card-tile">
                        <div class="c-nav-card-tile__container t-bg-primary-action-bright t-primary-white">
                            <div class="c-icon c-icon--m c-icon--product-headset-support"></div>
                            <p><a class="c-link c-link--negative c-link--block" href='#' aria-label="+35314484848"><span aria-hidden="true" class="c-link__icon c-icon c-icon--phone-o"></span><!-- Fix White Space issue --><span class="c-link__text">{{> roi-tel-number}}</span></a></p>
                            <p class="c-copy u-text-center u-margin-bottom-0">Available today from 8 am to 6 pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>