<div data-parent-id="nav1sub7" class=" l-grid__row c-navcontent js-navcontent">
    <div class="l-grid__column-medium-6">
        <div class="l-grid__row">
            <div class="l-grid__column-medium-6">
                <div class="c-navcontent__links">
                    <h3 class="c-navcontent__headline">Schools Insurance</h3>
                    <ul role="menu" class="c-navcontent__list">
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Overview" href="#" class="c-navcontent__links">Overview</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Cover Details" href="#" class="c-navcontent__links">Cover Details</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="FAQs" href="#" class="c-navcontent__links">FAQs</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Support" href="#" class="c-navcontent__links">Support</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Local Representatives" href="#" class="c-navcontent__links">Local Representatives</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Resources" href="#" class="c-navcontent__links">Resources</a>
                        </li>
                    </ul>
                    <a href="#" class="c-link">Contact Us</a>
                </div>
            </div>
            <div class="l-grid__column-medium-6">
                <div class="c-navcontent__links">
                    <h3 class="c-navcontent__headline">Pupil Personal Accident</h3>
                    <ul role="menu" class="c-navcontent__list">
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Overview" href="#" class="c-navcontent__links">Overview</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Cover Details" href="#" class="c-navcontent__links">Cover Details</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="FAQs" href="#" class="c-navcontent__links">FAQs</a>
                        </li>
                        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
                            <a aria-label="Support" href="#" class="c-navcontent__links">Support</a>
                        </li>
                    </ul>
                    <a href="#" class="c-link">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <!--Teaser Part-->
    <div class="l-grid__column-medium-6">
        <div class="c-teaser c-teaser--horizontal-66-33 t-bg-soft-grey c-navcontent__teaser">
            <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                <div class="c-teaser__image-container">
                    <figure class="c-image c-teaser__image ">
                        <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="{{root}}assets/img/stage/stage-schools-01.jpg" />
                    </figure>
                </div>
                <div class="c-teaser__content">
                    <h3 class="c-heading c-teaser__headline">Schools Insurance</h3>
                    <p class="c-copy c-teaser__text">Allianz are very proud to insure 90% of primary schools and 50% of secondary schools across Ireland.</p>
                    <span class="c-link c-link--block c-teaser__link" aria-label="More information"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">More information</span></span>
                </div>
            </a>
        </div>
    </div>
</div>