<div class="c-header-metabar">
    <div class="c-header-metabar__content c-header__wrapper">
        <div class="c-header-metabar__language">
            <div class="c-header-descriptor js-descriptor-mobile ">
                <span class="c-header-descriptor__label">Allianz Ireland</span>
            </div>
        </div>
        <div class="c-header-metabar__basic-link c-header-metabar__basic-link--end">
            <a class="c-link c-header__login-button c-link--black" href='#' aria-label=" ">Contact</a>
        </div>
        <div class="c-header-metabar__basic-link">
            <a class="c-link c-header__login-button c-link--black" href='#' aria-label=" ">Blog</a>
        </div>
        <div class="c-header-metabar__basic-link">
            <a class="c-link c-header__login-button c-link--black" href='#' aria-label=" "><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>Login to MyAllianz</a>
        </div>
    </div>
</div>