<div data-parent-id="nav1sub5" class=" l-grid__row c-navcontent js-navcontent">
    <div class="l-grid__column-medium-4">
        <div class="l-grid__row">
            <div class="l-grid__column">
                {{> header-subnav-travel-links-01}}
            </div>
        </div>
    </div>
    <!--Teaser Part-->
    <div class="l-grid__column-medium-8">
        <div class="c-teaser c-teaser--horizontal-66-33 t-bg-vibrant-turquoise-light c-navcontent__teaser">
            <a class="c-teaser__link-area" aria-label="" href="#">
                <div class="c-teaser__image-container">
                    <figure class="c-image c-teaser__image ">
                        <img class="c-image__img" alt="" src="{{root}}assets/img/teaser/teaser-travel-couple-surfboards.jpg" />
                    </figure>
                </div>
                <div class="c-teaser__content">
                    <h3 class="c-heading c-teaser__headline">Travel Insurance</h3>
                    <p class="c-copy c-teaser__text">Feel relaxed on holiday with a travel insurance policy from Allianz Global Assistance.</p>
                    <span class="c-link c-link--block c-teaser__link" aria-label="More information"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">More information</span></span>
                </div>
            </a>
        </div>
    </div>
</div>