<div class="c-navcontent__links">
    <h3 class="c-navcontent__headline">Home Insurance</h3>
    <ul role="menu" class="c-navcontent__list">
        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
            <a aria-label="Overview" href="#" class="c-navcontent__links">Overview</a>
        </li>
        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
            <a aria-label="Cover Details" href="#" class="c-navcontent__links">Cover Details</a>
        </li>
        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
            <a aria-label="FAQs" href="#" class="c-navcontent__links">FAQs</a>
        </li>
        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
            <a aria-label="Reviews" href="#" class="c-navcontent__links">Reviews</a>
        </li>
        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
            <a aria-label="Emergency Home Assistance" href="#" class="c-navcontent__links">Emergency Home Assistance</a>
        </li>
    </ul>
    <a href="#" class="c-link">Get Quote</a>
</div>