<div class="c-navcontent__links">
    <h3 class="c-navcontent__headline">Careers at Allianz</h3>
    <ul role="menu" class="c-navcontent__list">
        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
            <a aria-label="Find a career" href="#" class="c-navcontent__links">Find a career</a>
        </li>
        <li role="menuitem" aria-describedby="levelID3" class="c-navcontent__list-item">
            <a aria-label="Life at Allianz" href="#" class="c-navcontent__links">Life at Allianz</a>
        </li>
    </ul>
</div>