<div class=" l-grid__row c-navcontent c-navcontent--no-divider">
    <div class="l-grid__column-medium-6">
        <div class="l-grid__row">
            <div class="l-grid__column-medium-6 l-grid__column-large-4">
                {{> header-subnav-about-links-01}}
            </div>
            <div class="l-grid__column-medium-6 l-grid__column-large-8">
                {{> header-subnav-about-links-02}}
            </div>
        </div>
    </div>
    <!--Teaser Part-->
    <div class="l-grid__column-medium-6">
        <div class="c-teaser c-teaser--horizontal-66-33 t-bg-soft-mud c-navcontent__teaser">
            <a class="c-teaser__link-area" aria-label="" href="#">
                <div class="c-teaser__image-container">
                    <figure class="c-image c-teaser__image ">
                        <img class="c-image__img" alt="" src="{{root}}assets/img/teaser/teaser-about-allianz-building.jpg" />
                    </figure>
                </div>
                <div class="c-teaser__content">
                    <h3 class="c-heading c-teaser__headline">About Allianz</h3>
                    <p class="c-copy c-teaser__text">Great quality flexible products and a Claims service built with you in mind.</p>
                    <span class="c-link c-link--block c-teaser__link" aria-label="More information"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">More information</span></span>
                </div>
            </a>
        </div>
    </div>
</div>