$font-size-user-info-header: 3rem;
$line-height-user-info-header: 3.2rem;

.c-heading {
  font-weight: map-get($font-weight, light);
}

.c-heading--negative {
  color: map-get($color-basic, primary-white);

  .c-heading__link {
    color: map-get($color-basic, primary-white);
    &:hover {
      color: map-get($color-grey-tones, grey-tone-5);
    }
    &:active {
      color: map-get($color-grey-tones, grey-tone-4);
    }
    &:disabled,
    &[aria-disabled] {
      color: rgba(map-get($color-basic, primary-white), 0.4);
    }
  }
}

h1.c-heading.c-heading--bold-cap {
  font-size :     map-get($font-sizes, xl);
  line-height:    map-get($line-heights, xl);
  font-weight:    map-get($font-weight, bold);
  letter-spacing: map-get($letter-spacings, s);
  text-transform: uppercase;

  @include media-breakpoint-response(mobile) {
    font-size : map-get($exception-font-sizes, m);
    line-height : map-get($line-heights, 3m);
  }
}

.c-heading--page {
  font-size: map-get($font-sizes, xl);
  line-height: map-get($line-heights, xl);
  letter-spacing: map-get($letter-spacings, s);
  margin: 0 0 40px;

  @include media-breakpoint-response(mobile) {
    font-size: map-get($font-sizes, l);
    line-height: map-get($line-heights, l);
  }
}

.c-heading--section {
  font-size: map-get($font-sizes, l);
  line-height: map-get($line-heights, l);
  letter-spacing: map-get($letter-spacings, s);
  margin: 0 0 50px;

  @include media-breakpoint-response(mobile) {
    font-size: map-get($exception-font-sizes, m);
    line-height: map-get($line-heights, 3m);
  }
}

.c-heading--subsection-large {
  font-size: map-get($font-sizes, 2m);
  line-height: map-get($line-heights, 2m);
  letter-spacing: map-get($letter-spacings, s);
  margin: 0 0 30px;

  &--negative {
    color: map-get($color-basic, primary-white);
  }

  @include media-breakpoint-response(mobile) {
    font-size: map-get($font-sizes, m);
    line-height: map-get($line-heights, m);
  }
}

.c-heading--subsection-medium {
  font-size: map-get($font-sizes, m);
  line-height: map-get($line-heights, m);
  letter-spacing: map-get($letter-spacings, s);
  margin: 0 0 40px;

  &--negative {
    color: map-get($color-basic, primary-white);
  }

  @include media-breakpoint-response(mobile) {
    font-size: map-get($font-sizes, s);
    line-height: map-get($line-heights, m);
    letter-spacing: map-get($letter-spacings, xs);
  }
}

.c-heading--subsection-small {
  font-size: map-get($font-sizes, s);
  line-height: map-get($line-heights, m);
  letter-spacing: map-get($letter-spacings, xs);
  margin: 0 0 30px;

  &--negative {
    color: map-get($color-basic, primary-white);
  }

  @include media-breakpoint-response(mobile) {
    font-size: map-get($font-sizes, xs);
    line-height: map-get($line-heights, xs);
  }
}

.c-heading--subsection-xsmall {
  font-size: map-get($font-sizes, xs);
  line-height: map-get($line-heights, xs);
  letter-spacing: map-get($letter-spacings, xs);
  margin: 0 0 20px;

  &--negative {
    color: map-get($color-basic, primary-white);
  }

  @include media-breakpoint-response(mobile) {
    font-size: map-get($font-sizes, 2xs);
    line-height: map-get($line-heights, xs);
  }
}

.c-heading__link {
  color: map-get($color-primary-action, primary-action-dark);
  font-size: map-get($font-sizes, s);
  line-height: map-get($line-heights, m);
  text-decoration: none;

  @include media-breakpoint-response(mobile) {
    font-size: map-get($font-sizes, xs);
    line-height: map-get($line-heights, xs);
  }

  &:hover {
    color: map-get($color-primary-action, primary-action-medium);
  }

  &:active {
    color: map-get($color-basic, primary-brand);
  }

  &:focus {
    border-radius: 5px;
  }
}

.c-heading--tabs {
  margin: 40px 0 40px 0;

  &--vertical {
    margin: 15px 0 20px 0;
  }
}

.c-heading--promo-large {
  margin: 0px;
  line-height: $line-height-small;
}

.c-heading--promo-large--bold {
  font-weight: $font-weight-bold;
}

.c-heading--promo-large__small-text {
  font-size: $font-size-large;
}

.c-heading--comparison-table-col-headline {
  font-size: $font-size-h5;
  line-height: $line-height-large;
  font-weight: $font-weight-semibold;
  margin: 0 0 11px 0;

  @include media-breakpoint-response(mobile) {
    margin-bottom: 8px;
    font-size: $font-size-xxlarge;
    line-height: $line-height-xlarge;
  }
}

.c-heading--comparison-table-section-headline {
  display: flex;
  flex: 1 1;
  line-height: $line-height-large;
  font-size: $font-size-h4;
  font-weight: $font-weight-light;
  @include media-breakpoint-response(mobile) {
    font-size: $font-size-h5-mobile;
  }
}

.c-heading--list-table-headline {
  font-weight: $font-weight-light;
  margin: 0 0 11px 0;
}

.c-heading--list-table-sub-headline {
  margin: 0;
}

.c-heading--product-index-page {
  margin-top: 70px;
  margin-bottom: 40px;
  @include media-breakpoint-response(mobile) {
    margin: 33px 20px;
  }
}
