.c-pullquote {
  display: block;
  text-align: left;

  @include media-breakpoint-response(mobile) {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
}

.c-pullquote__sharing {
  order: 2;
  display: inline-flex;
  padding-right: map-get($sizes, s);

  @include media-breakpoint-response(mobile) {
    margin-top: map-get($sizes, s);
    display: inline-block;
  }
}

.c-pullquote__share-item {
  font-size: map-get($sizes, m);
  width: map-get($sizes, m);
  height: map-get($sizes, m);

  @include media-breakpoint-response(mobile) {
    display: inline-block;
    font-size: map-get($sizes, 2m);
    width: map-get($sizes, 2m);
    height: map-get($sizes, 2m);
  }

// distance between icons
  + .c-pullquote__share-item {
    margin-left: map-get($sizes, 2xs);

    @include media-breakpoint-response(mobile) {
      margin-left: map-get($sizes, m);
    }
  }
}

.c-pullquote__share-item--fb {
  color: $c-brand-facebook;
}

.c-pullquote__share-item--tw {
  color: $c-brand-twitter;
}

.c-pullquote__text {
  display: inline;
  font-weight: map-get($font-weight, semibold);
  font-style: italic;
  font-size: map-get($font-sizes, 2m);
  line-height: map-get($line-heights, 2m);
  letter-spacing: map-get($letter-spacings, s);
  color: map-get($color-grey-tones, grey-tone-3);
  order: 1;
  quotes: "“" "”" "‘" "’";

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }

  @include media-breakpoint-response(mobile) {
    font-size: map-get($font-sizes, m);
    line-height: map-get($line-heights, m);
  }
}
