.c-contact {
  padding-top: 60px;
  padding-bottom: 75px;
  
  @include media-breakpoint-response(mobile) {
    padding: 0 20px;
  }
}

.c-contact__image {
  margin-top: 40px;
  margin-bottom: 30px;
  @include media-breakpoint-response(mobile) {
    margin-top: 32px;
    margin-bottom: 0px;
  }
  .c-image__img {
    margin: 0 auto;
    height:130px;
    width:auto;
  }
}

.c-contact__heading {
  font-size: 40px;
  font-weight: 300;//light
  line-height: 48px;
  margin: 0;
  @include media-breakpoint-response(mobile) {
    font-size: 35px;
    line-height: 41px;
    margin-top: 30px;
  }
}

.c-contact__heading--mobile{
  @include media-breakpoint-response(mobile) {
    font-size: 35px;
    line-height: 41px;
  }
}

.c-contact__text{
  font-size: 20px;
  font-weight: 400;//regular
  line-height: 28px;
  margin-top: 30px;
  margin-bottom: 0px;
  @include media-breakpoint-response(mobile) {
    font-size: 16px;
    font-weight: 600;//semibold
    line-height: 26px;
    margin-top: 25px;
    margin-bottom: 75px;
  }
}

