<div class="l-grid l-grid--max-width">
    <div class="l-grid__row justify-content-center">
        <div class="l-grid__column-large-8 l-grid__column-medium-10">
            <div class="c-social-divider-wrapper">
                <p class="c-copy u-text-center u-highlighted c-social-divider__mobile-header">Share this article</p>
                <div class="c-social-divider">
                    <div class="c-social-divider__wrapper">
                        <hr class="c-divider c-divider--compact" />
                    </div>
                    <div class="c-social-divider__icon-wrapper">
                        <div class="c-social-divider__icon-container">
                            <span class="c-social-icon c-social-icon--gplus c-icon c-icon--google-circle"></span>
                            <span class="c-social-icon c-social-icon--fb c-icon c-icon--facebook-circle"></span>
                            <span class="c-social-icon c-social-icon--twitter c-icon c-icon--twitter-circle"></span>
                            <span class="c-social-icon c-social-icon--youtube c-icon c-icon--youtube-circle"></span>
                        </div>
                        <div class="c-social-divider__button-wrapper">
                            <button class="c-button c-button--small c-button--secondary c-button--no-margin">Copy article link</button>
                        </div>
                    </div>
                    <div class="c-social-divider__wrapper">
                        <hr class="c-divider c-divider--compact" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="l-container l-container--full-width">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-large-8 l-grid__column-medium-10 u-padding-bottom-md">
                <div class="c-author-profile u-margin-top-lg u-margin-bottom-s">
                    <h3 class="c-heading c-author-profile__heading">About the author</h3>
                    <figure class="c-author-profile__image">
                        <picture class="c-image c-image--rounded ">
                            <img class="c-image__img" alt="" src="{{root}}assets/img/content/authors/andrew-kelliher.png" />
                        </picture>
                    </figure>
                    <address class="c-author-profile__name">
                        <em>{{article-author}}</em>
                    </address>
                    <div class="c-author-profile__additional-info">
                        <p class="c-copy c-author-profile__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia sem tortor. Donec eget auctor arcu. Sed vitae enim nibh. Aenean viverra enim at maximus euismod. Duis sed diam at augue ultrices tempus nec gravida leo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="l-container l-container--full-width">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-large-8 l-grid__column-medium-10 u-padding-bottom-md">
                <hr class="c-divider u-margin-top-0 u-margin-bottom-m">
                <h5 class="c-headline u-margin-bottom-s">Tagged with:</h5>
                <ul class="c-taglist c-taglist--keyword" aria-labelledby="a11y__label--taglist-search">
                    <li class="c-taglist__list-item " tabindex="-1">
                        <a class="c-taglist__item " href="#" tabindex="0">Home</a>
                    </li>
                    <li class="c-taglist__list-item " tabindex="-1">
                        <a class="c-taglist__item " href="#" tabindex="0">Tips</a>
                    </li>
                    <li class="c-taglist__list-item " tabindex="-1">
                        <a class="c-taglist__item " href="#" tabindex="0">Energy saving</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="l-container l-container--full-width">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-large-8 l-grid__column-medium-10 u-padding-bottom-md">
                <hr class="c-divider u-margin-top-0 u-margin-bottom-m">
                <h5 class="c-headline u-margin-bottom-s">Sources:</h5>
                <ol class="c-list">
                    <li class="c-list__item"><span aria-hidden="true" class="c-list__icon"></span> <a class="c-link c-link--text" href='#' aria-label="text link"><span class="c-link__text">Text link</span></a> </li>
                    <li class="c-list__item"><span aria-hidden="true" class="c-list__icon"></span> <a class="c-link c-link--text" href='#' aria-label="text link"><span class="c-link__text">Text link</span></a> </li>
                    <li class="c-list__item"><span aria-hidden="true" class="c-list__icon"></span> <a class="c-link c-link--text" href='#' aria-label="text link"><span class="c-link__text">Text link</span></a> </li>
                    <li class="c-list__item"><span aria-hidden="true" class="c-list__icon"></span> <a class="c-link c-link--text" href='#' aria-label="text link"><span class="c-link__text">Text link</span></a> </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="l-container l-container--full-width u-hidden">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-medium-8 l-grid__column-small-12 u-padding-bottom-md">
                <hr class="c-divider u-margin-top-0 u-margin-bottom-m">
                <h5 class="c-headline u-margin-bottom-s">Related links:</h5>
                <ul class="c-list c-list--links">
                    <li class="c-list__item"><a class="c-link c-link--block" href='#' aria-label="normal"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">normal link</span></a></li>
                    <li class="c-list__item"><a class="c-link c-link--block" href='#' aria-label="normal"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">normal link</span></a></li>
                    <li class="c-list__item"><a class="c-link c-link--block" href='#' aria-label="normal"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">normal link</span></a></li>
                    <li class="c-list__item"><a class="c-link c-link--block" href='#' aria-label="normal"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">normal link</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>