.c-search-result-text-teaser {
    margin-bottom: map-get($sizes, 3m);
    @include media-breakpoint-response(mobile) {
      margin-bottom: map-get($sizes, 2m);
    }
  }
  
  // atom(x): c-headline
  .c-search-result-text-teaser__headline {
    margin-bottom: map-get($sizes, 2xs);
  }
  
  // atom(x): c-copytext
  .c-search-result-text-teaser__copytext.c-copy {
    margin-bottom: map-get($sizes, s);
    hyphens: none;
  }
  
  // atom(x): c-breadcrumb
  .c-search-result-text-teaser__breadcrumb {
    .c-icon {
      color: map-get($color-primary-action, primary-action-dark);
    }
  
    .c-breadcrumb__link {
      letter-spacing: map-get($letter-spacings, 2xs);
      color: map-get($color-primary-action, primary-action-dark);
  
      &:hover {
        color: map-get($color-primary-action, primary-action-medium);
      }
  
      &:active,
      &:visited {
        color: map-get($color-basic, primary-brand);
      }
  
    }
    @include media-breakpoint-response(mobile) {
      display: block !important;
    }
  }

  .c-search-result-text-teaser__item {
    margin-bottom: map-get($sizes, 3m);

    @include media-breakpoint-response(mobile) {
      margin-bottom: map-get($sizes, 2m);
    }
  }