<div aria-label="Product Navigation" class="c-product-nav-bar js-toggle-product-nav">
    <div class="l-container l-container--full-width">
        <div class="l-grid l-grid--max-width">
            <div class="l-grid__row">
                <div class="l-grid__column-12 c-product-nav-bar__container">
                    <h3 class="c-heading c-heading--subsection-xsmall c-product-nav-bar__heading js-toggle-product-nav__link" role="navigation" aria-label="open product navigation">{{product-title}}<span aria-hidden="true" class="c-icon c-icon--chevron-down c-product-nav-bar__mobile-toggle"></span>
                    </h3>
                    <div class="c-product-nav-bar__listitems js-toggle-product-nav__list">
                        <ul class="c-product-nav-bar__navigation c-nav-product js-listitems">
                            <li class="c-nav-product__item">
                                <a href="{{root}}{{country}}/{{product-slug}}/" class="c-link c-nav-product__link" aria-label="Overview"><!-- Fix White Space issue --><span class="c-link__text">Overview</span></a>
                            </li>
                            <li class="c-nav-product__item">
                                <a href="{{root}}{{country}}/{{product-slug}}/cover-details/index.html" class="c-link c-nav-product__link" aria-label="Cover Details"><!-- Fix White Space issue --><span class="c-link__text">Cover Details</span></a>
                            </li>
                            <li class="c-nav-product__item">
                                <a href="{{root}}{{country}}/{{product-slug}}/faqs/index.html" class="c-link c-nav-product__link" aria-label="FAQs"><!-- Fix White Space issue --><span class="c-link__text">FAQs</span></a>
                            </li>
                            <li class="c-nav-product__item">
                                <a href="{{root}}{{country}}/{{product-slug}}/support/support.html" class="c-link c-nav-product__link" aria-label="Support"><!-- Fix White Space issue --><span class="c-link__text">Support</span></a>
                            </li>
                            <li class="c-nav-product__item">
                                <a href="{{root}}{{country}}/{{product-slug}}/resources/resources.html" class="c-link c-nav-product__link" aria-label="Resources"><!-- Fix White Space issue --><span class="c-link__text">Resources</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="c-product-nav-bar__more-link-container js-more-link-container">
                        <div class="c-product-nav-bar__more-link">
                            <a class="c-link js-more-link c-nav-product__more-link" aria-label="More"><!-- Fix White Space issue --><span class="c-link__text">More</span><span aria-hidden="true" class="c-icon c-icon--chevron-down c-product-nav-bar__more-link-icon"></span></a>
                        </div>
                        <div class='c-product-nav-bar__more-link-sub-menu js-sub-menu'>
                            <div class="c-product-nav-bar__more-link">
                                <a class="c-link js-more-link c-nav-product__more-link" aria-label="More"><!-- Fix White Space issue --><span class="c-link__text">More</span><span aria-hidden="true" class="c-icon c-icon--chevron-up c-product-nav-bar__more-link-icon"></span></a>
                            </div>
                            <div class="c-product-nav-bar__listitems">
                                <ul class="c-product-nav-bar__navigation c-nav-product js-submenu-listitems"></ul>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="c-button c-button--secondary c-button--small c-product-nav-bar__button">Get a quote</a>
                </div>
            </div>
        </div>
    </div>
</div>