<div aria-label="Product Navigation" class="c-product-nav-bar js-toggle-product-nav">
    <div class="l-container l-container--full-width">
        <div class="l-grid l-grid--max-width">
            <div class="l-grid__row">
                <div class="l-grid__column-12 c-product-nav-bar__container">
                    <h3 class="c-heading c-heading--subsection-xsmall c-product-nav-bar__heading js-toggle-product-nav__link" role="navigation" aria-label="open product navigation">Categories:<span aria-hidden="true" class="c-icon c-icon--chevron-down c-product-nav-bar__mobile-toggle"></span>
                    </h3>
                    <div class="c-product-nav-bar__listitems js-toggle-product-nav__list">
                        <ul class="c-product-nav-bar__navigation c-nav-product js-listitems">
                            <li class="c-nav-product__item">
                                <a href="{{root}}{{country}}/blog/" class="c-link c-nav-product__link" aria-label="Recent"><!-- Fix White Space issue --><span class="c-link__text">Recent</span></a>
                            </li>
                            <li class="c-nav-product__item">
                                <a href="{{root}}{{country}}/blog/your-car/" class="c-link c-nav-product__link" aria-label="Car"><!-- Fix White Space issue --><span class="c-link__text">Car</span></a>
                            </li>
                            <li class="c-nav-product__item">
                                <a href="{{root}}{{country}}/blog/your-home/" class="c-link c-nav-product__link" aria-label="Home"><!-- Fix White Space issue --><span class="c-link__text">Home</span></a>
                            </li>
                            <li class="c-nav-product__item">
                                <a href="{{root}}{{country}}/blog/your-pet/" class="c-link c-nav-product__link" aria-label="Pet"><!-- Fix White Space issue --><span class="c-link__text">Pet</span></a>
                            </li>
                            <li class="c-nav-product__item">
                                <a href="{{root}}{{country}}/blog/community/" class="c-link c-nav-product__link" aria-label="Community"><!-- Fix White Space issue --><span class="c-link__text">Community</span></a>
                            </li>
                            <li class="c-nav-product__item">
                                <a href="{{root}}{{country}}/blog/assistance/" class="c-link c-nav-product__link" aria-label="Assistance"><!-- Fix White Space issue --><span class="c-link__text">Assistance</span></a>
                            </li>
                            <li class="c-nav-product__item">
                                <a href="#" class="c-link c-nav-product__link" aria-label="Category"><!-- Fix White Space issue --><span class="c-link__text">Category</span></a>
                            </li>
                            <li class="c-nav-product__item">
                                <a href="#" class="c-link c-nav-product__link" aria-label="Category"><!-- Fix White Space issue --><span class="c-link__text">Category</span></a>
                            </li>
                            <li class="c-nav-product__item">
                                <a href="#" class="c-link c-nav-product__link" aria-label="Category"><!-- Fix White Space issue --><span class="c-link__text">Category</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="c-product-nav-bar__more-link-container js-more-link-container">
                        <div class="c-product-nav-bar__more-link">
                            <a class="c-link js-more-link c-nav-product__more-link" aria-label="More"><!-- Fix White Space issue --><span class="c-link__text">More</span><span aria-hidden="true" class="c-icon c-icon--chevron-down c-product-nav-bar__more-link-icon"></span></a>
                        </div>
                        <div class='c-product-nav-bar__more-link-sub-menu js-sub-menu'>
                            <div class="c-product-nav-bar__more-link">
                                <a class="c-link js-more-link c-nav-product__more-link" aria-label="More"><!-- Fix White Space issue --><span class="c-link__text">More</span><span aria-hidden="true" class="c-icon c-icon--chevron-up c-product-nav-bar__more-link-icon"></span></a>
                            </div>
                            <div class="c-product-nav-bar__listitems">
                                <ul class="c-product-nav-bar__navigation c-nav-product js-submenu-listitems"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>