<ul class="c-mini-nav-bar flex-column flex-medium-row justify-content-center">
    <li class="c-mini-nav-bar__item align-items-center">
        <a class="c-link c-mini-nav-bar__link justify-content-medium-center" href='#' aria-label="RETRIEVE QUOTE"><span aria-hidden="true" class="c-link__icon c-mini-nav-bar__arrow c-icon c-icon--search"></span><!-- Fix White Space issue --><span class="c-link__text">RETRIEVE QUOTE</span></a>
    </li>
    <li class="c-mini-nav-bar__item align-items-center">
        <a class="c-link c-mini-nav-bar__link justify-content-medium-center" href='#' aria-label="RENEW POLICY"><span aria-hidden="true" class="c-link__icon c-mini-nav-bar__arrow c-icon c-icon--set-timer"></span><!-- Fix White Space issue --><span class="c-link__text">RENEW POLICY</span></a>
    </li>
    <li class="c-mini-nav-bar__item align-items-center">
        <a class="c-link c-mini-nav-bar__link justify-content-medium-center" href='#' aria-label="MYALLIANZ"><span aria-hidden="true" class="c-link__icon c-mini-nav-bar__arrow c-icon c-icon--user-o"></span><!-- Fix White Space issue --><span class="c-link__text">MYALLIANZ</span></a>
    </li>
</ul>