---
layout: default
title: Component - Stage Images
product-title: Product
product-section-title: Section title
stage-topline: Allianz <em class="u-text-weight-semibold">Product title</em>
stage-headline: Headline for <em class="u-text-weight-bold">stage layouts</em>
stage-highlight: <em class="u-text-weight-bold">XX% off</em> new policies&nbsp;online*
stage-button-text: Get Quote
stage-button-link: #
stage-copy: Curabitur eu rhoncus turpis. Aenean nec malesuada tortor. In maximus ligula ut faucibus tincidunt. Vivamus at pretium tellus, quis sodales nulla. Vestibulum finibus mi a lorem tempus, sodales turpis.
stage-terms: <span class="ai-terms">*Minimum premium of &euro;284 applies. The premium reduction does not apply to the personal accident, personal effects, windscreen cover or breakdown assistance&nbsp;options.</span>
---

<div class="l-grid l-grid--max-width u-margin-top-lg">
    <div class="l-grid__row">
        <div class="l-grid__column-12">
            <h2 class="c-heading u-text-weight-semibold u-margin-bottom-s">AI NDBX Product Stage Images</h2>
            <hr class="c-divider u-margin-top-m u-margin-bottom-m" aria-hidden="true" />
        </div>
    </div>
</div>

<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
            <h2><strong class="t-rich-blue">CAR</strong> Product Group</h2>
        </div>
    </div>
</div>
<div class="car">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-car-01</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-car-01.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-car-02</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-car-02.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-taxi-01</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-taxi-01.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-taxi-01-dark</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio c-stage--negative-text">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-taxi-01-dark.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-taxi-02</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-taxi-02.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-van-01</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-van-01.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-van-01-alt</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-van-01-alt.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
            <hr class="c-divider">
            <h2><strong class="t-rich-red">HOME</strong> Product Group</h2>
        </div>
    </div>
</div>
<div class="home">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-home-01</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-home-01.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-home-02</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-home-02.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-renters-01</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-renters-01.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-renters-02</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-renters-02.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-landlord-01</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-landlord-01.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-landlord-02</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-landlord-02.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-holiday-home-01</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-holiday-home-01.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
            <hr class="c-divider">
            <h2><strong class="t-rich-olive">PET</strong> Product Group</h2>
        </div>
    </div>
</div>
<div class="pet">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-pet-01</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-pet-01.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-pet-02</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-pet-02.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <hr class="c-divider">
                <h2><strong class="t-rich-petrol">BOAT</strong> Product Group</h2>
            </div>
        </div>
    </div>
<div class="boat">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-boat-01</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-boat-01.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-boat-02</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-boat-02.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-travel-01</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-travel-01.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-travel-02</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-travel-02.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <hr class="c-divider">
                <h2><strong class="t-rich-grey">BUSINESS</strong> Product Group</h2>
            </div>
        </div>
    </div>
<div class="business">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-business-01</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-business-01.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-schools-01</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-schools-01.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-ppa-01</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-ppa-01.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <hr class="c-divider">
                <h2><strong class="t-process-info">MYALLIANZ</strong> Product Group</h2>
            </div>
        </div>
    </div>
<div class="myallianz">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-myallianz-01</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-myallianz-01.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-myallianz-02</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-myallianz-02.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <hr class="c-divider">
                <h2><strong class="t-vibrant-purple">CUSTOMER</strong> Product Group</h2>
            </div>
        </div>
    </div>
    <div class="customer">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
                <h5>stage-why-allianz-01</h5>
            </div>
        </div>
    </div>
    <div class="c-stage c-stage--landing c-stage--1by1dot4-ratio">
        <div class="c-stage__wrapper">
            <div class="c-stage__image-container">
                <picture class="c-image c-stage__image c-stage__image--cover">
                    <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-why-allianz-01.jpg" />
                </picture>
            </div>
            <div class="l-grid l-grid--max-width c-stage__content">
                <div class="l-grid__row c-stage__content__grid">
                    <div class="l-grid__column-large-8 offset-large-2 l-grid__column-medium-10 offset-medium-1">
                        <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                    </div>
                    <div class="l-grid__column-large-10 offset-large-1 l-grid__column-medium-12">
                        <h1 class="c-heading c-stage__headline u-text-weight-light">{{{stage-headline}}}</h1>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                        <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                        <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                    </div>
                    <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                        <a href="{{stage-button-link}}" class="c-button">{{stage-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>