---
layout: default
title: Component - Stage
product-style: car
product-specific: car
product-title: Product
product-section-title: Section title
product-slug: car-insurance
product-offer: <em class="u-text-weight-bold">Save 14%</em> on a new policy online&nbsp;today!
stage-bg-colour: t-bg-soft-nude-light
stage-image: stage-car-01
stage-illustration: ill-cover
stage-topline: Allianz <em class="u-text-weight-semibold">Product title</em>
stage-headline: Headline for <em class="u-text-weight-bold">stage layouts</em>
stage-highlight: <em class="u-text-weight-bold">14% off</em> new policies&nbsp;online*
stage-button-text: Get Quote
stage-button-link: #
stage-copy: Curabitur eu rhoncus turpis. Aenean nec malesuada tortor. In maximus ligula ut faucibus tincidunt. Vivamus at pretium tellus, quis sodales nulla. Vestibulum finibus mi a lorem tempus, sodales turpis.
stage-terms: <span class="ai-terms">*Minimum premium of &euro;284 applies. The premium reduction does not apply to the personal accident, personal effects, windscreen cover or breakdown assistance&nbsp;options.</span>
article-title: Energy saving tips for your home
article-author: Andrew Kelliher
article-date: April 16th, 2019
article-image: teaser-home-girl-on-tablet
---

<div class="l-grid l-grid--max-width u-margin-top-lg">
    <div class="l-grid__row">
        <div class="l-grid__column-12">
            <h2 class="c-heading u-text-weight-semibold u-margin-bottom-s">AI NDBX Stage Components</h2>
            <hr class="c-divider u-margin-top-m u-margin-bottom-m" aria-hidden="true" />
        </div>
    </div>
</div>
<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
            <h5>stage-carousel-homepage</h5>
        </div>
    </div>
</div> 
{{> stage-carousel-homepage}} 

<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
            <h5>stage-landing-master</h5>
        </div>
    </div>
</div>
{{> stage-landing-master}} 

<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
            <h5>stage-title-master</h5>
        </div>
    </div>
</div> 
{{> stage-title-master}} 

<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
            <h5>stage-title-icon-master</h5>
        </div>
    </div>
</div> 
{{> stage-title-icon-master}} 

<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
            <h5>stage-illustration-master</h5>
        </div>
    </div>
</div> 
{{> stage-illustration-master}} 

<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
            <h5>stage-content-master</h5>
        </div>
    </div>
</div> 
{{> stage-content-master}} 

<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
            <h5>stage-content-autoheight-master</h5>
        </div>
    </div>
</div>
{{> stage-content-autoheight-master}}

<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
            <h5>stage-blog-master</h5>
        </div>
    </div>
</div> 
{{> stage-blog-master}} 

<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
            <h5>stage-article-master</h5>
        </div>
    </div>
</div> 
{{> stage-article-master}} 

