---
layout: default
title: Component - Stage
---

<div class="l-grid l-grid--max-width u-margin-top-lg">
    <div class="l-grid__row">
        <div class="l-grid__column-12">
            <h2 class="c-heading u-text-weight-semibold u-margin-bottom-s">AI NDBX Stage Components</h2>
            <hr class="c-divider u-margin-top-m u-margin-bottom-m" aria-hidden="true" />
        </div>
    </div>
</div>
<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
            <h5>stage-carousel-homepage</h5>
        </div>
    </div>
</div> 
{{> stage-carousel-homepage}} 

<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
            <h5>stage-landing-car</h5>
        </div>
    </div>
</div>
{{> stage-landing-car}} 

<div class="l-grid l-grid--max-width">
    <div class="l-grid__row">
        <div class="l-grid__column-12 u-margin-top-lg u-margin-bottom-lg">
            <h5>stage-with-cutout-master</h5>
        </div>
    </div>
</div>
{{> stage-with-cutout-master}}