
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component - Teaser eKomi</title>
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#003781">
    <meta name="msapplication-TileColor" content="#003781">
    <meta name="theme-color" content="#ffffff">  </head>
<body>

    <div class="main-content-wrapper">
        
        <div class="l-grid l-grid--max-width u-margin-bottom-lg u-margin-top-lg">
            <div class="l-grid__column-12">
                <h2 class="c-heading "> Teaser eKomi Widget </h2>
            </div>
        </div>
        <div class="c-section l-container l-container--full-width t-bg-soft-nude-light">
            <div class="l-grid l-grid--max-width">
                <div class="l-grid__row justify-content-center">
                    <div class="l-grid__column-medium-10">
                        <div id="ekw138" class="pull-left clearfix">
                            <div class="seal-area pull-left">
                                <a href="http://www.ekomi.com" target="_blank"><img src="../assets/img/content/seal.png" title="eKomi *|seal_type|* seal Award" alt="eKomi *|seal_type|* seal"></a>
                            </div>
                            <div class="stars-white pull-right" onclick="window.open('*|ekomi_certificate_seo|*','_blank')">
                                <div class="stars-yellow" style="width:0*|filled_stars_computed_width|*px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="l-grid l-grid--max-width u-margin-bottom-lg u-margin-top-lg">
            <div class="l-grid__column-12">
                <h2 class="c-heading "> Teaser eKomi Rating </h2>
            </div>
        </div>
        <div class="l-container l-container--full-width t-bg-soft-blue-light">
            <div class="c-teaser-ekomi-rating  js-teaser-ekomi-rating l-grid l-grid--max-width">
                <div class="l-grid__row">
                    <div class="l-grid__column-large-10 offset-large-1 ">
                        <div class="c-teaser-ekomi-rating__wrapper" data-sub-headline="That&#39;s what clients said about us">
                            <div class="c-teaser-ekomi-rating__card-wrapper">
                                <div class="c-teaser-ekomi-rating__review-content">
                                    <div class="c-teaser-ekomi-rating__image-wrapper">
                                        <picture class="c-image c-teaser-ekomi-rating__image ">
                                            <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="../assets/img/content/seal.png" />
                                        </picture>
                                    </div>
                                    <div class="c-teaser-ekomi-rating__card-content">
                                        <div class="c-teaser-ekomi-rating__headline-wrapper">
                                            <p class="c-copy c-teaser-ekomi-rating__sub-headline">Allianz global customer satisfaction rating</p>
                                        </div>
                                        <div class="c-teaser-ekomi-rating__rating-group">
                                            <div class="c-teaser-ekomi-rating__rating">
                                                <p class="c-copy c-teaser-ekomi-rating__score">4,5&#x2F;5</p>
                                                <div class="c-teaser-ekomi-rating__stars">
                                                    <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="first-star-tip" aria-label="Rate one star out of five stars"></button>
                                                    <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="second-star-tip" aria-label="Rate two star out of five stars"></button>
                                                    <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="third-star-tip" aria-label="Rate three star out of five stars"></button>
                                                    <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="fourth-star-tip" aria-label="Rate four star out of five stars"></button>
                                                    <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="fifth-star-tip" aria-label="Rate five star out of five stars"></button>
                                                </div>
                                            </div>
                                            <p class="c-copy c-teaser-ekomi-rating__sub-info ">22 441 views</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-teaser-ekomi-rating__content-wrapper">
                                <p class="c-copy c-teaser-ekomi-rating__sub-headline">That&#39;s what clients said about us</p>
                                <div class="c-teaser-ekomi-rating__comments">
                                    <div class="c-teaser-ekomi-rating__comment-group">
                                        <div class="c-teaser-ekomi-rating__rating-group">
                                            <div class="c-teaser-ekomi-rating__stars">
                                                <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="first-star-tip" aria-label="Rate one star out of five stars"></button>
                                                <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="second-star-tip" aria-label="Rate two star out of five stars"></button>
                                                <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="third-star-tip" aria-label="Rate three star out of five stars"></button>
                                                <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="fourth-star-tip" aria-label="Rate four star out of five stars"></button>
                                                <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="fifth-star-tip" aria-label="Rate five star out of five stars"></button>
                                            </div>
                                            <p class="c-copy c-teaser-ekomi-rating__sub-info ">Arthur R., 07&#x2F;09&#x2F;2019</p>
                                        </div>
                                        <div class="c-teaser-ekomi-rating__text-wrapper">
                                            <span class="c-teaser-ekomi-rating__text">Total price was pretty accurate. Overall I’m satisfied and appreciate the service. Ipsium sibiture.</span>
                                        </div>
                                    </div>
                                    <div class="c-teaser-ekomi-rating__comment-group">
                                        <div class="c-teaser-ekomi-rating__rating-group">
                                            <div class="c-teaser-ekomi-rating__stars">
                                                <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="first-star-tip" aria-label="Rate one star out of five stars"></button>
                                                <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="second-star-tip" aria-label="Rate two star out of five stars"></button>
                                                <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="third-star-tip" aria-label="Rate three star out of five stars"></button>
                                                <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="fourth-star-tip" aria-label="Rate four star out of five stars"></button>
                                                <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="fifth-star-tip" aria-label="Rate five star out of five stars"></button>
                                            </div>
                                            <p class="c-copy c-teaser-ekomi-rating__sub-info ">Jean-Marie D., 05&#x2F;09&#x2F;2019</p>
                                        </div>
                                        <div class="c-teaser-ekomi-rating__text-wrapper">
                                            <span class="c-teaser-ekomi-rating__text">Easy, clear and extremely helpful. The prices were accurate and the process was simple aenean leo.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-teaser-ekomi-rating__link-wrapper">
                                    <a class="c-link c-link--block c-teaser-ekomi-rating__link" href='#' aria-label="Read all comments"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                                        <!-- Fix White Space issue
          --><span class="c-link__text">Read all comments</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="c-divider " aria-hidden="true" />
        <div class="l-grid l-grid--max-width u-margin-bottom-lg u-margin-top-lg">
            <div class="l-grid__column-12">
                <h2 class="c-heading "> Teaser eKomi Rating without Comments </h2>
            </div>
        </div>
        <div class="l-container l-container--full-width t-bg-soft-blue-light">
            <div class="c-teaser-ekomi-rating c-teaser-ekomi-rating--without-comments js-teaser-ekomi-rating l-grid l-grid--max-width">
                <div class="l-grid__row">
                    <div class="l-grid__column-large-10 offset-large-1 ">
                        <div class="c-teaser-ekomi-rating__wrapper" data-sub-headline="That&#39;s what clients said about us">
                            <div class="c-teaser-ekomi-rating__card-wrapper">
                                <div class="c-teaser-ekomi-rating__review-content" data-headline="High customer satisfaction with all Allianz services">
                                    <div class="c-teaser-ekomi-rating__image-wrapper">
                                        <picture class="c-image c-teaser-ekomi-rating__image ">
                                            <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="../assets/img/content/seal.png" />
                                        </picture>
                                    </div>
                                    <div class="c-teaser-ekomi-rating__card-content">
                                        <div class="c-teaser-ekomi-rating__headline-wrapper">
                                            <p class="c-copy c-teaser-ekomi-rating__sub-headline">Allianz global customer satisfaction rating</p>
                                        </div>
                                        <div class="c-teaser-ekomi-rating__rating-group">
                                            <div class="c-teaser-ekomi-rating__rating">
                                                <p class="c-copy c-teaser-ekomi-rating__score">4,5&#x2F;5</p>
                                                <div class="c-teaser-ekomi-rating__stars">
                                                    <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="first-star-tip" aria-label="Rate one star out of five stars"></button>
                                                    <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="second-star-tip" aria-label="Rate two star out of five stars"></button>
                                                    <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="third-star-tip" aria-label="Rate three star out of five stars"></button>
                                                    <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="fourth-star-tip" aria-label="Rate four star out of five stars"></button>
                                                    <button class="c-icon c-icon--star-o t-primary-action c-teaser-ekomi-rating__icon js-process-star-rating-item" aria-describedby="fifth-star-tip" aria-label="Rate five star out of five stars"></button>
                                                </div>
                                            </div>
                                            <p class="c-copy c-teaser-ekomi-rating__sub-info ">22 441 views</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-teaser-ekomi-rating__content-wrapper">
                                <p class="c-copy c-teaser-ekomi-rating__sub-headline">That&#39;s what clients said about us</p>
                                <h3 class="c-heading c-teaser-ekomi-rating__headline"> High customer satisfaction with all Allianz services </h3>
                                <div class="c-teaser-ekomi-rating__comments">
                                </div>
                                <div class="c-teaser-ekomi-rating__link-wrapper">
                                    <a class="c-link c-link--block c-teaser-ekomi-rating__link" href='#' aria-label="Read all comments"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span>
                                        <!-- Fix White Space issue
          --><span class="c-link__text">Read all comments</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="c-divider " aria-hidden="true" />    </div> 

<script src="../assets/js/app.js"></script>
</body>
</html>
