<div id="" role="presentation" class="c-accordion js-accordion c-accordion--light u-text-align-left">
    <div class="c-accordion__item-wrapper">
        <button role="heading" aria-expanded="false" class="js-accordion__trigger c-accordion__trigger safari_only" type="button">
            <span class="c-accordion__item-title">Accordion item title</span>
            <i class="c-accordion__chevron c-icon c-icon--chevron-down" aria-hidden="true"></i>
        </button>
        <div role="region" class="js-accordion__item-content c-accordion__item-content">
            <p class="c-copy c-accordion__item-text">Integer vel arcu lacinia ante tincidunt molestie at fringilla ipsum. Nam cursus metus non nunc consequat, ut consectetur nibh ornare. Duis egestas lectus eget nisl tincidunt interdum id ultricies nulla. Nam accumsan, odio quis vehicula viverra, quam lorem posuere justo, sed efficitur nisi sem id nibh. Aliquam non egestas lorem.</p>
        </div>
    </div>
    <div class="c-accordion__item-wrapper">
        <button role="heading" aria-expanded="false" class="js-accordion__trigger c-accordion__trigger safari_only" type="button">
            <span class="c-accordion__item-title">Accordion item title</span>
            <i class="c-accordion__chevron c-icon c-icon--chevron-down" aria-hidden="true"></i>
        </button>
        <div role="region" class="js-accordion__item-content c-accordion__item-content">
            <p class="c-copy c-accordion__item-text">Integer vel arcu lacinia ante tincidunt molestie at fringilla ipsum. Nam cursus metus non nunc consequat, ut consectetur nibh ornare. Duis egestas lectus eget nisl tincidunt interdum id ultricies nulla. Nam accumsan, odio quis vehicula viverra, quam lorem posuere justo, sed efficitur nisi sem id nibh. Aliquam non egestas lorem.</p>
        </div>
    </div>
    <div class="c-accordion__item-wrapper">
        <button role="heading" aria-expanded="false" class="js-accordion__trigger c-accordion__trigger safari_only" type="button">
            <span class="c-accordion__item-title">Accordion item title</span>
            <i class="c-accordion__chevron c-icon c-icon--chevron-down" aria-hidden="true"></i>
        </button>
        <div role="region" class="js-accordion__item-content c-accordion__item-content">
            <p class="c-copy c-accordion__item-text">Integer vel arcu lacinia ante tincidunt molestie at fringilla ipsum. Nam cursus metus non nunc consequat, ut consectetur nibh ornare. Duis egestas lectus eget nisl tincidunt interdum id ultricies nulla. Nam accumsan, odio quis vehicula viverra, quam lorem posuere justo, sed efficitur nisi sem id nibh. Aliquam non egestas lorem.</p>
        </div>
    </div>
</div>