<div class="c-message c-message--mobile-float c-message--info js-close">
    <div class="c-message__content">
        <em aria-hidden='true' class='c-message__item-icon c-icon c-icon--info-circle'></em>
        <p class="c-copy c-message--error"> <span class="u-highlighted">Please note:</span> This website uses cookies to optimize your experience. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
        <em aria-hidden='true' class='c-message__icon-close c-icon c-icon--close js-close-button'>
        </em>
    </div>
</div>