.c-popup-disclaimer {
  max-width: 730px;
}

.c-popup-disclaimer__content {
  height: 50vh;
  overflow-y: scroll;
  padding: 40px 40px 0 30px;

  @include media-breakpoint-up(medium) {
    padding: 40px 65px 0;
  }
}

.c-popup-disclaimer .c-heading--subsection-large {
  text-align: center;
  font-weight: $font-weight-light;
}

.c-popup-disclaimer .c-heading--subsection-xsmall {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  line-height: $line-height-medium;
  margin-bottom: 10px;
}

.c-popup-disclaimer__icon-wrapper {
  max-width: 150px;
  margin: 0 auto 20px;
}

.c-popup-disclaimer__actions {
  float: right;
  padding: 15px 0;
}

.c-popup-disclaimer .c-divider {
  margin: 20px 0 0 0;
}

.c-popup--disclaimer__copytext-headline {
  font-size: map-get($font-sizes, xs);
  line-height: map-get($line-heights, xs);
  letter-spacing: map-get($letter-spacings, xs);
}

.c-popup__body .c-popup--disclaimer__copytext {
  font-size: map-get($font-sizes, 3xs);
  line-height: map-get($line-heights, 2xs);
  margin-top: map-get($sizes, 2xs);
}

.c-popup__body .c-popup--disclaimer__copytext-subheadline {
  font-size: map-get($font-sizes, 3xs);
  line-height: map-get($line-heights, 2xs);
  margin-top: map-get($sizes, s);
  letter-spacing: map-get($letter-spacings, 2xs);
}

.c-popup__dialog--disclaimer {

  @include media-breakpoint-down(small) {
    height: auto;
    max-height: calc(100vh - #{2 * map-get($sizes, m)});
  }

  .c-popup__body {
    overflow-y: scroll;
    padding-bottom: map-get($sizes, 5xs);
  }

  .c-popup__link-pull-right {
    float: right;
  }
}

.c-popup--disclaimer__illustration-frame {
  margin-bottom: map-get($sizes, s);
  display: flex;
  justify-content: center;
}

.c-popup--disclaimer__illustration {
  width: 264px;
  height: calc(264px / 1.8);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  .c-image__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    width: auto;
    height: auto;
  }

  @include media-breakpoint-response(mobile) {
    width: 224px;
    height: calc(224px / 1.8);
  }
}

.c-popup--disclaimer__image {
  margin-top: map-get($sizes, s);
  width: 100%;
  height: auto;
  padding-top: calc(100% / 1.8);
  position: relative;
  overflow: hidden;
  .c-image__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
  }
}
