.c-popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;

  top: map-get($sizes, 5xs);
  bottom: map-get($sizes, 5xs);
  left: map-get($sizes, 5xs);
  right: map-get($sizes, 5xs);

  background-color: $c-black-shadow-light;
  overflow: auto;
  z-index: map_get($z-index, overlay);

  align-items: center;
  justify-content: center;
  &.isOpen {
    display: flex;
  }
  &.isClose {
    display : none;
  }
}

.c-popup__dialog {
  position: relative;
  width: 736px;
  max-height: calc(100vh - #{2 * map-get($sizes, 5xl)});
  animation-duration: .3s;
  animation-timing-function: ease;
  z-index: map-get($z-index, modal);

  background-color: map_get($color-basic, primary-white);
  border-radius: map-get($border-radius, s);
  box-shadow: map-get($shadows, l);

  display: flex;
  flex-direction: column;

  overflow: hidden;

  @include media-breakpoint-down(medium) {
    width: 640px;
  }

  @include media-breakpoint-down(small) {
    width: calc(100% - #{2 * map-get($sizes, 2xs)});
    height: auto;
    max-height: calc(100% - #{2 * map-get($sizes, 5xl)});
  }

  .c-popup__button-wrapper {
    text-align: center;
    width: 100%;
  }
}

.c-popup__header {
  padding: map-get($sizes, s) map-get($sizes, s) map-get($sizes, 5xs);

  &::after {
    display: block;
    content: "";
    clear: both;
  }

  .c-popup__move {
    color: map-get($color-primary-action, primary-action-dark);
    cursor: move;
    float: left;
  }
}

.c-popup__dialog {
  .c-heading {
    padding: map-get($sizes, 5xs) (map-get($sizes, xl) - map-get($sizes, 3m));
    font-size: map-get($font-sizes, 2m);
    line-height: map-get($line-heights, 2m);
    letter-spacing: map-get($letter-spacings, s);

    @include media-breakpoint-down(small) {
      padding: map-get($sizes, 5xs);
      font-size: map-get($font-sizes, m);
      line-height: map-get($line-heights, m);
    }
  }

  .c-button {
    margin: map-get($sizes, m) map-get($sizes, 5xs) map-get($sizes, 5xs);
  }
}

.c-popup__close,
.c-popup_drag {
  background-color: transparent;
  border: none;
  color: map-get($color-grey-tones, grey-tone-3);
  cursor: pointer;
  float: right;
  font-size: map-get($font-sizes, s);

  &:focus {
    [data-whatinput="mouse"] & {
      outline: none;
    }

    color: map-get($color-functional, accessibility);
  }
}

.c-popup__body {
  padding: map-get($sizes, 5xs) map-get($sizes, 3m) map-get($sizes, 4m);

  .c-copy {
    margin: map-get($sizes, 5xs);
    margin-top: map-get($sizes, s);
  }

  @include media-breakpoint-down(small) {
    padding: map-get($sizes, 5xs) map-get($sizes, 2m) map-get($sizes, 4m);
  }
}

.c-popup__footer {
  // flex: 0 1 auto;
  padding: map-get($sizes, m) map-get($sizes, 3m);
  border-top: map-get($borders, xs) solid map_get($color-grey-tones, grey-tone-6);

  &::after {
    display: block;
    content: "";
    clear: both;
  }

  @include media-breakpoint-down(small) {
    padding: map-get($sizes, s) map-get($sizes, 2m);
  }
}

@keyframes modalEnter {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalLeave {
  from {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

.c-popup__dialog--transition-enter{
  animation-name: modalEnter;
}

.c-popup__dialog--transition-leave{
  animation-name: modalLeave;
}

.c-popup__footer .c-link {
  padding: map-get($sizes, 5xs);
  margin-right: map-get($sizes, 2m);
  font-size: map-get($font-sizes, 3xs);
  line-height: map-get($line-heights, 2xs);
  letter-spacing: map-get($letter-spacings, 2m);

  .c-link__icon:before {
    margin: map-get($sizes, 5xs) map-get($sizes, 2xs) map-get($sizes, 5xs) map-get($sizes, 5xs);
    font-size: map-get($font-sizes, s);
  }
}

.c-popup__footer .c-link:first-child {
  margin-right: map-get($sizes, 5xs);
}
