.c-progress-bar {
  &.c-progress-bar--substeps {

    .c-progress-bar__items {
      display: flex;
      @include media-breakpoint-response(mobile) {
        display: none;
      }
    }

    // atom(x): c-copy
    .c-progress-bar__description-text {
      text-align: center;
      font-weight: map-get($font-weight, regular);
      margin: 0;
    }
    
    .c-progress-bar__item {
      margin-right: map-get($sizes, s);
      display: flex;
      flex: none;
      align-items: center;
      color: map-get($color-grey-tones, grey-tone-6);

      .c-progress-bar__text {
        margin: map-get($sizes, 5xs);
      }

      &:before { // Step number circle
        content: attr(data-step);
        display: inline-block;
        width: map-get($sizes, m);
        height: map-get($sizes, m);
        margin-right: map-get($sizes, 2xs);
        box-sizing: border-box;
        font-size: map-get($font-sizes, 4xs);
        line-height: map-get($line-heights, 3xs);
        letter-spacing: map-get($letter-spacings, xs);
        font-weight: map-get($font-weight, bold);
        text-align: center;
        
        background: map-get($color-basic, "primary-white");
        border: map-get($borders, m) solid map-get($color-grey-tones, grey-tone-6);
        border-radius: 50%;
        flex: none;
      }
    }

    .c-progress-bar__item:last-child {
      margin-right: map-get($sizes, 5xs);
    }

    .c-progress-bar__progress {
      display: none;
      margin-left: map-get($sizes, 2xs);
      flex: 1;
    }

    .c-progress-bar__wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      flex: 1 1 auto;
    }
    // State
    .c-progress-bar__item--active {
      color: map-get($color-primary-action, primary-action-dark);

      &:before {
        background: map-get($color-primary-action, primary-action-bright);
        color: map-get($color-basic, "primary-white");
        border-color: map-get($color-primary-action, primary-action-bright);
        @media screen and (-ms-high-contrast: active) {
          border-color: map-get($color-high-contrast, yellow);
        }
      }
    }

    .c-progress-bar__item--active.c-progress-bar__item--linear {
      flex: 1;
      .c-progress-bar__progress {
        display: inline;
      }
    }
  }
}
