<footer class="c-footer">
    <div class="c-footer__container">
        <hr class="c-divider c-divider--compact">
        {{> footer-super-ordinated-button}}
        {{> footer-actions}}
        {{> footer-navigation}}
        {{> footer-social}}
    </div>
    <div class="c-footer__container--curtain-panel">
        <div class="c-footer__curtain-panel js-footer-curtain-panel" data-trigger-by-class="c-footer__service--ai">
            <div class="l-grid l-grid--max-width c-footer__curtain-panel-grid--mobile">
                <div class="l-grid__row">
                    <div class="l-grid__column-medium-10 offset-medium-1">
                        <h2 class="c-heading c-heading--section u-text-weight-light c-footer__curtain-panel-headline">Why choose Allianz?</h2>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1">
                        <p class="c-copy c-footer__curtain-panel-copytext">A simple promise, built on TRUST is at the core of Allianz’s business. Allianz staff are committed to helping our policyholders and meeting their needs quickly and sensitively at a time of crisis.</p>
                        <button class="c-button c-footer__curtain-panel-button c-button--negative">About Allianz</button>
                    </div>
                </div>
            </div>
        </div>
        {{> footer-end}}
    </div>
</footer>