<footer class="c-footer">
    <div class="c-footer__container">
        <hr class="c-divider c-divider--compact">
        {{> footer-super-ordinated-button}}
        {{> footer-actions}}
        {{> footer-navigation}}
        {{> footer-social}}
    </div>
    <div class="c-footer__container--curtain-panel">
        <div class="c-footer__curtain-panel js-footer-curtain-panel" data-trigger-by-class="c-footer__service--ai">
            <div class="l-grid l-grid--max-width c-footer__curtain-panel-grid--mobile">
                <div class="l-grid__row">
                    <div class="l-grid__column-medium-10 offset-medium-1">
                        <h2 class="c-heading c-heading--section c-footer__curtain-panel-headline">{{{curtain-headline}}}</h2>
                    </div>
                    <div class="l-grid__column-medium-10 offset-medium-1">
                        <p class="c-copy c-footer__curtain-panel-copytext">{{{curtain-copy}}}</p>
                        <a href="{{curtain-button-link}}" class="c-button c-footer__curtain-panel-button c-button--negative">{{curtain-button-text}}</a>
                    </div>
                </div>
            </div>
        </div>
        {{> footer-end}}
    </div>
</footer>