<div class="c-header-spacer--landing">
    <header class="c-header">
        <div class="c-navigation">
            <div class="c-navigation--fixed">
                <div class="c-navigation__bar c-header__wrapper">
                    <a href="{{root}}{{country}}/" class="c-header__logo"><img alt="Logo" src="{{root}}assets/img/allianz-logo.png"></a>
                    <div class="c-header__landing">
                        <a class="c-link " href='#' aria-label=" "><span aria-hidden="true" class="c-link__icon c-icon c-icon--phone-o"></span><!-- Fix White Space issue --><span class="c-link__text"> </span><em class='u-text-weight-semibold'>{{> roi-tel-number}}</em></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>