<div class="c-stage c-stage--title {{stage-bg-colour}}">
    {{> breadcrumb-master}}
    <div class="c-stage__content l-grid l-grid--max-width u-padding-bottom-none">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-large-10">
                <h1 class="c-heading c-stage__headline">{{{stage-headline}}}</h1>
            </div>
            <div class="l-grid__column-large-8">
                <p class="c-copy">{{{stage-copy}}}</p>
            </div>
            <div class="l-grid__column-large-8">
                <picture class="c-image c-image--illustration">
                    <img class="c-image__img" src="{{root}}assets/img/illustration/{{stage-illustration}}" alt=""/>
                </picture>
            </div>
        </div>
    </div>
</div>