<div class="c-stage c-stage--article c-stage--negative">
    <div class="c-stage__wrapper">
        {{> breadcrumb-master}}
        <div class="c-stage__image-container">
            <picture class="c-image c-stage__image c-stage__image--cover">
                <img class="c-image__img" alt="" src="{{root}}assets/img/teaser/{{article-image}}.jpg" />
            </picture>
        </div>
        <div class="l-grid l-grid--max-width c-stage__content">
            <div class="l-grid__row justify-content-center">
                <div class="l-grid__column-medium-10">
                    <h1 class="c-heading c-stage__headline u-text-weight-light">{{article-title}}</h1>
                </div>
            </div>
            <div class="l-grid__row justify-content-center u-margin-top-2xs">
                <div class="l-grid__column-medium-fit c-stage__info__article">
                    <p class="c-copy c-stage__additional-info c-stage__additional-info--stage-text">by {{article-author}} | 2 min read</p>
                </div>
                <div class="l-grid__column-medium-fit c-stage__info__article justify-content-center">
                    <a class="c-link c-link--block" href='#' aria-label="2182"><span aria-hidden="true" class="c-link__icon c-icon c-icon--share"></span><!-- Fix White Space issue --><span class="c-link__text">2182</span></a>
                    <span class="c-icon-text c-link--block" aria-label="Read Later"><span aria-hidden="true" class="c-icon-text__icon c-icon c-icon--calendar"></span><!-- Fix White Space issue --><span class="c-link__text">{{article-date}}</span></span>
                </div>
                <div class="l-grid__column-medium-8 c-stage__button__grid u-margin-top-3m">
                    <a href="{{root}}{{country}}/blog/your-home/article-01.html" class="c-button c-button--secondary c-button--negative">Read Now</a>
                </div>
            </div>
            
        </div>
    </div>
</div>