<div class="c-stage c-stage--content-page">
    <div class="c-stage__wrapper">
        {{> breadcrumb-master}}
        <div class="c-stage__image-container">
            <picture class="c-image c-stage__image">
                <img class="c-image__img" alt="" src="{{root}}assets/img/stage/{{stage-image}}.jpg" />
            </picture>
        </div>
        <div class="l-grid l-grid--max-width c-stage__content">
            <div class="l-grid__row c-stage__content__grid">
                <div class="l-grid__column-large-8 offset-large-2">
                    <h4 class="c-heading c-stage__topline">{{{stage-topline}}}</h4>
                </div>
                <div class="l-grid__column-large-10 offset-large-1">
                    <h1 class="c-heading c-stage__headline">{{{stage-headline}}}</h1>
                </div>
                <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                    <p class="c-copy">{{{stage-copy}}}</p>
                </div>
                <div class="l-grid__column-medium-8 offset-medium-2 c-stage__button__grid">
                    <a href="#" class="c-button">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>