<div class="c-stage c-stage--with-navigation">
    <div class="c-carousel js-stage-with-navigation-carousel">
        <div class="c-carousel__wrapper">
            <div class="c-carousel__slide c-carousel__stage__slide u-flexible-ratio-small-down--1by1dot4 js-data-stage--with-navigation" data-label="Car Insurance" data-icon="c-icon c-icon--product-{{> icon-master-car}}">
                <div class="c-stage__image-container">
                    <picture class="c-image c-stage__image c-stage__image--cover">
                        <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-car-01.jpg" />
                    </picture>
                </div>
                <div class="c-stage__content l-grid l-grid--max-width">
                    <div class="c-stage__content__grid l-grid__row">
                        <div class="l-grid__column-large-8 offset-large-2">
                            <h4 class="c-heading c-stage__topline">Drive confidently with</h4>
                        </div>
                        <div class="l-grid__column-large-10 offset-large-1">
                            <h1 class="c-heading c-heading--bold-cap c-stage__headline js-extra-height-headline"> Allianz <em class="t-rich-blue">Car Insurance</em></h1>
                        </div>
                        <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                            <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">
                                <em class="t-rich-blue u-text-weight-bold">14% off</em> new policies&nbsp;online* </h3>
                            <p class="c-terms c-copy c-copy--medium">{{> roi-terms-car}}</p>
                        </div>
                        <div class="c-stage__button__grid l-grid__column-medium-8 offset-medium-2">
                            <button class="c-button">Get a quote</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-carousel__slide c-carousel__stage__slide u-flexible-ratio-small-down--1by1dot4 js-data-stage--with-navigation" data-label="Home Insurance" data-icon="c-icon c-icon--product-{{> icon-master-home}}">
                <div class="c-stage__image-container">
                    <picture class="c-image c-stage__image c-stage__image--cover">
                        <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-renters-02.jpg" />
                    </picture>
                </div>
                <div class="c-stage__content l-grid l-grid--max-width">
                    <div class="c-stage__content__grid l-grid__row">
                        <div class="l-grid__column-large-8 offset-large-2">
                            <h4 class="c-heading c-stage__topline">Protect your home</h4>
                        </div>
                        <div class="l-grid__column-large-10 offset-large-1">
                            <h1 class="c-heading c-heading--bold-cap c-stage__headline js-extra-height-headline"> Allianz <em class="t-rich-red">Home Insurance</em></h1>
                        </div>
                        <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                            <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">
                                <em class="t-rich-red u-text-weight-bold">15% off</em> new policies&nbsp;online* </h3>
                            <p class="c-terms c-copy c-copy--medium">{{> roi-terms-home}}</p>
                        </div>
                        <div class="c-stage__button__grid l-grid__column-medium-8 offset-medium-2">
                            <button class="c-button">Get a quote</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-carousel__slide c-carousel__stage__slide u-flexible-ratio-small-down--1by1dot4 js-data-stage--with-navigation" data-label="Pet Insurance" data-icon="c-icon c-icon--product-{{> icon-master-pet}}">
                <div class="c-stage__image-container">
                    <picture class="c-image c-stage__image c-stage__image--cover">
                        <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-pet-02.jpg" />
                    </picture>
                </div>
                <div class="c-stage__content l-grid l-grid--max-width">
                    <div class="c-stage__content__grid l-grid__row">
                        <div class="l-grid__column-large-8 offset-large-2">
                            <h4 class="c-heading c-stage__topline">Protect your best friend</h4>
                        </div>
                        <div class="l-grid__column-large-10 offset-large-1">
                            <h1 class="c-heading c-heading--bold-cap c-stage__headline js-extra-height-headline"> Allianz <em class="t-rich-olive">Pet Insurance</em></h1>
                        </div>
                        <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                            <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">
                                <em class="t-rich-olive u-text-weight-bold">10% off</em> new policies&nbsp;online* </h3>
                            <p class="c-terms c-copy c-copy--medium">{{> roi-terms-pet}}</p>
                        </div>
                        <div class="c-stage__button__grid l-grid__column-medium-8 offset-medium-2">
                            <button class="c-button">Get a quote</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-carousel__slide c-carousel__stage__slide u-flexible-ratio-small-down--1by1dot4 js-data-stage--with-navigation" data-label="MyAllianz" data-icon="c-icon c-icon--product-{{> icon-master-myallianz}}">
                <div class="c-stage__image-container">
                    <picture class="c-image c-stage__image c-stage__image--cover">
                        <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-myallianz-01.jpg" />
                    </picture>
                </div>
                <div class="c-stage__content l-grid l-grid--max-width">
                    <div class="c-stage__content__grid l-grid__row">
                        <div class="l-grid__column-large-8 offset-large-2">
                            <h4 class="c-heading c-stage__topline">Take control with</h4>
                        </div>
                        <div class="l-grid__column-large-10 offset-large-1">
                            <h1 class="c-heading c-heading--bold-cap c-stage__headline js-extra-height-headline"> Secure <em class="t-primary-brand">MyAllianz</em></h1>
                        </div>
                        <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                            <p class="c-copy c-copy--large">Curabitur eu rhoncus turpis. Aenean nec malesuada tortor. In maximus ligula ut faucibus tincidunt.</p>
                        </div>
                        <div class="c-stage__button__grid l-grid__column-medium-8 offset-medium-2">
                            <button class="c-button">Got to MyAllianz</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-carousel__slide c-carousel__stage__slide u-flexible-ratio-small-down--1by1dot4 js-data-stage--with-navigation" data-label="Why Allianz?" data-icon="c-icon c-icon--product-{{> icon-master-whyallianz}}">
                <div class="c-stage__image-container">
                    <picture class="c-image c-stage__image c-stage__image--cover">
                        <img class="c-image__img" alt="" src="{{root}}assets/img/stage/stage-why-allianz-01.jpg" />
                    </picture>
                </div>
                <div class="c-stage__content l-grid l-grid--max-width">
                    <div class="c-stage__content__grid l-grid__row">
                        <div class="l-grid__column-large-8 offset-large-2">
                            <h4 class="c-heading c-stage__topline">Learn why you should</h4>
                        </div>
                        <div class="l-grid__column-large-10 offset-large-1">
                            <h1 class="c-heading c-heading--bold-cap c-stage__headline js-extra-height-headline"> Choose <em class="t-primary-brand">Allianz</em></h1>
                        </div>
                        <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                            <p class="c-copy c-copy--large">Curabitur eu rhoncus turpis. Aenean nec malesuada tortor. In maximus ligula ut faucibus tincidunt.</p>
                        </div>
                        <div class="c-stage__button__grid l-grid__column-medium-8 offset-medium-2">
                            <button class="c-button">Why Allianz?</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-grid l-grid--max-width">
            <div class="l-grid__row">
                <div class="c-stage__navigation__grid c-stage__navigation__grid--round l-grid__column-large-10 offset-large-1">
                    <div class="c-icon-navigation c-icon-navigation--rounded-icons c-stage__navigation--circle justify-content-center"></div>
                </div>
            </div>
        </div>
    </div>
</div>