<div class="c-stage c-stage--article">
    <div class="c-stage__wrapper">
        <div class="l-grid l-grid--max-width u-hidden-small-down">
            <div class="l-grid__row">
                <div class="l-grid__column-12">
                    <div class="c-stage__breadcrumb">
                        <nav aria-label="Breadcrumbs" class="c-breadcrumb c-breadcrumb--negative u-hidden-small-down u-text-left">
                            <span class="u-aria-only">You are here:</span>
                            <ul class="c-breadcrumb__list">
                                <li class="c-breadcrumb__item">
                                    <a class="c-breadcrumb__link " href="{{root}}{{country}}/">Home</a>
                                </li>
                                <li class="c-breadcrumb__item">
                                    <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                    <a class="c-breadcrumb__link " href="{{root}}{{country}}/blog/">Blog</a>
                                </li>
                                <li class="c-breadcrumb__item">
                                    <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                    <a class="c-breadcrumb__link is-active" href="#">{{category-title}}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-stage__image-container">
            <picture class="c-image c-stage__image">
                <img class="c-image__img" alt="useful description of image if informative and not decoration only." src="{{root}}assets/img/teaser/{{article-image}}.jpg" />
            </picture>
        </div>
        <div class="l-grid l-grid--max-width c-stage__content">
            <div class="l-grid__row">
                <div class="l-grid__column-medium-10 offset-medium-1">
                    <h1 class="c-heading c-heading--page c-stage__headline u-text-weight-light">{{article-title}}</h1>
                </div>
            </div>
            <div class="l-grid__row justify-content-center u-margin-top-0">
                <div class="l-grid__column-medium-fit c-stage__info__article">
                    <p class="c-copy c-stage__additional-info c-stage__additional-info--stage-text">by {{article-author}} | 2 min read</p>
                </div>
                <div class="l-grid__column-medium-fit c-stage__info__article justify-content-center">
                    <a class="c-link c-link--block" href='#' aria-label="2182"><span aria-hidden="true" class="c-link__icon c-icon c-icon--share"></span><!-- Fix White Space issue --><span class="c-link__text">2182</span></a>
                    <span class="c-link c-link--block c-link--black" aria-label="Read Later"><span aria-hidden="true" class="c-link__icon c-icon c-icon--calendar"></span><!-- Fix White Space issue --><span class="c-link__text">{{article-date}}</span></span>
                </div>
            </div>
        </div>
    </div>
</div>