
<div class="c-stage c-stage--cutout {{bg-colour-stage}}">
    <div class="c-stage__wrapper">
        <div class="l-grid l-grid--max-width c-stage__breadcrumb u-hidden-small-down">
            <div class="l-grid__row">
                <div class="l-grid__column-12">
                    <nav aria-label="Breadcrumbs" class="c-breadcrumb u-hidden-small-down u-text-left">
                        <span class="u-aria-only">You are here:</span>
                        <ul class="c-breadcrumb__list">
                            <li class="c-breadcrumb__item">
                                <a class="c-breadcrumb__link " href="#">Home</a>
                            </li>
                            <li class="c-breadcrumb__item">
                                <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                <a class="c-breadcrumb__link " href="#">{{product-title}}</a>
                            </li>
                            <li class="c-breadcrumb__item">
                                <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                <a class="c-breadcrumb__link is-active" href="#">Cover details</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="l-grid l-grid--max-width c-stage__content u-padding-bottom-none">
            <div class="l-grid__row c-stage__content__grid">
                <div class=" l-grid__column-large-10 offset-large-1">
                    <h1 class="c-heading c-stage__headline">{{{stage-headline}}}</h1>
                </div>
                <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                    <p class="c-copy" >Pellentesque vitae lobortis turpis. Phasellus eu velit purus. Vestibulum id consectetur risus. Aenean tincidunt velit id facilisis dignissim.</p>
                </div>
                <div class="l-grid__column-large-12">
                    <picture class="c-image c-stage__cutout-image">
                        <img class="c-image__img c-image__ill" src="{{root}}assets/img/illustration/ill-cover.png" alt=""  />
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>