<div class="c-stage c-stage--title {{stage-bg-colour}}">
    {{> breadcrumb-master}}
    <div class="c-stage__content l-grid l-grid--max-width">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-large-10">
                <i class="c-icon c-icon--m c-icon--centered u-margin-bottom-s t-bg-white t-primary-action-dark c-icon--fill c-icon--product-{{stage-icon}}"></i>
                <h1 class="c-heading">{{{stage-headline}}}</h1>
            </div>
            <div class="l-grid__column-large-8">
                <p class="c-copy u-margin-bottom-0">{{{stage-copy}}}</p>
            </div>
        </div>
    </div>
</div>