
<div class="c-stage c-stage--cutout {{stage-bg-colour}}">
    <div class="c-stage__wrapper">
        {{> breadcrumb-master}}
        <div class="l-grid l-grid--max-width c-stage__content">
            <div class="l-grid__row c-stage__content__grid">
                <div class=" l-grid__column-large-10 offset-large-1">
                    <h1 class="c-heading c-stage__headline">{{{stage-headline}}}</h1>
                </div>
                <div class="l-grid__column-large-12">
                    <picture class="c-image c-stage__cutout-image">
                        <img class="c-image__img" alt="" src="{{root}}assets/img/content/{{stage-cutout}}.png" />
                    </picture>
                </div>
                <div class="l-grid__column-medium-10 offset-medium-1 l-grid__column-large-8 offset-large-2">
                    <h3 class="c-heading c-stage__highlight-text u-text-weight-bold">{{{stage-highlight}}}</h3>
                    <p class="c-copy c-copy--medium">{{{stage-terms}}}</p>
                </div>
                <div class="l-grid__column-12 c-stage__button__grid">
                    <a href="{{stage-button-link}}" class="c-button u-margin-bottom-0">{{stage-button-text}}</a>
                </div>
            </div>
        </div>
    </div>
</div>