<div class="c-stage c-stage--cutout {{bg-colour-faqs}}">
    <div class="c-stage__wrapper">
        <div class="l-grid l-grid--max-width c-stage__breadcrumb u-hidden-small-down">
            <div class="l-grid__row">
                <div class="l-grid__column-12">
                    <nav aria-label="Breadcrumbs" class="c-breadcrumb u-hidden-small-down u-text-left">
                        <span class="u-aria-only">You are here:</span>
                        <ul class="c-breadcrumb__list">
                            <li class="c-breadcrumb__item">
                                <a class="c-breadcrumb__link " href="#">Home</a>
                            </li>
                            <li class="c-breadcrumb__item">
                                <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                <a class="c-breadcrumb__link " href="#">{{product-title}}</a>
                            </li>
                            <li class="c-breadcrumb__item">
                                <i class="c-icon c-icon--chevron-right" aria-hidden="true"></i>
                                <a class="c-breadcrumb__link is-active" href="#">FAQs</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="l-grid l-grid--max-width c-stage__content u-padding-bottom-none">
            <div class="l-grid__row c-stage__content__grid">
                <div class=" l-grid__column-large-10 offset-large-1">
                    <i class="c-icon c-icon--m c-icon--centered u-margin-bottom-s t-bg-white t-primary-action-dark c-icon--fill c-icon--product-{{> icon-master-faqs}}"></i>
                    <h1 class="c-heading c-stage__headline">{{product-title}} FAQs</h1>
                </div>
            </div>
        </div>
    </div>
</div>