.c-radio {
  user-select: none;

  &--small {
    width: 20px;
  }
}

.c-radio__input {
  opacity: 0;
  position: absolute;

  &:focus + .c-radio__label {
    [data-whatinput="keyboard"] & {
      box-shadow: map-get($sizes, 5xs) map-get($sizes, 2xs) map-get($sizes, s) map-get($sizes, 5xs) rgba(map-get($color-basic, primary-black), 0.5);
      padding-top: map-get($sizes, 2xs);
      padding-left: map-get($sizes, xs);
      padding-right: map-get($sizes, s);
      padding-bottom: map-get($sizes, 2xs);
      border-radius: map-get($border-radius, s);
      margin-top: - map-get($sizes, 2xs);
      margin-left: - map-get($sizes, xs);
      margin-right: - map-get($sizes, s);
      margin-bottom: - map-get($sizes, 2xs);
    }
  }
}


@media screen and (-ms-high-contrast: active) {
  .c-radio__input:focus + .c-radio__label {
    color: map-get($color-high-contrast, "white");
  }

  .c-radio__input:checked + .c-radio__label:before {
    background-color: map-get($color-high-contrast, "yellow");
  }

  .c-radio__label {
    color: map-get($color-high-contrast, "yellow");
  }

  .c-radio__input:focus:checked + .c-radio__label:before {
    background-color: map-get($color-high-contrast, "white");
  }
}

.c-radio__label {
  color: map-get($color-grey-tones, grey-tone-1);
  cursor: pointer;
  display: flex;
  font-size: map-get($font-sizes, 3xs);
}

.c-radio__text {
  display: inline-flex;
  vertical-align: middle;
  position: relative;
  letter-spacing: map-get($letter-spacings, 2xs);
  line-height: map-get($line-heights, 2xs);
}


.c-radio__input + .c-radio__label {

  &:before {
    border: map-get($borders, m) solid map-get($color-primary-action, primary-action-bright);
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: map-get($sizes, m);
    width: map-get($sizes, m);
    margin-right: map-get($sizes, xs);
    transition: background-color .2s ease;
    vertical-align: middle;
    min-width: map-get($sizes, m);
  }
}

.c-radio__input:checked + .c-radio__label {
  &:before {
    background: map-get($color-primary-action , primary-action-bright);
    background-clip: content-box;
    box-sizing: content-box;
    height: map-get($sizes, 2xs);
    width: map-get($sizes, 2xs);
    min-width: map-get($sizes, 2xs);
    padding: (map-get($sizes, m) - map-get($sizes, xs)) / 2;
  }
}

.c-radio__input:disabled + .c-radio__label {
  cursor: not-allowed;

  .c-radio__text {
    color: map-get($color-grey-tones, grey-tone-5);
  }

  &:before {
    border-color: map-get($color-grey-tones, grey-tone-5);
  }
}

.c-radio__input:checked:disabled + .c-radio__label {

  .c-radio__text {
    color: map-get($color-grey-tones, grey-tone-5);
  }

  &:before {
    background: map-get($color-grey-tones, grey-tone-5);
    background-clip: content-box;
  }
}

// big radiobuttons
.c-radio--big .c-radio__label {
  font-size: map-get($font-sizes, xs);
  display: inline-block;
  align-items: center;
}

.c-radio--big .c-radio__text {
  position: relative;
  line-height: map-get($line-heights, xs);
  letter-spacing: map-get($letter-spacings, xs);
}


// negative version of radiobuttons
.c-radio--negative .c-radio__input {

  &:focus + .c-radio__label {
    color: map-get($color-basic, primary-white);
  }
}

.c-radio--negative .c-radio__label {
  color: map-get($color-basic, primary-white);

  &:before {
    border: map-get($borders, m) solid;
  }
}

.c-radio--negative .c-radio__input + .c-radio__label {
  &:hover {
    color: map-get($color-basic, primary-white);
  }
}

.c-radio--negative .c-radio__input:checked + .c-radio__label {
  &:before {
    background: map-get($color-basic , primary-white);
    background-clip: content-box;
  }
}

.c-radio--negative .c-radio__input:disabled + .c-radio__label {
  &:before {
    border: map-get($borders, m) solid rgba(map-get($color-basic, primary-white), 0.4);
  }
  .c-radio__text {
    color: rgba(map-get($color-basic, primary-white), 0.4);
  }
}

.c-radio--negative .c-radio__input:checked:disabled + .c-radio__label {
  &:before {
    background: rgba(map-get($color-basic, primary-white), 0.4);
    background-clip: content-box;
  }
  .c-radio__text {
    color: rgba(map-get($color-basic, primary-white), 0.4);
  }
}

// dark version of radiobuttons
.c-radio.c-radio--dark .c-radio__label {
  color: map-get($color-grey-tones, grey-tone-1);
}
