.c-stepper__control {
  border: map-get($borders, m) solid transparent;
  padding: map-get($sizes, 3xs) - map-get($borders, m);
  border-radius: map-get( $border-radius , s);
  background: transparent;
  border-color: map-get($color-primary-action, primary-action-bright);
  color: map-get($color-primary-action, primary-action-dark);
  transition: background-color .2s ease, border-color .2s ease, color .2s ease, box-shadow .2s ease;
  cursor: pointer;

  .c-icon {
    display: block;
    font-size: map-get($sizes, m);
    width: map-get($sizes, m);
    height: map-get($sizes, m);
  }

  &:hover {
    background-color: map-get($color-primary-action, primary-action-darker);
    border-color: map-get($color-primary-action, primary-action-darker);
    color: map-get($color-basic, primary-white);
  }

  &:active {
    background-color: map-get($color-basic, primary-brand);
    border-color: map-get($color-basic, primary-brand);
    box-shadow: none;
    color: map-get($color-basic, primary-white);
  }


  &:disabled {
    background-color: transparent;
    color: rgba(map-get($color-primary-action, primary-action-dark), 0.4);
    border-color: rgba(map-get($color-primary-action, primary-action-bright), 0.4);
    cursor: not-allowed;
  }

  &:focus {
    outline: map-get($borders, m ) solid transparent;
    // show a specific focus stil only when the keyboard is involved.
    [data-whatinput="keyboard"] & {
      background-color: map-get($color-functional, accessibility);
      border-color: map-get($color-functional, accessibility);
      box-shadow: map-get($shadows, l );
      color: map-get($color-basic, primary-white);
    }
  }
}


.c-stepper__label {
  display: flex;
  font-size: map-get( $font-sizes, xs );
  line-height: map-get( $line-heights, xs );
  letter-spacing: map-get($letter-spacings, xs);
  font-weight: map-get($font-weight, light);
  margin-bottom: map-get($sizes, s);

  .c-icon {
    font-size: map-get( $font-sizes, xs );
  }
}

.c-stepper__input-container {
  align-items: flex-end;
  display: flex;
}

.c-stepper__input {
  outline: 0; // Remove Input tag default
  border: 0; // Remove Input tag default
  width: map-get( $sizes, l );
  text-align: center;
  color: map-get( $color-grey-tones , grey-tone-1 );
  border-bottom: map-get( $borders , m ) solid map-get( $color-grey-tones , grey-tone-1 );
  font-size: map-get( $font-sizes, xs );
  line-height: map-get( $line-heights, xs );
  margin: 0 map-get( $sizes, s );
  letter-spacing: map-get($letter-spacings, xs );
  padding: map-get($sizes , 4xs ) map-get($sizes , 5xs ) map-get($sizes , 5xs )  map-get($sizes , 5xs );
  box-sizing: content-box;
  height: map-get($sizes, m) + map-get($borders, m) + map-get($sizes, 4xs);

  &:disabled {
    color: map-get( $color-grey-tones , grey-tone-5 );
    border-color: map-get( $color-grey-tones , grey-tone-5 );
    background-color: transparent;
  }
}

// Modifier
.c-stepper--big {
  .c-stepper__input {
    width: map-get( $sizes , 2xl );
    margin: map-get( $sizes , 5xs ) map-get( $sizes , m );
    font-size: map-get( $font-sizes , l );
    line-height: map-get( $line-heights , l );
    letter-spacing: map-get($letter-spacings, s );
    height: map-get($sizes, 4m );
    box-sizing: border-box;
  }

  .c-stepper__control {
    padding: map-get( $sizes, xs ) - map-get( $borders , m) map-get( $sizes, m ) - map-get( $borders , m );
  }
}

.c-stepper--negative {
  .c-stepper__control {
    color: map-get($color-basic, primary-white);
    border-color: map-get($color-basic, primary-white);

    &:hover {
      background-color: map-get($color-grey-tones, grey-tone-6);
      border-color: map-get($color-grey-tones, grey-tone-6);
      color:  map-get($color-primary-action, primary-action-dark);
    }

    &:disabled {
      background-color: transparent;
      border-color: rgba(map-get($color-basic, primary-white), 0.4);
      color: rgba(map-get($color-basic, primary-white), 0.4);
    }
  }

  .c-stepper__input {
    background-color: transparent;
    color: map-get($color-basic, primary-white);
    border-color: map-get($color-basic, primary-white);

    &:disabled {
      color: map-get($color-basic, primary-white);
      border-color: map-get($color-basic, primary-white);
      opacity: 0.4;
    }
  }

  .c-stepper__label {
    color: map-get($color-basic, primary-white);
  }
}
