.c-radio-circle {
    position: relative;
    justify-content: center;
}

.c-radio-circle__input-row {
    justify-content: center;
}

.c-radio-circle__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.c-radio-circle__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    min-width: map-get( $sizes, xl );
    margin-bottom: map-get($sizes, m);

    @include media-breakpoint-response(mobile) {
        margin-bottom: map-get($sizes, s);
    }   
}

.c-radio-circle__icon {
    display: flex;
    width: map-get( $sizes, 3xl );
    height: map-get( $sizes, 3xl );
    justify-content: center;
    align-items: center;
    border: map-get( $borders, m ) solid map-get($color-primary-action, primary-action-bright);
    border-radius: 50%;
    font-size: map-get( $font-sizes, s );
    color: map-get($color-primary-action, primary-action-dark);
    letter-spacing: map-get($letter-spacings, xs);
    line-height: map-get($line-heights, m);

    &.c-icon { // Icon Exclude text
        color: map-get($color-primary-action, primary-action-bright);
    }

    &::before { // Icon Sizing Only
        width: map-get( $sizes, 4m );
        font-size: map-get( $sizes, 4m );
        line-height: 1;
        @include media-breakpoint-response("mobile") {
            font-size: map-get( $sizes, 3m );
            width: map-get( $sizes, 3m );
            height: map-get( $sizes, 3m );
        }
    }

    @include media-breakpoint-response("mobile") {
        width: map-get( $sizes, xl );
        height: map-get( $sizes, xl );
        font-size: map-get( $font-sizes , xs);
        line-height: map-get($line-heights, xs);
    }
}

.c-radio-circle__text {
    display: block;
    color: map-get( $color-grey-tones , grey-tone-1 );
    font-size: map-get( $font-sizes , 3xs );
    font-weight: map-get($font-weight, regular);
    line-height: map-get( $line-heights , 2xs );
    margin-top: map-get( $sizes, xs );

    @include media-breakpoint-response("mobile") {
        line-height: map-get($line-heights, 3xs);
        margin-top: map-get($sizes, 2xs);
        font-size: map-get($font-sizes, 4xs);
        font-weight: map-get($font-weight, regular);
        letter-spacing: map-get($letter-spacings, xs);
    }
}

.c-radio-circle__label-info {
    line-height: map-get( $line-heights , 2xs );
    color: map-get( $color-grey-tones , grey-tone-1 );
    font-size: map-get( $font-sizes, 3xs );

    @include media-breakpoint-response("mobile") {
        line-height: map-get($line-heights, 3xs);
        font-weight: map-get($font-weight, light);
        letter-spacing: map-get($letter-spacings, xs);
        font-size: map-get($font-sizes, 4xs);
    }
}

.c-radio-circle__mobile-check {
    margin-right: map-get( $sizes, 2xs );
    display: none;
}

// State
.c-radio-circle__input:checked + .c-radio-circle__label {
    cursor: default;
    
    .c-radio-circle__icon {
        background-color: map-get($color-primary-action, primary-action-bright);
        border: 0;
        color: map-get($color-basic, primary-white);
    }
}

.c-radio-circle__label:hover {
    .c-radio-circle__icon {
        background-color: map-get($color-primary-action, primary-action-darker);
        border: 0;
        color: map-get($color-basic, primary-white);
    }
}

.c-radio-circle__label:active {
    .c-radio-circle__icon {
        background-color: map-get($color-basic, primary-brand);
        border-color: map-get($color-basic, primary-brand);
    }
}

.c-radio-circle__input:disabled + .c-radio-circle__label {
    .c-radio-circle__icon {
        border-color: rgba(map-get($color-primary-action, primary-action-bright), 0.4);
        color: rgba(map-get($color-primary-action, primary-action-dark), 0.4);
    }

    .c-radio-circle__text,
    .c-radio-circle__label-info {
        color: map-get($color-grey-tones, grey-tone-5);
    }
    pointer-events: none;
}

.c-radio-circle__input:disabled:checked + .c-radio-circle__label {
    .c-radio-circle__icon {
        background-color: rgba(map-get($color-primary-action, primary-action-bright), 0.4);
        color: rgba(map-get($color-basic, primary-white), 0.4);
    }
}

.c-radio-circle__input:focus + .c-radio-circle__label:after {
    [data-whatinput="keyboard"] & {
        top: - map-get($sizes, 4xs);
        left: 50%;
        transform: translateX(-50%);
        content: "";
        position: absolute;
        width: map-get($sizes, 3xl) + (2 * map-get($borders, m));
        height: map-get($sizes, 3xl) + (2 * map-get($borders, m));
        border: map-get($borders, m) solid map-get($color-basic, primary-white);
        border-radius: 50%;
        box-shadow: 0 0 0 map-get($borders, xl) map-get($color-functional, accessibility-focus-color);

        @include media-breakpoint-response("mobile") {
            width: map-get($sizes, xl) + (2 * map-get($borders, m));
            height: map-get($sizes, xl) + (2 * map-get($borders, m));
        }
    }
}

// Modifier
.c-radio-circle--bold-title {
    .c-radio-circle__text {
        font-weight: map-get($font-weight, bold);

        @include media-breakpoint-response("mobile") {
            font-weight: map-get($font-weight, regular);
        }
    }
}

.c-radio-circle--negative {
    .c-radio-circle__text {
        color: map-get($color-basic, primary-white);
    }

    .c-radio-circle__icon {
        color: map-get($color-basic, primary-white);
        border-color: map-get($color-basic, primary-white);

        &::before {
            color: map-get($color-basic, primary-white);
        }
    }

    .c-radio-circle__label-info {
        color: map-get($color-basic, primary-white);
    }

    // State
    .c-radio-circle__label:hover {
        .c-radio-circle__icon {
            background-color: map-get($color-grey-tones, grey-tone-6);
            border-color: map-get($color-grey-tones, grey-tone-6);
            color:  map-get($color-primary-action, primary-action-dark);
        }
        
        .c-radio-circle__icon::before {
            color:  map-get($color-primary-action, primary-action-bright);
        }
    }

    .c-radio-circle__label:active {
        .c-radio-circle__icon {
            background-color: map-get($color-grey-tones, grey-tone-5);
            border-color: map-get($color-grey-tones, grey-tone-5);
        }
    }

    .c-radio-circle__input:disabled + .c-radio-circle__label {
        .c-radio-circle__icon {
            border-color: rgba(map-get($color-basic, primary-white), 0.4);

            &::before {
                color: rgba(map-get($color-basic, primary-white), 0.4);
            }
        }

        .c-radio-circle__text,
        .c-radio-circle__label-info {
            color: rgba(map-get($color-basic, primary-white), 0.4);
        }
    }

    .c-radio-circle__input:checked + .c-radio-circle__label {
        .c-radio-circle__icon {
            background-color: map-get($color-basic, primary-white);
            color: map-get($color-primary-action, primary-action-dark);

            &::before {
                color:  map-get($color-primary-action, primary-action-bright);
            }
        }
    }

    .c-radio-circle__input:checked:disabled + .c-radio-circle__label {
        .c-radio-circle__icon {
            background-color: rgba(map-get($color-basic, primary-white), 0.4);
        }

        .c-radio-circle__icon:before {
            color: rgba(map-get($color-grey-tones, grey-tone-1), 0.3);
        }
    }

    .c-radio-circle__input:focus + .c-radio-circle__label:after {
        [data-whatinput="keyboard"] & {
            border: map-get($borders, xl) solid map-get($color-basic, primary-white);
        }
    }
}

.c-radio-circle--mobile-list {
    @include media-breakpoint-response("mobile") {
        margin: 0; // grid override

        .c-radio-circle__input-row {
            display: block;
        }

        .c-radio-circle__input-group {
            max-width: 100%;
        }

        .c-radio-circle__icon.c-icon  {
            display: none;
        }

        .c-radio-circle__icon {
            display: inline;
            border: 0;
            margin: 0;
        }
        
        .c-radio-circle__label {
            max-width: unset; // grid override
            display: block;
            width: 100%;
            padding: map-get($sizes, xs) map-get($sizes, 2m);
            border: map-get($borders, m) solid map-get($color-primary-action, primary-action-bright);
            border-top: 0;
            margin: 0;
        }

        .c-radio-circle__text {
            display: inline;
            color: map-get($color-primary-action, primary-action-dark);
            margin-right: map-get($sizes, 2xs);
            font-size: map-get( $font-sizes, 3xs);
            font-weight: map-get($font-weight, semibold);
            line-height: map-get($line-heights, 2xs);
            letter-spacing: map-get($letter-spacings, 2m);
        }

        .c-radio-circle__label-info {
            color: map-get($color-primary-action, primary-action-dark);
            font-size: map-get( $font-sizes, 4xs );
            font-weight: map-get( $font-weight, light );

            &::before {
                content: "(";
            }
            
            &::after {
                content: ")";
            }
        }
        
        .c-radio-circle__input-group:first-child .c-radio-circle__label {
            border-top: map-get( $borders, m ) solid map-get($color-primary-action, primary-action-bright); 
            border-radius: map-get( $border-radius , s ) map-get( $border-radius , s ) 0 0; 
        }

        .c-radio-circle__input-group:last-child .c-radio-circle__label {
            border-radius: 0 0 map-get($border-radius, s) map-get($border-radius, s); 
        }

        // State
        .c-radio-circle__input-group .c-radio-circle__label:hover {
            background-color: map-get($color-primary-action, primary-action-darker);
            border-color: transparent;

            .c-radio-circle__text,
            .c-radio-circle__label-info {
                color: map-get($color-basic, primary-white);
            }
        }

        .c-radio-circle__input:focus + .c-radio-circle__label:after {
            [data-whatinput="keyboard"] & {
                @include media-breakpoint-response("mobile") {
                    display: none;
                }
            }
        }

        .c-radio-circle__input-group .c-radio-circle__label:active {
            border-color: transparent;
            background-color: map-get($color-basic, primary-brand);
        }

        .c-radio-circle__input:checked + .c-radio-circle__label:hover,
        .c-radio-circle__input:checked + .c-radio-circle__label {
            background-color: map-get($color-primary-action, primary-action-bright);
            color: map-get($color-basic, primary-white);
            border-color: transparent;

            .c-radio-circle__mobile-check {
                color: map-get($color-basic, primary-white);
                vertical-align: bottom;
                display: inline-block;
            }

            .c-radio-circle__text {
                color: map-get($color-basic, primary-white);
            }

            .c-radio-circle__label-info {
                color: map-get($color-basic, primary-white);
            }
        }

        .c-radio-circle__input:disabled + .c-radio-circle__label {
            border-color: rgba(map-get($color-primary-action, primary-action-bright), 0.4);
            
            .c-radio-circle__text,
            .c-radio-circle__label-info {
                color: rgba(map-get($color-primary-action, primary-action-dark), 0.4);
            }
        }

        .c-radio-circle__input:disabled:checked + .c-radio-circle__label {
            border: transparent;
            background-color: rgba(map-get($color-primary-action, primary-action-bright), 0.4);
            
            .c-radio-circle__mobile-check,
            .c-radio-circle__text,
            .c-radio-circle__label-info {
                color: rgba(map-get($color-basic, primary-white), 0.4);
            }
        }
        
        &.c-radio-circle--negative {
            .c-radio-circle__label,
            .c-radio-circle__label:last-child {
                border-color: map-get($color-basic, primary-white);
            }
    
            .c-radio-circle__text {
                color: map-get($color-basic, primary-white);
            }
    
            .c-radio-circle__label-info {
                color: map-get($color-basic, primary-white);
            }

            // State
            .c-radio-circle__input:checked + .c-radio-circle__label {
                background-color: map-get($color-basic, primary-white);

                .c-radio-circle__mobile-check,
                .c-radio-circle__text,
                .c-radio-circle__label-info {
                    color: map-get($color-primary-action, primary-action-dark);
                }
            }
            
            .c-radio-circle__label:hover {
                background-color: map-get($color-grey-tones, grey-tone-6);
                border-color: map-get($color-grey-tones, grey-tone-6);
        
                .c-radio-circle__text,
                .c-radio-circle__label-info {
                    color:  map-get($color-primary-action, primary-action-dark);
                }
            }

            .c-radio-circle__label:active {
                background-color: map-get($color-grey-tones, grey-tone-5);
                border-color: map-get($color-grey-tones, grey-tone-5);
            }

            .c-radio-circle__input:disabled + .c-radio-circle__label {
                border-color: rgba(map-get($color-basic, primary-white), 0.4);

                .c-radio-circle__mobile-check,
                .c-radio-circle__text,
                .c-radio-circle__label-info {
                    color: rgba(map-get($color-basic, primary-white), 0.3);
                }
            }
            
            .c-radio-circle__input:checked:disabled + .c-radio-circle__label {
                background-color: rgba(map-get($color-basic, primary-white), 0.4);

                .c-radio-circle__mobile-check,
                .c-radio-circle__text,
                .c-radio-circle__label-info {
                    color: rgba(map-get($color-grey-tones, grey-tone-1), 0.3);
                }
            }
        }
    }
}
