.c-textarea__input {
  resize: vertical;
  height: auto;
}

.c-textarea {
  position: relative;
  padding-top: $floating-label-size-top;

  margin-top: 30px;  // 30px pixel away from each textarea
}

.c-textarea--negative {
  text-align: left;

  .c-textinput__label,
  .c-textinput__field {
    color: map-get($color-basic, primary-white);
    border-color: map-get($color-basic, primary-white);
  }

  .c-textinput__field--floating:focus ~ .c-textinput__label,
  .c-textinput__field:focus ~ .c-textinput__label--bottom {
    color: map-get($color-basic, primary-white);
  }

  .c-textinput__field {
    background: transparent;
  }

  .c-textinput__label--bottom {
    color: map-get($color-basic, primary-white);
  }
}