<div class="c-teaser-group l-grid l-grid--max-width">
  <div class="l-grid__row justify-content-center">
    <div class="l-grid__column-medium-10">
      <h3 class="c-heading c-teaser-group__headline u-text-center">Learn more about our <em class="u-text-weight-semibold">{{product-specific}} insurance</em></h3>
    </div>
  </div>
  <div class="c-teaser c-teaser--33-66">
    <div class="l-grid l-grid--max-width u-padding-none">
      <div class="c-teaser__link-area c-teaser__link-no-pointer" aria-label="More information about short description of teaser content">
        <div class="c-teaser__image-container">
          <picture class="c-image c-teaser__image c-image--bottom-center">
            <img class="c-image__img" alt="" src="{{root}}assets/img/teaser/teaser-car-lake.jpg" />
          </picture>
        </div>
        <div class="c-teaser__content t-bg-soft-blue-light">
          <p class="c-copy c-teaser__date">Subheadline / Date</p>
          <h3 class="c-heading c-teaser__headline">Headline title</h3>
          <p class="c-copy c-teaser__text">Curabitur eu rhoncus turpis. Aenean nec malesuada tortor. In maximus ligula ut faucibus tincidunt. Vivamus at pretium tellus, quis sodales nulla. Vestibulum finibus mi a lorem tempus, sodales turpis.</p>
          <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Read more</span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="c-teaser-group__row">
    <div class="c-teaser c-teaser--50-50">
      <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
        <picture class="c-image c-teaser__image u-hidden-medium-down">
          <img class="c-image__img c-teaser__image-img" alt="" src="{{root}}assets/img/teaser/teaser-faqs-hands-up.jpg" />
        </picture>
        <div class="c-teaser__content t-bg-soft-blue">
          <p class="c-copy c-teaser__date">Subheadline / Date</p>
          <h3 class="c-heading c-heading--subsection-medium c-teaser__headline">Headline title</h3>
          <ul class="c-list c-list--small c-teaser__list">
          </ul>
          <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Read more</span></span>
        </div>
      </a>
    </div>
    <div class="c-teaser c-teaser--50-50 c-teaser--negative">
      <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
        <picture class="c-image c-teaser__image u-hidden-medium-down">
          <img class="c-image__img c-teaser__image-img" alt="" src="{{root}}assets/img/teaser/teaser-breakdown-assist.jpg" />
        </picture>
        <div class="c-teaser__content t-bg-rich-blue">
          <p class="c-copy c-teaser__date">Subheadline / Date</p>
          <h3 class="c-heading c-heading--subsection-medium c-teaser__headline">Headline title</h3>
          <ul class="c-list c-list--small c-teaser__list">
          </ul>
          <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Read more</span></span>
        </div>
      </a>
    </div>
  </div>
</div>