<div class="c-teaser c-teaser--without-image t-bg-soft-mud-light">
    <div class="c-teaser__container u-padding-none">
        <div class="c-teaser__wrapper">
            <a href="#">
                <p class="c-copy c-teaser__date">Subheadline</p>
                <h5 class="c-heading c-teaser__headline">Headline title</h5>
                <p class="c-copy c-teaser__text">Curabitur eu rhoncus turpis. Aenean nec malesuada tortor. In maximus ligula ut faucibus tincidunt. Vivamus at pretium tellus, quis sodales nulla. Vestibulum finibus mi a lorem tempus, sodales turpis.</p>
            </a>
        </div>
        <div class="c-teaser__link-area">
            <a class="c-link c-teaser__link c-link--block" # aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Read more</span></a>
        </div>
    </div>
</div>

<div class="c-teaser c-teaser--without-image c-teaser--negative t-bg-rich-petrol">
    <div class="c-teaser__container u-padding-none">
        <div class="c-teaser__wrapper ">
            <a href="#">
                <p class="c-copy c-teaser__date">Subheadline</p>
                <h5 class="c-heading c-teaser__headline">Headline title</h5>
                <p class="c-copy c-teaser__text">Curabitur eu rhoncus turpis. Aenean nec malesuada tortor. In maximus ligula ut faucibus tincidunt. Vivamus at pretium tellus, quis sodales nulla. Vestibulum finibus mi a lorem tempus, sodales turpis.</p>
            </a>
        </div>
        <div class="c-teaser__link-area">
            <a class="c-link c-teaser__link c-link--block c-link--negative" # aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Read more</span></a>
        </div>
    </div>
</div>