<div class="c-section l-container l-container--full-width">
    <div class="l-grid l-grid--max-width u-padding-none-medium-down">
        <div class="c-carousel__two-column-main-container">
            <div class="c-carousel__two-column__header--center u-margin-top-0">
                <h3 class="c-heading">Have a look at our latest products. <br> We think you might like them.</h3>
            </div>
            <!-- Swiper -->
            <div class="js-carousel-two-column swiper-container c-carousel__two-column">
                <div class="swiper-wrapper">
                    <div class="swiper-slide c-carousel__two-column__slide">
                        <div class="c-teaser c-teaser--40-60-image-left">
                            <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                <div class="c-teaser__image-container">
                                    <picture class="c-image c-teaser__image ">
                                        <img class="c-image__img c-teaser__image-img" alt="" src="{{root}}assets/img/teaser/teaser-car-lake.jpg" />
                                    </picture>
                                </div>
                                <div class="c-teaser__content t-bg-soft-blue">
                                    <p class="c-copy c-teaser__date">Car Insurance</p>
                                    <h3 class="c-heading c-heading--subsection-large c-teaser__headline">Enjoy the Journey with Allianz Car Insurance</h3>
                                    <p class="c-copy c-teaser__text">Curabitur eu rhoncus turpis. Aenean nec malesuada tortor. In maximus ligula ut faucibus tincidunt.</p>
                                    <span class="c-link c-link--block c-teaser__link" # aria-label="More information"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">More information</span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide c-carousel__two-column__slide">
                        <div class="c-teaser c-teaser--40-60-image-left">
                            <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                <div class="c-teaser__image-container">
                                    <picture class="c-image c-teaser__image ">
                                        <img class="c-image__img c-teaser__image-img" alt="" src="{{root}}assets/img/teaser/teaser-home-family-bed.jpg" />
                                    </picture>
                                </div>
                                <div class="c-teaser__content t-bg-soft-beige">
                                    <p class="c-copy c-teaser__date">Home Insurance</p>
                                    <h3 class="c-heading c-heading--subsection-large c-teaser__headline">Live Your Life with Allianz Home Insurance</h3>
                                    <p class="c-copy c-teaser__text">Curabitur eu rhoncus turpis. Aenean nec malesuada tortor. In maximus ligula ut faucibus tincidunt.</p>
                                    <span class="c-link c-link--block c-teaser__link" # aria-label="More information"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">More information</span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide c-carousel__two-column__slide">
                        <div class="c-teaser c-teaser--40-60-image-left">
                            <a class="c-teaser__link-area" aria-label="More information about short description of teaser content" href="#">
                                <div class="c-teaser__image-container">
                                    <picture class="c-image c-teaser__image ">
                                        <img class="c-image__img c-teaser__image-img" alt="" src="{{root}}assets/img/teaser/teaser-pet-dog-man-laughing.jpg" />
                                    </picture>
                                </div>
                                <div class="c-teaser__content t-bg-soft-green">
                                    <p class="c-copy c-teaser__date">Pet Insurance</p>
                                    <h3 class="c-heading c-heading--subsection-large c-teaser__headline">Protect Your Best Friend with Allianz Pet Insurance</h3>
                                    <p class="c-copy c-teaser__text">Curabitur eu rhoncus turpis. Aenean nec malesuada tortor. In maximus ligula ut faucibus tincidunt.</p>
                                    <span class="c-link c-link--block c-teaser__link" # aria-label="More information"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">More information</span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="c-carousel__pagination-row l-grid  u-text-center">
                <div class="c-carousel-one-line-pagination l-grid__row">
                    <div class="c-carousel__two-column__prev u-text-right u-hidden-small-down">
                        <span class="c-icon c-icon--arrow-left-slim"></span>
                    </div>
                    <div class="c-carousel__two-column__pagination l-grid__column-small-fit u-text-center"></div>
                    <div class="c-carousel__two-column__next u-text-left u-hidden-small-down">
                        <span class="c-icon c-icon--arrow-right-slim"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>