.c-select {
  position: relative;
}

.c-select__selection {
  border-bottom: map-get($borders, xs) solid map-get($color-grey-tones, grey-tone-1);
  position: relative;
  cursor: pointer;
  outline: none;
  padding-bottom: map-get($sizes, 3xs) - map-get($borders, xs);
  line-height: normal;

  >* {
    cursor: pointer;
  }
}

.c-select:not(.c-select--is-filled) {
  .c-select__selection--rendered {
    visibility: visible;
    padding-top: map-get($line-heights, xs);
  }

  .c-select__label + .c-select__selection--rendered {
    visibility: hidden;
    padding-top: 0;
  }
}

.c-select__label {
  padding-top: map-get($sizes, s);
  font-size: map-get($font-sizes, xs);
  line-height: map-get($line-heights, xs);
  letter-spacing: map-get($letter-spacings, xs);
  font-weight: map-get($font-weight, light);
  width: calc(100% - #{map-get($sizes, m) + map-get($sizes, 2xs)});
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.c-select__selection--rendered {
  visibility: hidden;
  padding-right: map-get($sizes, m) + map-get($sizes, 2xs); 
  word-break: break-word;
}

.c-select__chevron {
  position: absolute;
  right: 0;
  bottom: map-get($sizes, 3xs) - map-get($borders, xs);
  vertical-align: middle;
  margin-left: map-get($sizes, 2xs);
}

.c-select__chevron::before {
  height: map-get($sizes, m);
  width: map-get($sizes, m);
  font-size: map-get($font-sizes, s);
}

.c-select--is-filled {
  .c-select__label {
    font-size: map-get($font-sizes, 5xs);
    line-height: map-get($line-heights, 4xs);
    font-weight: map-get($font-weight, semibold);
    letter-spacing: map-get($letter-spacings, m);
    padding-top: map-get($sizes, 5xs);
  }

  .c-select__selection--rendered {
    visibility: visible;
    font-weight: map-get($font-weight, semibold);
    font-size: map-get($font-sizes, xs);
    line-height: map-get($line-heights, xs);
    letter-spacing: map-get($letter-spacings, xs);
  }
}

.c-select--is-error:not(.c-select--is-filled) {
  .c-select__label {
    color: map-get($color-process, process-error);
    font-weight: map-get($font-weight, bold);
  }
}

.c-select--is-error {
  .c-select__selection {
    border-bottom-color: map-get($color-process, process-error);
    .c-select__chevron {
      color: map-get($color-process, process-error);
    }
  }

  .c-select__selection {
    .c-select__selection--rendered {
      color: map-get($color-process, process-error);
      font-weight: map-get($font-weight, bold);
    }
  }
}

.c-select[disabled] .c-select__selection,   // TODO:: Deprecate in next major release(2.0)
.c-select__natural[disabled] + .c-select__selection {

  border-bottom-color: map-get($color-grey-tones, grey-tone-5);
  cursor: not-allowed;
  >* {
    cursor: not-allowed;
  }

  .c-select__label {
    color: map-get($color-grey-tones, grey-tone-5);
  }

  .c-select__selection--rendered {
    color: map-get($color-grey-tones, grey-tone-5);
  }

  .c-select__chevron {
    color: map-get($color-grey-tones, grey-tone-5);
  }
}

.c-select__dropdown {
  border-radius: map-get($border-radius, s);
  box-shadow: map-get($shadows, s);
  display: none;
  position: absolute;
  width: 100%;
  background-color: map-get($color-basic, primary-white);
  top: map-get($sizes, 5xs);
  left: map-get($sizes, 5xs);
  z-index: 11;
}

.c-select__filter {
  margin: map-get($sizes, s) map-get($sizes, 2m) map-get($sizes, 2xs) map-get($sizes, 2m);
  padding: map-get($sizes, 5xs) map-get($sizes, 5xs) map-get($sizes, 4xs) map-get($sizes, 5xs);
  border-bottom: map-get($borders, xs) map-get($color-grey-tones, grey-tone-3) solid;
  display: flex;
  align-items: center;
  .c-select__filter-input {
    border: 0;
    outline: none;
    background-color: transparent;
    width: calc(100% - #{map-get($sizes, m) + map-get($sizes, 2xs)});
    color: map-get($color-primary-action, primary-action-dark);
    font-weight: map-get($font-weight, semibold);
    font-size: map-get($font-sizes, xs);
    line-height: map-get($line-heights, xs);
    letter-spacing: map-get($letter-spacings, xs);
  }

  .c-icon.c-icon--close {
    font-size: map-get($font-sizes, s);
    color: map-get($color-primary-action, primary-action-dark);
    cursor: pointer;
    margin-left: map-get($sizes, 2xs);
  }

  .c-icon.c-icon--close.c-select__c-icon--hidden {
    display: none;
  }
}

.c-select__filter--is-filled {
  border-color: map-get($color-primary-action, primary-action-dark);
}

.c-select--combo-select {
  .c-select__filter {
    .c-select__filter-input::placeholder { // Placeholder styles
      color: map-get($color-grey-tones, grey-tone-1);
      font-weight: map-get($font-weight, light);
      font-size: map-get($font-sizes, xs);
      line-height: map-get($line-heights, xs);
    }

    .c-select__filter-input::-ms-clear {
      display: none;
    }
  }

  .c-select-results {
    padding-bottom: map-get($sizes, 2m);
  }
}

.c-select--is-opended .c-select__dropdown {
  display: block;
}

.c-select__dropdown__label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: map-get($sizes, 2m);
  line-height: map-get($line-heights, 4xs);
  font-size: map-get($font-sizes, 5xs);
  letter-spacing: map-get($letter-spacings, m);
  padding: map-get($sizes, 2xs) map-get($sizes, 2m);
  background-color: map-get($color-grey-tones, grey-tone-7);
  border-top-left-radius: map-get($borders, xl);
  border-top-right-radius: map-get($borders, xl);
}

.c-select-results {
  max-height: 390px;
  overflow-y: auto;
  padding-bottom: map-get($sizes, 2m);
}

.c-select-results__group {
  padding-bottom: map-get($sizes, m);
}

.c-select-results__group:last-child {
  padding-bottom: map-get($sizes, 5xs);
}

.c-select-results__group:nth-child(odd) {
  background-color: rgba(map-get($color-grey-tones, grey-tone-7), 0.5);
}

.c-select-results__group-label {
  font-style: italic;
  padding: map-get($sizes, m) map-get($sizes, 2m) map-get($sizes, 5xs);
}

.c-select-results__group:first-child {
  .c-select-results__group-label {
    padding: map-get($sizes, s) map-get($sizes, 2m) map-get($sizes, 5xs);
  }
}

.c-select-results__options {
  list-style: none;
}

.c-select-results__option {
  font-size: map-get($font-sizes, xs);
  line-height: map-get($line-heights, xs);
  letter-spacing: map-get($letter-spacings, xs);
  padding: map-get($sizes, s) map-get($sizes, 2m) map-get($sizes, 5xs);
  cursor: pointer;
  position: relative;
  .c-select-results__option-label {
    display: inline-block;
  }
}

.c-select-results__option--hightlighted {
  color: map-get($color-primary-action, primary-action-dark);
}

li.c-select-results__option--selected::before {
  font-family: "Allianz-Icons";
  font-size: map-get($font-sizes, 3xs);
  position: absolute;
  left: map-get($sizes, 2xs);
  content: "\e911";
}

.c-select__dropdown__label,
.c-select-results__group-label {
  line-height: map-get($line-heights , 4xs);
  letter-spacing: map-get($letter-spacings, m);
}

.c-select__dropdown__label {
  font-weight: map-get($font-weight, semibold);
}

.c-select-results__group-label {
  font-weight: map-get($font-weight, bold);
}

.c-select--negative {
  .c-select__label {
    color: map-get($color-basic, primary-white);
  }

  .c-select__chevron {
    color: map-get($color-basic, primary-white);
  }

  .c-select__selection {
    border-bottom-color: map-get($color-basic, primary-white);
  }

  .c-select__selection--rendered {
    color: map-get($color-basic, primary-white);
  }
}

.c-select--negative[disabled] .c-select__selection,  // TODO:: Deprecate in next major release(2.0)
.c-select--negative .c-select__natural[disabled] + .c-select__selection {
  border-color: rgba($color: map-get($color-basic, primary-white), $alpha: 0.4);

  .c-select__label {
    color: rgba(map-get($color-basic, primary-white), 0.4);
  }

  .c-select__chevron {
    color: rgba(map-get($color-basic, primary-white), 0.4);
  }

  .c-select__selection--rendered {
    color: rgba(map-get($color-basic, primary-white), 0.4);
  }
}

.c-select--negative.c-select--is-error:not(.c-select--is-filled) {
  .c-select__label {
    font-weight: map-get($font-weight, bold);
    color: map-get($color-basic, primary-white);
  }

  .c-select__selection {
    border-color: map-get($color-basic, primary-white);
  }

  .c-select__chevron {
    color: map-get($color-basic, primary-white);
  }

  .c-select__selection--rendered {
    color: map-get($color-basic, primary-white);
  }
}

.c-select--negative.c-select--is-error {
  .c-select__selection {
    border-bottom-color: map-get($color-basic, primary-white);
    .c-select__chevron {
      color: map-get($color-basic, primary-white);
    }
  }

  .c-select__selection {
    .c-select__selection--rendered {
      color: map-get($color-basic, primary-white);
      font-weight: map-get($font-weight, semibold);
    }
  }
}

//Dropdown - Keyboard focus
[data-whatinput="keyboard"] .c-select--focus {
  background-color: map-get($color-functional, accessibility);
  box-shadow: map-get($shadows, s);
  border-radius: map-get($border-radius, s);
  z-index: map-get($z-index, default);

  .c-select__label {
    color: map-get($color-basic, primary-white);
    font-weight: map-get($font-weight, bold);
  }

  .c-select__chevron {
    color: map-get($color-basic, primary-white);
    font-weight: map-get($font-weight, bold);
  }

  .c-select__selection--rendered {
    color: map-get($color-basic, primary-white);
  }

  .c-select__selection {
    border-color: map-get($color-basic, primary-white);
  }

  .c-select__dropdown {
    background-color: map-get($color-functional, accessibility);
  }

  .c-select__dropdown__label {
    background-color: map-get($color-functional, accessibility);
    color: map-get($color-basic, primary-white);
    border-bottom: solid map-get($borders, xs) map-get($color-basic, primary-white);
  }

  .c-select-results__group:first-child {
    background-color: transparent;
  }

  .c-select-results__group-label {
    color: map-get($color-basic, primary-white);
  }

  li.c-select-results__option {
    color: map-get($color-basic, primary-white);
  }

  li.c-select-results__option--hightlighted {
    color: map-get($color-basic, primary-white);
    font-weight: map-get($font-weight, bold);

    .c-select-results__option-label {
      border-bottom: map-get($borders, xs) solid map-get($color-basic, primary-white);
    }
  }

  .c-select__filter {
    ::-webkit-input-placeholder {
      color: map-get($color-basic, primary-white);
    }

    .c-select__filter-input {
      border-bottom: map-get($borders, xs) solid map-get($color-basic, primary-white);
      color: map-get($color-basic, primary-white);
    }
  }
}

.c-select__natural {
  visibility: hidden;
  position: absolute;
}

[data-whatinput="keyboard"] .c-select--focus.c-select--is-error {
  .c-select__chevron {
    color: map-get($color-basic, primary-white);
  }
}
