.c-filter-dropdown {
  position: relative;
  display: inline-flex;
  width: 100%;
  color: map-get($color-grey-tones, grey-tone-1);

  &.is-open {
    .c-filter-dropdown__menu {
      visibility: visible;
    }

    .c-filter-dropdown__icon {
      transform: rotate(180deg);
    }
  }
}

.c-filter-dropdown__toggle {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: map-get($font-sizes, xs);
  letter-spacing: map-get($letter-spacings, xs);
  border-bottom: map-get($borders, xs) solid;
  line-height: map-get($line-heights, xs);
  padding-bottom: map-get($sizes, 3xs) - map-get($borders, xs);

  @include media-breakpoint-response(mobile) {
    border-color: map-get($color-grey-tones, grey-tone-6);
    padding: map-get($sizes, s) map-get($sizes, s) (map-get($sizes, s) - map-get($borders, xs)) map-get($sizes, s);
  }
}

.c-filter-dropdown__icon {
  margin-left: map-get($sizes, 2xs);
  height: map-get($sizes, m);
  width: map-get($sizes, m);
  transition: transform .2s ease-out;
}

.c-filter-dropdown__menu {
  max-height: 240px;
  overflow: auto;
  visibility: hidden;
  display: flex;
  list-style: none;
  background: map-get($color-basic, primary-white);
  box-shadow: map-get($shadows, s);
  border-radius: 0 0 map-get($border-radius, s) map-get($border-radius, s);
  position: absolute;
  top: 100%;
  left: 0;
  padding: map-get($sizes, s) map-get($sizes, 2m) map-get($sizes, 5xs);
  z-index: 10;
  width: 100%;
  text-align: left;
  font-weight: map-get($font-weight, regular);
  letter-spacing: map-get($letter-spacings, xs);

  flex-direction: column;
  align-items: flex-start;

  @include media-breakpoint-response(mobile) {
    padding: map-get($sizes, m) map-get($sizes, 2m) map-get($sizes, 5xs);
    max-height: 304px;
  }
}

.c-filter-dropdown__text {
    margin-left: map-get($sizes, 2xs);
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;

    @include media-breakpoint-response(mobile) {
      margin-left: map-get($sizes, 5xs);
    }
}

.c-filter-dropdown__item {
  margin-bottom: map-get($sizes , s);
  display: block;
  width: 100%;
  letter-spacing: map-get($letter-spacings, xs);
  font-size: map-get($font-sizes, 4xs);
  line-height: map-get($line-heights, 4xs);
  color: map-get($color-grey-tones, grey-tone-1);

  &:hover {
    color: map-get($color-primary-action, primary-action-dark);
  }

  &:last-child {
    padding-bottom: map-get($sizes, s);
    margin-bottom: map-get($sizes, 5xs);
  }

  @include media-breakpoint-response(mobile) {
    font-size: map-get($font-sizes, 4xs);
    line-height: map-get($line-heights, 4xs);
    margin-bottom: map-get($sizes , m);

    &:hover {
      border-bottom: map-get($sizes, 5xs);
    }

    &:last-child {
      padding-bottom: map-get($sizes, m);
    }
  }
}

.c-filter-dropdown__item--selected::before {
  font-family: "Allianz-Icons";
  width: map-get($sizes, s);
  height: map-get($sizes, s);
  font-size: map-get($font-sizes, 3xs);
  position: absolute;
  left: map-get($sizes, 2xs);
  content: "\e911";
}

.c-filter-dropdown--negative {
  color: map-get($color-basic, primary-white);
}

.c-filter-dropdown:hover, 
.c-filter-dropdown:focus {
  .c-filter-dropdown__toggle {
    border-bottom-color: map-get($color-primary-action, primary-action-bright);
  }

  .c-filter-dropdown__icon {
    color: map-get($color-primary-action, primary-action-bright);
  }
}

.c-filter-dropdown--negative.c-filter-dropdown:hover, 
.c-filter-dropdown--negative.c-filter-dropdown:focus {
  .c-filter-dropdown__toggle {
    border-bottom-color: rgba(map-get($color-basic, primary-white), 0.7);
  }

  .c-filter-dropdown__icon {
    color:rgba(map-get($color-basic, primary-white), 0.7);
  }
}

.c-filter-dropdown--is-error, 
.c-filter-dropdown--is-error:hover, 
.c-filter-dropdown--is-error:focus {
  .c-filter-dropdown__toggle {
    border-bottom-color: map-get($color-process, process-error);
  }

  .c-filter-dropdown__text {
    color: map-get($color-process, process-error);
    font-weight: map-get($font-weight, bold);
  }

  .c-filter-dropdown__icon {
    color: map-get($color-process, process-error);
  }
}

.c-filter-dropdown--negative.c-filter-dropdown--is-error,
.c-filter-dropdown--negative.c-filter-dropdown--is-error:hover,
.c-filter-dropdown--negative.c-filter-dropdown--is-error:focus {
  .c-filter-dropdown__toggle {
    border-bottom-color: map-get($color-basic, primary-white);
  }

  .c-filter-dropdown__text {
    color: map-get($color-basic, primary-white);
  }

  .c-filter-dropdown__icon {
    color: map-get($color-basic, primary-white);
  }
}

.c-filter-dropdown[disabled] {
  cursor: not-allowed;
  >* {
    cursor: not-allowed;
  }

  .c-filter-dropdown__toggle {
    border-bottom-color: map-get($color-grey-tones, grey-tone-6);
    pointer-events: none;
  }

  .c-filter-dropdown__text {
    color: map-get($color-grey-tones, grey-tone-5);
  }

  .c-filter-dropdown__icon {
    color: map-get($color-grey-tones, grey-tone-5);
  }
}

.c-filter-dropdown--negative.c-filter-dropdown[disabled] {
  .c-filter-dropdown__toggle {
    border-bottom-color: rgba(map-get($color-basic, primary-white), 0.4);
  }

  .c-filter-dropdown__text {
    color: rgba(map-get($color-basic, primary-white), 0.4);
  }

  .c-filter-dropdown__icon {
    color: rgba(map-get($color-basic, primary-white), 0.4);
  }
}

