// STAGE WITHOUT AND WITH NAVIGATION ON LANDING AND HOME PAGE
.c-stage--landing {
  min-height: 504px;

  .c-stage__content {
    padding: map-get($sizes, xl) map-get($sizes, xl) map-get($sizes, 2m);
    height: 100%;

    @include media-breakpoint-response(tablet) {
      padding: map-get($sizes, xl) map-get($sizes, 2m) map-get($sizes, 2m);
    }

    @include media-breakpoint-response(mobile) {
      padding: map-get($sizes, 2m) map-get($sizes, s) map-get($sizes, 4m);
    }
  }

  .c-stage__topline {
    letter-spacing: map-get($letter-spacings, s);
    line-height: map-get($line-heights, m);
    margin-bottom: map-get($sizes, m);
    font-weight: map-get($font-weight, light);

    @include media-breakpoint-response(mobile) {
      font-size: map-get($font-sizes, 3xs);
      line-height: map-get($line-heights, 2xs);
      font-weight: map-get($font-weight, regular);
      letter-spacing: map-get($letter-spacings, 2xs);
      margin-bottom: map-get($sizes, 2xs);
    }
  }

  h1.c-stage__headline {
    margin-bottom: map-get($sizes, m);
    font-weight: map-get($font-weight, bold);

    @include media-breakpoint-response(mobile) {
      margin-bottom: map-get($sizes, s);
    }
  }

  .c-list:not(.c-list--icon):not(ol) .c-list__item:before {
    content: none;
  }

  .c-stage__list {
    margin-bottom: map-get($sizes, m);
    font-size: map-get($font-sizes,2xs);
    letter-spacing: map-get($letter-spacings, xs);
    line-height: map-get($line-heights, 2xs);

    @include media-breakpoint-response(mobile) {
      margin-bottom: map-get($sizes, 2m);
      .c-list__item {
        font-size: map-get($font-sizes, 3xs);
        line-height: map-get($line-heights, 2xs);
        letter-spacing: map-get($letter-spacings, 2xs);
      }
    }
  }
}
// END OF STAGE WITHOUT NAVIGATION ON LANDING AND HOME PAGE
