.c-stage--article {
  @include media-breakpoint-up(medium) {
    min-height: 400px;
  }
  .c-stage__breadcrumb {
    position: absolute;
    width: 100%;
  }

  .c-image__img,
  .c-stage__image.c-stage__image--cover {
    min-height: 400px;
    height: 400px;

    @include media-breakpoint-response(mobile) {
      min-height: auto;
      height: auto;
    }
  }

  .c-stage__image:not(.c-stage__image--cover) {
    position: relative;
  }

  .c-stage__content {
    padding: map-get($sizes, xl) map-get($sizes, xl) map-get($sizes, 2m);
    height: 100%;

    @include media-breakpoint-response(tablet) {
      padding: map-get($sizes, xl) map-get($sizes, 2m) map-get($sizes, 2m);
    }

    @include media-breakpoint-response(mobile) {
      padding: map-get($sizes, 2m) map-get($sizes, s) map-get($sizes, 4m);
    }
  }

  &.c-stage--1by1dot4-ratio .c-stage__content {
    @include media-breakpoint-response(mobile) {
      height: 570px;
    }
  }

  h1.c-stage__headline {
    margin-bottom: map-get($sizes, m);
    font-weight: map-get($font-weight, bold);
  }

  .c-stage__additional-info.c-stage__additional-info--stage-text {
    margin-bottom: map-get($sizes, 5xs);
  }

  .c-stage__info__article {
    padding: map-get($sizes, 5xs);
    align-self: center;

    + .c-stage__info__article {
      display: flex;

      @include media-breakpoint-up(medium) {
        margin-left: map-get($sizes, 2m);
      }

      .c-link--block {
        margin: map-get($sizes, 5xs);
        + .c-link--block {
          margin-left: map-get($sizes, 2m);
        }
      }
    }
  }
}
