.c-breadcrumb {
  margin: 14px 0 30px 15px;
  color: map-get($color-grey-tones, grey-tone-1);
}

.c-breadcrumb__list {
  list-style: none;
  display: block;
  font-size: 0; 
}

.c-breadcrumb__item {
  display: inline;
  > .c-icon {
    display: inline;
    font-size: map-get($font-sizes, 3xs);
    margin: map-get($sizes, 5xs) map-get($sizes, 3xs);
    &::before {
      vertical-align: middle;
    }
  }
}

.c-breadcrumb__link {
  font-size: map-get($font-sizes, 3xs);
  line-height: map-get($line-heights, 2xs);
  text-decoration: none;
  text-align: left;

  &:not(.is-active) {
    &:hover {
      color: map-get($color-primary-action, primary-action-medium);
    }
  }

  &:focus {
    border-radius: map-get($border-radius, s);
  }
}

.c-breadcrumb__link.is-active {
  font-weight: map-get($font-weight, semibold);
  pointer-events: none;
  cursor: default;
}

.c-breadcrumb__separator {
  padding: map-get($sizes, 5xs) map-get($sizes, 2xs);
  &:before {
    content: '\f105';
  }
}

@include respond-to('medium') {
  .c-breadcrumb {
    display: block;
  }
}

.c-breadcrumb--negative {
  color: map-get($color-basic, primary-white);

  .c-breadcrumb__link {
    color: inherit;
  }
}
