// Add extended button option

.c-button {
    text-align: center;
    display: inline-block;
    
    &.c-button--extended {
        display: block;
        width: 100%;
        text-align: center;
    }
}

// Add button group option

.c-button-group {
    .c-button {
        margin-bottom: 0;
    }

    @include media-breakpoint-response(mobile) {
        .c-button {
            margin-bottom: map-get($sizes, m);
        }
        div:last-of-type {
            .c-button {
                margin-bottom: 0;
            }
        }
    }
}


// Scroll Top Button
#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: map-get($sizes, s);
    right: map-get($sizes, s);
    z-index: 9999;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 8px 20px 0px $c-black-shadow-light;

    @include media-breakpoint-response(mobile) {
        bottom: map-get($sizes, 2xs);
        right: map-get($sizes, 2xs);
    }
}
