// Metabar
.c-header-metabar__basic-link {
  height: 40px;
  border-left: 1px solid #D9D9D9;
  margin-left: 24px;
  padding-left: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;

}

.c-header-metabar__basic-link--end {
  border-left: 0px;
  margin-left: 0;
}

// Adding option to remove divider from Sub Nav
.c-navcontent--no-divider {
  &:before {
    display: none;
  }
}

// Mobile Nav
// Adding padding option for level 0 content
.c-accordion__item--level-0 {
  .accordion__content--padded {
    background-color: #F5F5F5;
    padding: 25px;
    padding-left: 60px; }
}

// CTA Tile for Mobile Nav
.c-nav-card-tile {
  margin: 0;

  .c-nav-card-tile__container {
    width: 100%;
    padding: 20px 15px 34px;
    display: block;
    text-align: center; 
  }

}
@media (max-width: 703px) {
  .c-nav-card-tile {
    margin: 0;
    
    .c-nav-card-tile__container {
      padding: 20px 10px 34px;
    }
  } 
}

header {
    .c-navigation__accordion {
        .c-navcontent__links {
            margin-bottom: map-get($sizes, 2m);

            .c-navcontent__headline {
                @include media-breakpoint-response(mobile) {
                    margin-top: map-get($sizes, 2xs);
                    margin-bottom: map-get($sizes, s);
                }
            }

            .c-navcontent__list {
                margin-bottom: map-get($sizes, xs);
            }

            .c-navcontent__list-item {
                margin-top: 0;
                margin-bottom: 0;
            }

            a {
                margin-bottom: 0;
                display: block;
                padding-top: map-get($sizes, 2xs);
                padding-bottom: map-get($sizes, 2xs);
            }
        }
    }
}