// Custom Media holder
.c-media-holder {
    margin-bottom: map-get($sizes, m);
}

// Fix for c-map iFrame visibility
.c-map {
    > iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
