// Stage Overides

.c-stage--auto-height {
    height: auto !important;
    min-height: auto !important;
}

.c-stage--content-page {
    .c-stage__content {
        height: auto !important;
        min-height: auto !important;
    }
}

.c-stage--cutout {
    height: auto;
    overflow: hidden;
    .c-stage__cutout-image {
        margin-bottom: 0;

        
    }
} 

.c-stage--breadcrumb {
    .c-stage__content {
        padding-top: map-get($sizes, l) !important;

        @include media-breakpoint-response(mobile) {
            padding-top: map-get($sizes, m) !important;
        }
    }
}

.c-stage--with-navigation,
.c-stage--landing {
    .c-stage__content {
        padding-top: map-get($sizes, m);
    }
}

.c-stage--with-navigation,
.c-stage--landing,
.c-stage--cutout {
    h1.c-stage__headline {
        margin-bottom: map-get($sizes, xs);

        @include media-breakpoint-response(mobile) {
            margin-bottom: map-get($sizes, 2xs);
        }
    }
    .c-stage__topline {
        margin-bottom: map-get($sizes, xs);

        @include media-breakpoint-response(mobile) {
            margin-bottom: map-get($sizes, 2xs);
        }
    }
    .c-stage__highlight-text {
        margin-bottom: map-get($sizes, 2xs);

        @include media-breakpoint-response(mobile) {
            margin-bottom: map-get($sizes, 2xs);
        }
    }
    .c-terms {
        margin-bottom: map-get($sizes, m);

        @include media-breakpoint-response(mobile) {
            margin-bottom: map-get($sizes, s);
        }
    }
}

.c-stage--landing {
    .c-stage__button__grid {
        .c-button {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}