// Fixing padding on hero stages

.c-stage {
    .c-stage__content {
        padding-top: map-get($sizes, l);

        @include media-breakpoint-response(tablet) {
            padding-top: map-get($sizes, l);
        }

        @include media-breakpoint-response(mobile) {
            padding-top: map-get($sizes, m);
        }
    }
}

.c-stage--with-navigation,
.c-stage--landing,
.c-stage--no-breadcrumb {
    .c-stage__content {
        padding-top: map-get($sizes, 2m);

        @include media-breakpoint-response(mobile) {
            padding-top: map-get($sizes, m);
        }
    }
}

// Stage height auto overide

.c-stage--auto-height,
.c-stage--content-page,
.c-stage--cutout {
    height: auto;
    min-height: auto;
    
    .c-stage__content {
        height: auto;
    }
}

.c-stage--cutout {
    .c-stage__cutout-image {
        margin-bottom: map-get($sizes, s);
        margin-top: map-get($sizes, xs);
    }
}

// Stage typography

.c-stage {
    .c-stage__headline {
        margin-bottom: map-get($sizes, xs) !important;

        @include media-breakpoint-response(mobile) {
            margin-bottom: map-get($sizes, 2xs) !important;
        }
    }
    .c-stage__topline {
        margin-bottom: map-get($sizes, xs);

        @include media-breakpoint-response(mobile) {
            margin-bottom: map-get($sizes, 2xs);
        }
    }
    .c-stage__highlight-text {
        margin-bottom: map-get($sizes, 2xs);

        @include media-breakpoint-response(mobile) {
            margin-bottom: map-get($sizes, 2xs);
        }
    }
    .c-terms {
        margin-bottom: map-get($sizes, m);

        @include media-breakpoint-response(mobile) {
            margin-bottom: map-get($sizes, s);
        }
    }
}

.c-stage--article {
    .c-stage__additional-info {
        @include media-breakpoint-response(mobile) {
            margin-bottom: map-get($sizes, 2xs) !important;
        }
    }
}

// .c-stage--landing {
//     .c-stage__button__grid {
//         .c-button {
//             &:last-of-type {
//                 margin-bottom: 0;
//             }
//         }
//     }
// }