// Tile Overides

.c-tile,
.c-section {
    .c-image--illustration {
        margin-bottom: map-get($sizes, s);

        img {
            max-width: 198px;
            max-height: 110px;
            font-family: "object-fit: contain;";
            object-fit: contain;

            @include media-breakpoint-response(mobile) {
                max-width: 162px;
                max-height: 90px;
            }
        }
    }
}


// Centering content on product tile panels with uneven content
.c-tile__product-tile--wrapper {
    @include media-breakpoint-up(medium) {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}





.c-tile__reviews--container {
    overflow: hidden;
    padding-top: 70px;
    padding-bottom: 80px;

    @include media-breakpoint-response(mobile) {
        padding-top: 40px;
        padding-bottom: 50px;
    }


    .c-tile__reviews-heading {
        margin-bottom: 40px;

        @include media-breakpoint-response(mobile) {
            font-size: 16px;
            font-weight: map-get($font-weight, semibold);
            line-height: 22px;
            margin-bottom: 16px;
        }
    }

    .c-tile__reviews__icon {
        @include media-breakpoint-up(medium) {
            margin-top: 7px;
        }
    }

    .c-tile--product-icon {
        display: block;
        width: 80px;
        height: 80px;
        font-size: $font-size-small;
        line-height: 80px;
        border-radius: 50%;
        margin: 0 auto;

        &:before {
          font-size: 4.8rem;
        }

    }

    .c-tile--product-teaser {
      text-align: center;
      margin-bottom: 0;
 
    }

    .c-tile__reviews--title {
      margin-bottom: 0;

      @include media-breakpoint-response(mobile) {
        margin-bottom: map-get($sizes, s);
      }

    }

    .c-process-rating__container {
      display: flex;
      font-size: $font-size-large;
      width: 275px;
      margin: 0 auto;
  
      .c-process-rating__icon {
        font-size: $font-size-h2-mobile;
        width: auto;
        height: 35px;
        margin: auto;
        background: none;
        border: none;
        padding: 0;
      }
    }

    
}