// Additional Colours

$color-vibrant-lightest : (
    vibrant-purple-lightest : #F0E7F5,
    vibrant-blue-lightest : #EFFAFE,
    vibrant-turquoise-lightest : #E1F3F3,
);

.t-bg {

    //background vibrant light
    @each $key,
    $color in $color-vibrant-lightest {
        &-#{$key} {
            background-color: $color;
        }
    }
}

.t {

    // text colour soft
    @each $key,
    $color in $color-soft {
        &-#{$key} {
            color: $color;
        }
    }

    // text colour soft light
    @each $key,
    $color in $color-soft-light {
        &-#{$key} {
            color: $color;
        }
    }

    // text colour soft lightest
    @each $key,
    $color in $color-soft-lightest {
        &-#{$key} {
            color: $color;
        }
    }

    // text colour vibrant lightest
    @each $key,
    $color in $color-vibrant-lightest {
        &-#{$key} {
            color: $color;
        }
    }
}


// Smooth Anchor Links
html {
    scroll-behavior: smooth;
}