<div class="c-section l-container l-container--full-width {{bg-colour-faqs}}">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-large-10 l-grid__column-medium-12 l-grid__column-small-12 u-padding-bottom-md">
                {{> accordion-light-mockup}}
                {{> accordion-light-mockup}}
                {{> accordion-light-mockup}}
            </div>
        </div>
        <div class="l-grid__row justify-content-center u-margin-top-s">
            <div class="l-grid__column-small-12 l-grid__column-medium-10">
                <p class="c-copy c-copy--medium u-margin-bottom-0">*Duis nec dui hendrerit, commodo leo vel, molestie justo. Suspendisse hendrerit eros et lectus ornare, non egestas ex mattis. Vivamus vehicula, felis vitae facilisis consequat, tellus nisi commodo est, quis dignissim sem ligula sit amet ipsum.</p>
            </div>
        </div>
    </div>
</div>