<div class="l-container l-container--full-width u-margin-top-m">
        <div class="l-grid l-grid--max-width">
            <div class="l-grid__row justify-content-center">
                <div class="l-grid__column-12">
                    <h3 class="c-heading u-text-center u-margin-bottom-s">Jump to section:</h3>
                </div>
            </div>
            <div class="l-grid__row">
                <div class="l-grid__column-medium-8 offset-medium-2">
                    <div class="l-grid__row justify-content-center">
                        <div class="l-grid__column-small-12 l-grid__column-medium-6">
                            <a href="#page-section-01" class="c-button c-button--small c-button--secondary c-button--extended">Section 01</a>
                        </div>
                        <div class="l-grid__column-small-12 l-grid__column-medium-6">
                            <a href="#page-section-02" class="c-button c-button--small c-button--secondary c-button--extended">Section 02</a>
                        </div>
                        <div class="l-grid__column-small-12 l-grid__column-medium-6">
                            <a href="#page-section-03" class="c-button c-button--small c-button--secondary c-button--extended">Section 03</a>
                        </div>
                        <div class="l-grid__column-small-12 l-grid__column-medium-6">
                            <a href="#page-section-04" class="c-button c-button--small c-button--secondary c-button--extended">Section 04</a>
                        </div>
                        <div class="l-grid__column-small-12 l-grid__column-medium-6">
                            <a href="#page-section-05" class="c-button c-button--small c-button--secondary c-button--extended">Section 05</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="page-section-01" class="l-container l-container--full-width page-section">
        <div class="l-grid l-grid--max-width u-padding-top-l">
            <div class="l-grid__row justify-content-center">
                <div class="l-grid__column-medium-10 l-grid__column-large-8">
                    <h2 class="c-heading c-heading--subsection-large">Section 01</h2>
                    <p class="c-copy">Aliquam erat volutpat. Mauris fermentum, nibh non pharetra aliquam, nisl magna fringilla urna, et feugiat nunc augue ac arcu. Sed efficitur bibendum augue quis aliquam. Aenean nec lorem condimentum, semper augue et, posuere est. Etiam nec nisi eget lacus egestas cursus. Proin a porttitor ante, in viverra neque. Proin vel orci velit. Sed at elit erat.</p>
                    <p class="c-copy">Aliquam erat volutpat. Mauris fermentum, nibh non pharetra aliquam, nisl magna fringilla urna, et feugiat nunc augue ac arcu. Sed efficitur bibendum augue quis aliquam. Aenean nec lorem condimentum, semper augue et, posuere est. Etiam nec nisi eget lacus egestas cursus. Proin a porttitor ante, in viverra neque. Proin vel orci velit. Sed at elit erat.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="page-section-02" class="l-container l-container--full-width page-section">
        <div class="l-grid l-grid--max-width u-padding-top-l">
            <div class="l-grid__row justify-content-center">
                <div class="l-grid__column-medium-10 l-grid__column-large-8">
                    <h2 class="c-heading c-heading--subsection-large">Section 02</h2>
                    <p class="c-copy"><strong>Mauris fermentum, nibh non pharetra aliquam.</strong></p>
                    <ul class="c-list c-list--icon">
                        <li class="c-list__item"><span aria-hidden="true" class="c-icon c-icon--info-circle-o c-list__icon"></span> Select your individual options </li>
                        <li class="c-list__item"><span aria-hidden="true" class="c-icon c-icon--info-circle-o c-list__icon"></span> Come back to us to change at any time </li>
                        <li class="c-list__item"><span aria-hidden="true" class="c-icon c-icon--info-circle-o c-list__icon"></span> All changes and upgrades are immediately effective </li>
                        <li class="c-list__item"><span aria-hidden="true" class="c-icon c-icon--info-circle-o c-list__icon"></span> Mei et eruditi dolorem oportere,sonet admodum tacimates nec ei. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page-section-03" class="l-container l-container--full-width page-section">
        <div class="l-grid l-grid--max-width u-padding-top-l">
            <div class="l-grid__row justify-content-center">
                <div class="l-grid__column-medium-10 l-grid__column-large-8">
                    <h2 class="c-heading c-heading--subsection-large">Section 03</h2>
                    <p class="c-copy"><strong>Mauris fermentum, nibh non pharetra aliquam.</strong></p>
                    <ul class="c-list c-list--icon">
                        <li class="c-list__item"><span aria-hidden="true" class="c-icon c-icon--check c-list__icon"></span> Select your individual options </li>
                        <li class="c-list__item"><span aria-hidden="true" class="c-icon c-icon--check c-list__icon"></span> Come back to us to change at any time </li>
                        <li class="c-list__item"><span aria-hidden="true" class="c-icon c-icon--check c-list__icon"></span> All changes and upgrades are immediately effective </li>
                        <li class="c-list__item"><span aria-hidden="true" class="c-icon c-icon--check c-list__icon"></span> Mei et eruditi dolorem oportere,sonet admodum tacimates nec ei. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page-section-04" class="l-container l-container--full-width page-section">
        <div class="l-grid l-grid--max-width u-padding-top-l">
            <div class="l-grid__row justify-content-center">
                <div class="l-grid__column-medium-10 l-grid__column-large-8">
                    <h2 class="c-heading c-heading--subsection-large">Section 04</h2>
                    <p class="c-copy">Aliquam erat volutpat. Mauris fermentum, nibh non pharetra aliquam, nisl magna fringilla urna, et feugiat nunc augue ac arcu. Sed efficitur bibendum augue quis aliquam. Aenean nec lorem condimentum, semper augue et, posuere est. Etiam nec nisi eget lacus egestas cursus. Proin a porttitor ante, in viverra neque. Proin vel orci velit. Sed at elit erat.</p>
                    <p class="c-copy">Aliquam erat volutpat. Mauris fermentum, nibh non pharetra aliquam, nisl magna fringilla urna, et feugiat nunc augue ac arcu. Sed efficitur bibendum augue quis aliquam. Aenean nec lorem condimentum, semper augue et, posuere est. Etiam nec nisi eget lacus egestas cursus. Proin a porttitor ante, in viverra neque. Proin vel orci velit. Sed at elit erat.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="page-section-05" class="l-container l-container--full-width page-section">
        <div class="l-grid l-grid--max-width u-padding-top-l">
            <div class="l-grid__row justify-content-center">
                <div class="l-grid__column-medium-10 l-grid__column-large-8">
                    <h2 class="c-heading c-heading--subsection-large">Section 05</h2>
                    {{> accordion-light-mockup}}
                    {{> accordion-light-mockup}}
                </div>
            </div>
        </div>
    </div>
    <div class="l-container l-container--full-width u-margin-top-l u-margin-bottom-xl">
        <div class="l-grid l-grid--max-width">
            <div class="l-grid__row justify-content-center">
                <div class="l-grid__column-medium-10 l-grid__column-large-8">
                    <hr class="c-divider u-margin-top-0 u-margin-bottom-m">
                    <h5 class="c-headline u-margin-bottom-s">Related links:</h5>
                    <ul class="c-list c-list--links">
                        <li class="c-list__item"><a class="c-link c-link--block" href='#' aria-label="normal"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">normal link</span></a></li>
                        <li class="c-list__item"><a class="c-link c-link--block" href='#' aria-label="normal"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">normal link</span></a></li>
                        <li class="c-list__item"><a class="c-link c-link--block" href='#' aria-label="normal"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">normal link</span></a></li>
                        <li class="c-list__item"><a class="c-link c-link--block" href='#' aria-label="normal"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">normal link</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>