<div class="c-section l-container l-container--full-width t-bg-vibrant-purple-lightest">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-large-10 u-margin-bottom-2m">
                <h3 class="c-heading u-text-center">See what our customers say:</h3>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-medium-10">
                <div class="c-content-card t-bg-primary-white">
                    <p class="c-copy u-margin-bottom-0"><q>Excellent user interface, everything explained well in ordinary language, the 'add-ons' to upgrade the base policy are very well laid out and easy to understand.</q>
                        <cite class="c-copy c-copy--medium"><strong>Jane Doe</strong>, Allianz Car Insurance Policy Holder via Allianz website <br>
                            <strong>Date published:</strong> 31/10/2018 <br>
                            <strong>Rating:</strong> 5 / 5 stars</cite></p>
                </div>
                <div class="c-content-card t-bg-primary-white">
                    <p class="c-copy u-margin-bottom-0"><q>Excellent user interface, everything explained well in ordinary language, the 'add-ons' to upgrade the base policy are very well laid out and easy to understand.</q>
                        <cite class="c-copy c-copy--medium"><strong>Jane Doe</strong>, Allianz Car Insurance Policy Holder via Allianz website <br>
                            <strong>Date published:</strong> 31/10/2018 <br>
                            <strong>Rating:</strong> 5 / 5 stars</cite></p>
                </div>
                <div class="c-content-card t-bg-primary-white">
                    <p class="c-copy u-margin-bottom-0"><q>Excellent user interface, everything explained well in ordinary language, the 'add-ons' to upgrade the base policy are very well laid out and easy to understand.</q>
                        <cite class="c-copy c-copy--medium"><strong>Jane Doe</strong>, Allianz Car Insurance Policy Holder via Allianz website <br>
                            <strong>Date published:</strong> 31/10/2018 <br>
                            <strong>Rating:</strong> 5 / 5 stars</cite></p>
                </div>
                <div class="c-content-card t-bg-primary-white">
                    <p class="c-copy u-margin-bottom-0"><q>Excellent user interface, everything explained well in ordinary language, the 'add-ons' to upgrade the base policy are very well laid out and easy to understand.</q>
                        <cite class="c-copy c-copy--medium"><strong>Jane Doe</strong>, Allianz Car Insurance Policy Holder via Allianz website <br>
                            <strong>Date published:</strong> 31/10/2018 <br>
                            <strong>Rating:</strong> 5 / 5 stars</cite></p>
                </div>
            </div>
        </div>
    </div>
</div>