<div class="c-section l-container l-container--full-width">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-small-12 l-grid__column-medium-10">
                <h2 class="c-heading u-text-weight-light u-margin-bottom-m">Recent articles</h2>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-12 u-padding-bottom-md">
                <div class="c-teaser c-teaser--66-33 c-teaser--66-33-image-left u-margin-bottom-m">
                    <div class="l-grid l-grid--max-width u-padding-none">
                        <a href="#" class="c-teaser__link-area" aria-label="More information about short description of teaser content">
                            <div class="c-teaser__image-container">
                                <picture class="c-image c-teaser__image c-image--bottom-center">
                                    <img class="c-image__img c-teaser__image-img" alt="useful description of image if informative and not decoration only." src="{{root}}assets/img/teaser/teaser-car-lake.jpg" />
                                </picture>
                            </div>
                            <div class="c-teaser__content t-bg-soft-blue-light">
                                <p class="c-copy c-teaser__date">Subheadline / Date</p>
                                <h3 class="c-heading c-teaser__headline">Headline title</h3>
                                <p class="c-copy c-teaser__text">Curabitur eu rhoncus turpis. Aenean nec malesuada tortor. In maximus ligula ut faucibus tincidunt. Vivamus at pretium tellus, quis sodales nulla. Vestibulum finibus mi a lorem tempus, sodales turpis.</p>
                                <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Read more</span></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="c-teaser c-teaser--33-66 u-margin-bottom-m">
                    <div class="l-grid l-grid--max-width u-padding-none">
                        <a href="#" class="c-teaser__link-area" aria-label="More information about short description of teaser content">
                            <div class="c-teaser__image-container">
                                <picture class="c-image c-teaser__image">
                                    <img class="c-image__img c-teaser__image-img" alt="useful description of image if informative and not decoration only." src="{{root}}assets/img/teaser/teaser-home-family-bed.jpg" />
                                </picture>
                            </div>
                            <div class="c-teaser__content t-bg-soft-beige-light">
                                <p class="c-copy c-teaser__date">Subheadline / Date</p>
                                <h3 class="c-heading c-teaser__headline">Headline title</h3>
                                <p class="c-copy c-teaser__text">Curabitur eu rhoncus turpis. Aenean nec malesuada tortor. In maximus ligula ut faucibus tincidunt. Vivamus at pretium tellus, quis sodales nulla. Vestibulum finibus mi a lorem tempus, sodales turpis.</p>
                                <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Read more</span></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="c-teaser c-teaser--66-33 c-teaser--66-33-image-left u-margin-bottom-m">
                    <div class="l-grid l-grid--max-width u-padding-none">
                        <a href="#" class="c-teaser__link-area" aria-label="More information about short description of teaser content">
                            <div class="c-teaser__image-container">
                                <picture class="c-image c-teaser__image c-image--bottom-center">
                                    <img class="c-image__img c-teaser__image-img" alt="useful description of image if informative and not decoration only." src="{{root}}assets/img/teaser/teaser-pet-dog-man-laughing.jpg" />
                                </picture>
                            </div>
                            <div class="c-teaser__content t-bg-soft-green-light">
                                <p class="c-copy c-teaser__date">Subheadline / Date</p>
                                <h3 class="c-heading c-teaser__headline">Headline title</h3>
                                <p class="c-copy c-teaser__text">Curabitur eu rhoncus turpis. Aenean nec malesuada tortor. In maximus ligula ut faucibus tincidunt. Vivamus at pretium tellus, quis sodales nulla. Vestibulum finibus mi a lorem tempus, sodales turpis.</p>
                                <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Read more</span></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="c-teaser c-teaser--33-66 u-margin-bottom-m">
                    <div class="l-grid l-grid--max-width u-padding-none">
                        <a href="#" class="c-teaser__link-area" aria-label="More information about short description of teaser content">
                            <div class="c-teaser__image-container">
                                <picture class="c-image c-teaser__image">
                                    <img class="c-image__img c-teaser__image-img" alt="useful description of image if informative and not decoration only." src="{{root}}assets/img/teaser/teaser-faqs-hands-up.jpg" />
                                </picture>
                            </div>
                            <div class="c-teaser__content t-bg-soft-blue">
                                <p class="c-copy c-teaser__date">Subheadline / Date</p>
                                <h3 class="c-heading c-teaser__headline">Headline title</h3>
                                <p class="c-copy c-teaser__text">Curabitur eu rhoncus turpis. Aenean nec malesuada tortor. In maximus ligula ut faucibus tincidunt. Vivamus at pretium tellus, quis sodales nulla. Vestibulum finibus mi a lorem tempus, sodales turpis.</p>
                                <span class="c-link c-link--block c-teaser__link" aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Read more</span></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-grid__row">
            <div class="l-grid__column-12 u-text-align-center">
                <nav aria-label="Page navigation" class="c-pagination-compact ">
                    <h2 class="u-aria-only">You are here:</h2>
                    <a class="c-link c-pagination-compact__previous" href="#" disabled>
                        <i class="c-icon c-icon--arrow-left c-pagination-compact__c-icon" aria-hidden="true"></i>
                        <span class="c-pagination-compact__direction-label"> Back</span>
                    </a>
                    <div class="c-pagination-compact__display">
                        <span class="c-pagination-compact__current-page">1</span> of <span class="c-pagination-compact__total-pages">9</span>
                    </div>
                    <a class="c-link c-pagination-compact__next" href="#">
                        <span class="c-pagination-compact__direction-label"> Next </span>
                        <i class="c-icon c-icon--arrow-right c-pagination-compact__c-icon" aria-hidden="true"></i>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</div>