<div class="c-section l-container l-container--full-width">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row">
            <div class="l-grid__column-small-12 l-grid__column-medium-10 offset-medium-1">
                <h3 class="c-heading u-text-weight-light u-margin-bottom-2xs"><em class="u-text-weight-bold">Save 14%</em> on a new policy online&nbsp;today!</h3>
                <p class="c-copy u-margin-bottom-s"><strong>Please note:</strong> {{{stage-terms}}}</p>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-medium-9 l-grid__column-large-6">
                <div class="l-grid__row c-button-group u-margin-top-s">
                    <div class="l-grid__column-medium-6">
                        <a class="c-button c-button--extended">Get Quote</a>
                    </div>
                    <div class="l-grid__column-medium-6">
                        <a class="c-button c-button--secondary c-button--extended">Retrieve Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>