<div class="c-section l-container l-container--full-width t-bg-vibrant-purple-lightest">
    <div class="l-grid l-grid--max-width u-padding-none-medium-down">
        <div class="c-carousel__teaser-container u-padding-none">
            <div class="c-carousel__teaser__header--center">
                <i class="c-icon c-icon--m c-icon--centered u-margin-bottom-s t-bg-white t-primary-action-dark c-icon--fill c-icon--product-{{> icon-master-customer}}"></i>
                <h3 class="c-heading">See what our customers say</h3>
            </div>
            <div class="js-carousel-teaser swiper-container c-carousel__teaser">
                <div class="swiper-wrapper c-carousel__teaser-wrapper">
                    <div class="swiper-slide c-carousel__teaser__slide">
                        <div class="c-teaser c-teaser--without-image t-bg-primary-white">
                            <div class="c-teaser__container u-padding-none">
                                <div class="c-teaser__wrapper">
                                    <p class="c-copy"><q>1. Excellent user interface, everything explained well in ordinary language, the 'add-ons' to upgrade the base policy are very well laid out and easy to understand.</q>
                                    <cite class="c-copy c-copy--medium"><strong>Jane Doe</strong>, Allianz Car Insurance Policy Holder 31/10/2018 via Allianz website</cite></p>
                                </div>
                                <div class="c-teaser__link-area">
                                    <a class="c-link c-teaser__link c-link--block" # aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Read more</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide c-carousel__teaser__slide">
                        <div class="c-teaser c-teaser--without-image t-bg-primary-white">
                            <div class="c-teaser__container u-padding-none">
                                <div class="c-teaser__wrapper">
                                    <p class="c-copy"><q>2. Excellent user interface, everything explained well in ordinary language, the 'add-ons' to upgrade the base policy are very well laid out and easy to understand.</q>
                                    <cite class="c-copy c-copy--medium"><strong>Jane Doe</strong>, Allianz Car Insurance Policy Holder 31/10/2018 via Allianz website</cite></p>
                                </div>
                                <div class="c-teaser__link-area">
                                    <a class="c-link c-teaser__link c-link--block" # aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Read more</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide c-carousel__teaser__slide">
                        <div class="c-teaser c-teaser--without-image t-bg-primary-white">
                            <div class="c-teaser__container u-padding-none">
                                <div class="c-teaser__wrapper">
                                    <p class="c-copy"><q>3. Excellent user interface, everything explained well in ordinary language, the 'add-ons' to upgrade the base policy are very well laid out and easy to understand.</q>
                                    <cite class="c-copy c-copy--medium"><strong>Jane Doe</strong>, Allianz Car Insurance Policy Holder 31/10/2018 via Allianz website</cite></p>
                                </div>
                                <div class="c-teaser__link-area">
                                    <a class="c-link c-teaser__link c-link--block" # aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Read more</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide c-carousel__teaser__slide">
                        <div class="c-teaser c-teaser--without-image t-bg-primary-white">
                            <div class="c-teaser__container u-padding-none">
                                <div class="c-teaser__wrapper">
                                    <p class="c-copy"><q>4. Excellent user interface, everything explained well in ordinary language, the 'add-ons' to upgrade the base policy are very well laid out and easy to understand.</q>
                                    <cite class="c-copy c-copy--medium"><strong>Jane Doe</strong>, Allianz Car Insurance Policy Holder 31/10/2018 via Allianz website</cite></p>
                                </div>
                                <div class="c-teaser__link-area">
                                    <a class="c-link c-teaser__link c-link--block" # aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Read more</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide c-carousel__teaser__slide">
                        <div class="c-teaser c-teaser--without-image t-bg-primary-white">
                            <div class="c-teaser__container u-padding-none">
                                <div class="c-teaser__wrapper">
                                    <p class="c-copy"><q>5. Excellent user interface, everything explained well in ordinary language, the 'add-ons' to upgrade the base policy are very well laid out and easy to understand.</q>
                                    <cite class="c-copy c-copy--medium"><strong>Jane Doe</strong>, Allianz Car Insurance Policy Holder 31/10/2018 via Allianz website</cite></p>
                                </div>
                                <div class="c-teaser__link-area">
                                    <a class="c-link c-teaser__link c-link--block" # aria-label="Read more"><span aria-hidden="true" class="c-link__icon c-icon c-icon--arrow-right"></span><!-- Fix White Space issue --><span class="c-link__text">Read more</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="c-carousel__pagination-row l-grid u-text-center">
                <div class="c-carousel-one-line-pagination l-grid__row">
                    <div class="c-carousel__teaser__prev l-grid__column-small-1 u-text-center u-hidden-small-down">
                        <span class="c-icon c-icon--arrow-left-slim"></span>
                    </div>
                    <div class="c-carousel__teaser-wrapper__pagination"></div>
                    <div class="c-carousel__teaser__next l-grid__column-small-1 u-text-center u-hidden-small-down">
                        <span class="c-icon c-icon--arrow-right-slim"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>