<div class="c-section l-container l-container--full-width {{bg-colour-offer}}">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-medium-10">
                <i class="c-icon c-icon--m c-icon--centered u-margin-bottom-s t-bg-white t-primary-action-dark c-icon--fill c-icon--product-{{> icon-master-save}}"></i>
                <h3 class="c-heading u-margin-bottom-2xs">{{{product-offer}}}</h3>
                <p class="c-copy"><strong>Please note:</strong> {{{stage-terms}}}</p>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-medium-9 l-grid__column-large-6">
                <div class="l-grid__row c-button-group">
                    <div class="l-grid__column-medium-6">
                        <a class="c-button c-button--extended">Get Quote</a>
                    </div>
                    <div class="l-grid__column-medium-6">
                        <a class="c-button c-button--secondary c-button--extended">Retrieve Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>