<div class="c-section l-container l-container--full-width {{bg-colour-standard-benefits}}">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-medium-10">
                <h3 class="c-heading u-margin-bottom-m">Standard benefits</h3>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-large-10 u-padding-bottom-md">
                {{> accordion-application-light-mockup}}
            </div>
        </div>
        <div class="l-grid__row justify-content-center u-margin-top-s">
            <div class="l-grid__column-medium-10">
                <p class="c-copy c-copy--medium u-margin-bottom-0">*Duis nec dui hendrerit, commodo leo vel, molestie justo. Suspendisse hendrerit eros et lectus ornare, non egestas ex mattis. Vivamus vehicula, felis vitae facilisis consequat, tellus nisi commodo est, quis dignissim sem ligula sit amet ipsum.</p>
            </div>
        </div>
    </div>
</div>
<div class="c-section l-container l-container--full-width {{bg-colour-optional-benefits}}">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-medium-10">
                <h3 class="c-heading u-margin-bottom-m">Optional benefits</h3>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-large-10 u-padding-bottom-md">
                {{> accordion-application-light-mockup}}
            </div>
        </div>
        <div class="l-grid__row justify-content-center u-margin-top-s">
            <div class="l-grid__column-medium-10">
                <p class="c-copy c-copy--medium u-margin-bottom-0">*Duis nec dui hendrerit, commodo leo vel, molestie justo. Suspendisse hendrerit eros et lectus ornare, non egestas ex mattis. Vivamus vehicula, felis vitae facilisis consequat, tellus nisi commodo est, quis dignissim sem ligula sit amet ipsum.</p>
            </div>
        </div>
    </div>
</div>
<div class="c-section l-container l-container--full-width {{bg-colour-exclusions}}">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-medium-10">
                <h3 class="c-heading u-margin-bottom-m">Significant exclusions</h3>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-large-10 u-padding-bottom-md">
                {{> accordion-light-mockup}}
            </div>
        </div>
        <div class="l-grid__row justify-content-center u-margin-top-s">
            <div class="l-grid__column-medium-10">
                <p class="c-copy u-margin-bottom-0"><strong>Please note:</strong> The above information does not reference all of the benefits, terms, conditions, limitations, exceptions and exclusions associated with the Policy. Please take time to read our Car Insurance Policy Document and to ensure that you understand the cover provided.</p>
            </div>
        </div>
    </div>
</div>