<div class="c-section l-container l-container--full-width">
    <div class="l-grid l-grid--max-width">
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-medium-12 l-grid__column-large-10 u-margin-bottom-2m">
                <h3 class="c-heading u-text-center">Content section</h3>
            </div>
        </div>
        <div class="l-grid__row justify-content-center">
            <div class="l-grid__column-medium-10">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>