@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(to bottom, $from 0%,$from 50%, $to 50%, $to 100%);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 );
}

@mixin gradient-60($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(to bottom, $from 0%,$from 60%, $to 60%, $to 100%);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 );
}
